@charset "UTF-8";
/* CSS Document */


.filaheader{float: left; width: 100%; background-color: #0062c4;}
.centroFilaHeader{width: 1200px; height: 35px; line-height: 35px; margin-left: calc(50% - 600px);}
.itemHeader{float: left; margin-right: 20px; color: #fff; font-family: 'Raleway-Bold';}
.itemHeader i{float: left; margin-right: 5px; line-height: 35px;}
.redesHeader{float: right;}
.redesHeader span{float: right; color: #fff; font-family: 'Raleway-Bold';}
.redesHeader a{float: right; color: #fff; line-height: 35px; margin-left: 20px;}

.btnSeguimiento i{ margin: 8px 2px 0 2px; float: left;}
.btnSeguimiento span{ margin: 0 2px;}
.masCategorias{float: left; font-size: 14px; color: #5f5f5f; font-family: 'Raleway-Bold'; margin: 32px 0 0 15px;}

.rojo{background-color: #ec5156;}




.whatsapp{float: right; margin-right: 10px; color: #8c8c8c; font-family: 'Raleway-Bold'; font-size: 16px; margin-top: 10px;}
.whatsapp span{float: left; margin-left: 5px;}
.whatsapp span i{font-size: 20px; color: #000;}

.contDireccionesMenu{float: right;}
.dirSantiago{float: right; width: 125px; margin-top: 5px;}
.dirSantiago span{float: left; width: 100%; font-size: 16px; color: #8c8c8c; font-family: 'Raleway-Bold'; line-height: 16px; }
.dirSantiago span.nomRegion{color: #5f5f5f; font-size: 12px;}

.menuDirecciones{float: right; margin: 0 20px 0 0; padding: 0; list-style-type: none; position: relative; margin-top: 10px;}
.menuDirecciones li{float: left; width: 100%; cursor: pointer;}
.menuDirecciones li:hover > ul{display: block;}
.tituloSubmenuDirecciones{float: left; width: 140px; color: #999; font-size: 14px; margin-right: 20px;}
.menuDirecciones ul{ width: 100%; position: absolute; left: 0; top: 20px; z-index: 9999; list-style-type: none; padding-left: 0; background-color: #fff; display: none;}
.menuDirecciones ul li{float: left; width: calc(100% - 16px); border-bottom: solid 1px #ccc; padding: 8px;}
.menuDirecciones ul li a{float: left; width: 100%;}
.menuDirecciones ul li a span{float: left; width: 100%; font-size: 16px; color: #8c8c8c; font-family: 'Raleway-Bold';}
.menuDirecciones ul li a span.nomRegion{color: #5f5f5f; font-size: 12px;}

.marca{float: left; width: calc(16.6666% - 20px); text-align: center; margin: 15px 10px; cursor: pointer;}
.marca img{float: left; width: 100%;}

.mapa{float: left; width: 100%; min-height: 300px; background-image: url(img/mapa.jpg); background-position: center center; background-repeat: no-repeat; background-color: #ededef;}


.fondoGris{background-color: #f5f6f7;}

.cintaSinStock{ width: 100%; position: absolute; left: 0; top: 0; color: #fff; font-size: 12px; background-color: #1f80d6; height: 35px;  line-height: 35px; z-index: 15; text-align: center; font-family: 'Raleway-Bold';  }


.galeriaImagenes .porcentajeDescuento{font-size: 15px; height: 25px; line-height: 25px; z-index: 5; text-align: center; padding: 0 15px; top: 2 left: 0px; }



.filtrosOrden.filtroColor{float: right; width: 160px;}
.filtrosOrden.filtroTalla{float: right; width: 140px;}


.ofertasLateral{float: left; width: calc(100% - 2px); border: solid 1px #154c9f; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; height: 40px; line-height: 40px; text-align: center; font-family: 'Raleway-Bold'; color: #154c9f; text-transform: uppercase; font-size: 16px; margin-bottom: 10px;}



.categoriasHome{padding-bottom: 30px;}

.grillasFicha .grilla .imgFila{padding-top: 20px; height: auto; width: 100%; position: relative;}
.grillasFicha .grilla .imgFila img{ float: left;}

.grillasFicha .grilla .btnGrilla{ width: 100%; margin-left: 0;}
.subCatHome a{float: left; width: calc(16.6% - 40px); padding: 10px 10px 0 10px; background-color: #f0f0f0; margin: 0 10px; border-radius: 5px; margin-bottom: 20px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}

.subCatHome a:hover{background-color: #ccc;}
.subCatHome a h4{float: left; width: 100%; text-align: center; margin: 0 0 10px 0; font-size: 18px; color: #5f5f5f; font-family: 'Raleway-Bold';}

.contGrillaPack{margin-bottom: 40px;}
.contGrillaPack .grilla2:nth-child(3){ margin-left: 24px; margin-right: 24px;}
.grilla2{float: left; width: calc(32% - 2px); border: solid 1px #ebebec;}
.imgGrilla2{float: left; background-color: #f9f9f9; padding: 20px; width: calc(100% - 40px);}
.btnGrilla2{width: calc(100% - 40px); margin-left: 20px; margin-bottom: 20px; height: 40px; background-color: #a0c31c; float: left; line-height: 40px; text-align: center; border-radius: 50px; -moz-border-radius: 50px; -webkit-border-radius: 50px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; color: #fff;}
.btnGrilla2:hover{background-color:#8ead18;}
.tituloGrilla2{font-size: 14px; width: calc(100% - 40px); margin-left: 20px; float: left; color: #5f5f5f; margin-bottom: 10px;}
.valorGrilla2{float: left; margin: 0 20px 15px 20px; color: #2eaadc; font-size: 24px; width: calc(100% - 40px); line-height: 21px; font-family: 'Raleway-Bold';}

.filaPreTitulo{float: left; width: 100%; margin-bottom: 5px; font-family: 'Raleway-Regular'; font-size: 12px; }
.conStock,
.sinStock{ font-family: 'Raleway-Regular'; float: left; font-size: 14px; color: #009be5; width: 100%; text-transform: uppercase; }
.sinStock{color: #ff0000;}

.separador{float: left; margin-right: 10px;}

#uniform-cantidad{margin-bottom: 0; border: solid #f2f2f2 1px;}

.filaTallaAgregar{float: left; width: 100%; margin-top: 20px;}
#uniform-talla{margin-bottom: 0; border: solid #f2f2f2 1px;}

.tablaTecnica{float: left; width: 100%; margin-top: 0px; color: #666; font-size: 14px;}
.tablaTecnica table {border-top: dashed 1px #ccc;}
.tablaTecnica table td {border-bottom: dashed 1px #ccc; padding: 10px 5px;}
.tablaTecnica table tr:nth-child(even) { background-color: #f2f2f2; }

.tablaTecnica ul{list-style-image: url(img/bullets.png); padding-left: 14px; margin-top: 0;}
.tablaTecnica ul li{ margin-bottom: 6px;}

.tituloInstalacion{float: left; width: 100%; margin: 0 0 10px 0; font-size: 16px; font-family: 'Raleway-Bold'; color: #5f5f5f;}
.filaAcciones label{float: left; width: auto;}
.titulosFicha{ color: #5f5f5f; font-size: 24px; font-family: 'Raleway-Bold';}
.contGarantias{ margin-bottom: 40px;}
.selloGarantia{float: left; width: auto; margin-right: 20px;}


.filaProductosPopUp{}


.nombreFilaPopUp a span.nombreMarca{ display: none;}

.totalIndividual{ color: #3366ff; font-family: 'Raleway-Bold'; }
.precioFila{float: left; width: 100%;  text-align: right; margin-bottom: 10px;}
.precioFila span{float: left;}
.precioFila span.antes{margin-left: 5px; color: #999; font-size: 11px; text-decoration: line-through;}
.precioFila span.conDescuento{float: left; margin-right: 2px; color: #1f80d6; font-size: 19px; line-height: 19px; font-family: 'Raleway-Black';}

.grillasFicha .precioFila{text-align: left;}
.grillasFicha .contInfoShowCart .nombreFila{font-size: 14px; color: #5f5f5f; margin-bottom: 10px; min-height: 40px;}

.eliminarCartPopUp{margin-top: 0px;}
.eliminarCartPopUp a{color: #ccc; text-decoration: underline; margin-top: 0px; text-transform: uppercase; position: absolute; z-index: 10; right: 0; top: -10px; cursor: pointer; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.eliminarCartPopUp a:hover{color: #5f5f5f;}

.acceso3 a.btnParrafo{background-color: transparent; text-decoration: underline; font-family: 'Raleway-Bold'; float: none; color: #009be5; width: auto; height: auto; display: contents;}
.subtitulo2 a{ color: #009be5; }
.descripcionesLateral{float: left; width: 100%; position: relative;}
.btnParrafo{color: #009be5; text-decoration: underline;}
.usos{float: left; width: 100%; margin-bottom: 0; position: absolute; top: 0; right: 0; z-index: 99;}
.uso{float: right; margin-left: 10px; width: 42px;}
.uso img{float: right; width: 100%;}



.btnAgregarSinStock{float: left; width: 70%; height: 42px; background-color: #ccc; line-height: 42px; margin-right: 10px; padding: 0; border-radius: 5px; color: #fff; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; text-align: center; font-family: 'Raleway-Bold'; font-size: 16px;}







/*EFECTO FORMULARIO INPUT PLACEHOLDER*/
.relative{position: relative;}
.bl_form {}
.bl_form input { }
.bl_form textarea { }

.lb_wrap .lb_label.top, .lb_wrap .lb_label.bottom {left: 10px !important;}
.lb_wrap{float: left; width: 100%; margin-top: 15px;}
.lb_wrap .lb_label.left {left: 0;}
.lb_label {color: #00599f; text-align: left; top: 25px!important; background-color: #fff; }
.lb_label.active {color: #00599f;}


.contRadios{float: left; width: 800px; margin-left: calc(50% - 400px); margin-top: 30px;}
.radioRegistro{float: left; margin-right:20px;}
.radioRegistro label{float: left; width:auto;}
.camposOcultos{display: none;}


.menuUsuarioheader{float: right; list-style-type: none; width: 48px;
    padding: 0;
    margin: 0px 0 0 10px;}
.menuUsuarioheader li{float: left; width: 100%; position: relative;}
.menuUsuarioheader li:hover > ul{display: block;}
.menuUsuarioheader li ul{list-style-type: none; position: absolute; z-index: 999; right: 0; top: 36px; background-color: #fff; border: solid 1px #dfe1e6; margin: 0; padding: 0; box-shadow: 0 0 10px #666; -moz-box-shadow: 0 0 10px #666; -webkit-box-shadow: 0 0 10px #666; display: none; width: 240px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;} 

.menuUsuarioheader li ul h4{float: left; width: calc(100% - 15px); margin: 10px 0 0 15px; font-size: 18px; color: #5f5f5f;}
.menuUsuarioheader li ul h5{float: left; width: calc(100% - 15px); margin: 0 0 20px 15px; font-size: 14px; color: #666;}

.menuUsuarioheader li ul li{float: left; width: calc(100% - 30px); padding: 0 15px;}
.menuUsuarioheader li ul li a{float: left; width: 100%; height: 50px; line-height: 50px; color: #999; font-size: 14px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.menuUsuarioheader li ul li a:hover{color: #5f5f5f;}

.contMiCarroSesionIniciada { float: right; text-align: center; margin:0px; height: 40px; color: #666; padding:0px; font-family: 'Raleway-Bold'; font-size: 14px; width: 100%;}

.iniciales{float: left; text-align: center; line-height: 28px; /*border-radius: 50px; -moz-border-radius: 50px; -webkit-border-radius: 50px;*/ color: #666; /*background-color: #f2f2f2;*/ margin-left: 5px;}
.iniciales i{/*line-height: 48px;*/ /*font-size: 37px;*/}
.contInicial{width: 32px; height: 32px; color: #fff; background-color: #273677; float: left; border-radius: 40px; -moz-border-radius: 40px; -webkit-border-radius: 40px; font-size: 18px; text-align: center; line-height: 32px; margin-top: 8px;}

.nombresCuenta{float: left; width: calc(100% - 38px); display: none;}
.nombresCuenta span{float: left; width: 100%; text-align: left; line-height: 15px;}


#formNuevaDireccion h2{font-size: 16px; margin-top: 0; font-family: 'Raleway-Black'; color: #252c39;}
.fechaPedido{ color: #4f4d51; /*font-family: 'Raleway-Bold';*/}

.precioOculto{display: none;}
.eliminarFilaGuardados{display: none;}

#contProductosGuardados .precioFilaGuardado{display: none;}
#contProductosGuardados .precioOculto { text-align: left; font-size: 19px; color: #1f80d6; font-family: 'Raleway-Bold'; display: block; float: left; width: 100%;}
#contProductosGuardados .nombreProdGuardados{font-size: 16px; color: #5f5f5f;}
#contProductosGuardados .moverAlCarroGuardados{color: #1f80d6; font-family: 'Raleway-Bold'; font-size: 14px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; text-decoration: underline; margin-top: 10px;}
#contProductosGuardados .moverAlCarroGuardados:hover{color: #024b85;}
#contProductosGuardados .separadorGuardados{display: none;}
#contProductosGuardados .eliminarFilaGuardadosOculto{display: block; position: absolute; right: 10px; top: 10px;}
#contProductosGuardados .filaProductos{position: relative; display: grid; grid-template-columns: 25% 75%; align-items: center;  }
#contProductosGuardados .filaProductos .imgFila img{ border: 1px solid #f6f6f6; max-width: 100px; }
#contProductosGuardados .breveDescripcion{display: none;}



.filaUsuariosAgregados{float: left; width: calc(100% - 42px); padding: 10px 20px; border: solid 1px #ccc; border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; margin-bottom: 1px;}
.filaUsuariosAgregados span{ float: left; font-size: 14px; color: #666; margin-right: 10px;}
.filaUsuariosAgregados .botonesEditar{float: right;}
.filaUsuariosAgregados .botonesEditar a{float: right; color: #3366ff; text-decoration: underline; margin-left: 10px;  font-family: 'nunitosemibold';}
.filaUsuariosAgregados .estadoUsuario{ float: left; width: 20px; height: 20px; border-radius: 30px; -moz-border-radius: 30px; -webkit-border-radius: 30px; margin: 5px 10px 0 0;}
.filaUsuariosAgregados .estadoUsuario.activo{background-color: #a0c31c;}
.filaUsuariosAgregados .estadoUsuario.inactivo{background-color: #e2261a;}

h3.subtitulo{font-family: 'Raleway-Bold'; font-size: 18px; color: #5f5f5f; margin: 0 0 20px 0; float: left; width: 100%;}
.contUsuariosRegistrados{margin-bottom: 40px;}

.conSinUauarios{float: left; border: dashed 2px #ccc; width: calc(100% - 4px); text-align: center; margin-right: 30%; margin: 0 0 50px 0; padding: 20px 0;}

.conSinUauarios h2{ font-size: 18px; color: #5f5f5f; font-family: 'Raleway-Bold';}
.conSinUauarios p{ font-size: 16px; color: #666;}
.nombreCheck{float: left; width: auto;}
#formActualizaUsuario .checker{float: left;}
.tituloOrdenPerfil{float: left; width: 100%; margin: -5px 0 5px 0; font-size: 18px; color: #999;}

.tituloOrdenPerfil strong{color: #4285F8;}

.contCentroCarro{float: left; width: 1190px; margin: 0 calc(50% - 590px); padding-top: 30px;}

.tituloMiCarro{float: left; width: 100%; font-size: 18px; color: #5f5f5f; margin: 0 0 20px 0; font-family: 'Raleway-Bold'; height: 52px; line-height: 52px; border-bottom: solid 1px #f2f2f2;}

.qtyCart{ display: none; position: absolute; z-index: 5; top: -8px; right: -8px; width: 18px; height: 18px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; color: #fff; background-color: #000; text-align: center; line-height: 20px; font-size: 12px;}

.eliminarCart{position: absolute; top: 0; right: 0; width: 30px;}
.eliminarCart2{position: absolute; top: 0; right: 0; width: 30px; text-align: right;}
.totalFila span.subtotal{float:left; font-family: 'nunito_sansextrabold'; font-size: 12px; line-height: 12px; color: #3366ff;}
.precioFila span.unitariosCarro{float:left; width:auto; font-size: 12px;  color: #e10613;}
.precioFila span.unitariosCarro.unitarioValor{float:left; font-family: 'nunito_sansextrabold'; line-height: 18px;  font-size: 18px; color: #e10613;}


.contSpinner{float: left; width: 80px;}
.guardarBTNCart{color: #3366ff; margin: 10px 0 0 0;}



.tituloBuscador{font-family: 'Raleway-Bold'; font-size: 20px; color: #5f5f5f;}

/* Compra RApida */
.contCompraRapida{ display: flex; border: 2px solid rgb(241, 241, 241); }
.carroContIzquierda{ display: flex; flex-flow: wrap; background-color: #fff; flex: 1 1 50%; padding: 30px;}
.carroContDerecha{ flex: 1 1 50%; padding: 30px; background-color: #f6f6f6;}
.contLogoCarro{ flex: 1 1 100%; display: flex; justify-content: center; padding: 0; }
.contLogoCarro img{width:100%; max-width: 220px; height: auto;}
.contDatosPasoEnvio{width: 100%; float: left;}
.contDatosPasoEnvio h2{float: left; width: 100%; margin: 0 0 0 0; font-size: 18px; color: #0078b1; margin-bottom: 20px; font-family: 'Raleway-Bold';}

.contFactura {float: left; width: calc(100% - 50px); margin-top: 10px; background: #f7f7f7; padding: 0 15px 15px 15px; position: relative; margin-right:5px; margin-left:5px;}
.contFactura h2{float:left; width:100%; margin:20px 0 0px 0; font-weight:300; font-size:18px; text-transform:uppercase;}
.contDatosFactura{float: left; width: 100%; background: #fff; position: relative; display: none;}
.contDatosFactura label {float: left; width: 100%; }

.contDatosPersonales label{ font-size: 16px; }
.contDatosPersonales input{ margin-bottom: 10px; }
.contDespacho{ display: flex; width: calc(100% - 32px); border: solid 1px #ccc; padding: 5px 15px; }
.ocultar{ opacity: 0; }

.contDatosPasoEnvio h2 span{float: left; width: 100%; margin-bottom: 2px;}
.contDatosPasoEnvio h2 a{float: left;}

.contDatosPasoEnvio h4{float: left; width: 100%; margin: 0 0 0 0; font-size: 14px; color: #666;} 
.contDatosPasoEnvio h4 a{color: #009be5; text-decoration: underline;}
.contInfoDespacho2{/*margin-top: 30px;*/ position: relative;}

#retiroDespacho{margin-top: 15px; float: left; width: 100%;}
.btnVerMiCarro{float: left; color:#009be5; font-size: 14px; font-family: 'Raleway-Bold';}
.btnSiguienteCarro1{float: left; width: 100%; height: 40px; line-height: 40px; text-align: center; text-transform: uppercase; background-color: #a0c31c; color: #fff;}

.contCorreoCarro{float: left; width: 70%;}
.contBtnValidarMail{float: right; width: 25%; margin-top: 5px; }

.btnValidarMail{float: right; width: 100%; height: 42px; color: #fff; background-color: #009be5; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; text-align: center; line-height: 42px; font-family: 'Raleway-Bold'; font-size: 16px; border-radius: 5px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.btnValidarMail:hover{background-color: #009be5;}
.contDireccion{ position: relative; float: left; }
.caluga-retiro{ display: none; }
.contFinalCompra{ position: relative; float: left; }
.parcheBlanco{ position: absolute; z-index: 5; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255,255,255, .7);}

.bloqueado{background-color: #ccc!important;}
.btnVolver{ margin-top: 10px; color: #009be5; font-family: 'Raleway-Bold'; font-size: 14px; }
.volverIcono{ padding-right: 10px;  font-size: 14px; font-family: 'Raleway-Regular'; line-height: 30px;}
.contbtnVolver2{ padding: 10px 0; }
.btnVolver2{ margin-top: 10px; color: #009be5; font-family: 'Raleway-Bold'; font-size: 12px; }

.filaResumen{float:left; width:100%; position: relative; border-bottom: solid 1px #ededed; padding: 10px 0; /*background-color: #e5edef;*/}
.marcaCarro{font-size: 12px; font-family: 'nunito_sansextrabold'; color: #7b7c7d;}

.contCantidadResumen{ float: right; text-align: center; width: 130px; }
.contCantidadResumen p{ margin: 0; padding-right: 15px; font-size: 12px; color: #1f80d6;}
.tituloCampoResumen{float: left; width: 100%; font-size: 16px; color: #4c4d50; font-family: 'Raleway-Bold';}
.valorCampoResumen{float: left; width: 100%; font-family: 'Raleway-Regular'; font-size: 14px; color: #999;}

.contMedioPago{float: left; display: flex; align-items: center; min-height: 50px; margin-right: 30px; width: 100%;}
.opcionesPago{margin-top: 30px; margin-bottom: 20px; padding: 0 15px; width: calc(100% - 30px);}
.opcionesPago h2{float: left; width: 100%; font-size: 14px;}
.mensajeMP{float: left; width: calc(100% - 60px); padding: 15px 30px; background-color: #3ab7ef; color: #fff; font-size: 13px; text-align: center;}


.contIzquierdaCampo{width: calc(70% - 60px); margin-left: 10px; float: left;}
.contDerechaCampo{width: 30%; float: left;}
.labelDirecciones{font-size: 10px; color: #1a58b5;}

.contInstalacion{float: left; width: auto;}

.tituloExito{float: left; width: 100%; text-align: center; font-size: 26px; color: #0078b1; font-family: 'Raleway-Bold';}
.ocExito{font-size: 16px; color: #1f80d6; font-family: 'Raleway-Regular'; }
.txtExito{float: left; width: calc(100% - 40px); padding: 0 20px; font-size: 16px; font-family: 'Raleway-Regular'; text-align: center; color: #333333; margin-bottom: 10px;}
.mensajePrincipal{padding-bottom: 20px; margin-bottom: 20px;}

.msjEmpresa{float: left; width: calc(100% - 40px); padding: 15px 20px; color: #fff; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; background-color: #ff9933; font-size: 14px;}

.centro404{display: flex; flex-wrap: wrap; justify-content: center;}
.centro404 article{text-align: center; width: 100%; }
.contBuscador404{ max-width: 500px; text-align: center; margin:auto; }

.contContactoDe{float: right; width: 28%;}
.contContactoDe a{float: left; width: 100%;}

.iconoMenu{display: none;}

/*====================================
=            Como comprar            =
====================================*/
.grillaComoComprar{float: left; width: 32%; margin-top: 20px;}
.grillaComoComprar:nth-child(2n){margin: 0 2%;  margin-top: 20px}
.contImgComoComprar{float: left; width: 100%; margin-bottom: 30px; box-shadow: 0 0 10px #ccc;}
.grillaComoComprar p{ color: #666; line-height: 24px; font-family: 'Raleway-Regular'; font-size: 16px; }
.contIconoComoComprar {text-align: center; margin-top: 45px;}

/*=====  End of Como comprar  ======*/



.contBusquedasSugeridas{margin-top: 30px; float: left; width: 100%;}
.contBusquedasSugeridas .tituloMiCarro{display: none;}


.grillaCatHome{float: left; width: calc(25% - 60px); padding: 0 30px;}
.grillaCategoria{float: left; width: 100%}
.iconoCategoria{float: left; width: 100%; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; margin-bottom: 20px;}
.nomIconoCat{float: left; width: 100%; text-align: center; color: #0b3d8b; font-size: 15px; min-height: 50px;  font-family: 'Raleway-Bold';}




.contFilasAccordeon{border-left: solid 1px #f2f2f2; border-top: solid 1px #f2f2f2; border-right: solid 1px #f2f2f2; float: left; width: 100%; margin-top: 30px;}
.filaAccordeon{float: left; width: 100%; background-color: #f7f7f7;}
.tituloFilaAccordeon{float: left; width: calc(100% - 40px); height: 52px; line-height: 52px; padding: 0 20px; border-bottom: solid 1px #f2f2f2; font-size: 14px; font-family: 'Raleway-Bold';}

.tituloFilaAccordeon i{float: right; margin: 10px 0 0 0; color: #aac936;}
.contDescricionesFicha{float: left; width: calc(70% - 60px); padding: 0 30px 30px 30px; display: none;}
.bannerOfertas{float: left; width: 100%; margin-bottom: 20px;}
.carroScroll{overflow-y: scroll; height: calc(100vh - 280px);}

.conFilasCarroEnvioYPago{float: left; width: calc(100% - 30px); overflow-y: scroll; max-height: calc(100vh - 120px); margin-left: 15px; margin-right: 15px; padding-right: 10px;}


.filaBanners{float: left; width: 100%;}


.btnCarroVacio{float: left; width: 70%; height: 48px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin-left: 15%; color: #fff; background-color: #009be5; margin-top: 10px; margin-bottom: 10px; text-align: center; line-height: 52px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; font-size: 14px; text-transform: uppercase;}
.btnCarroVacio{float:left; width:70%; height:42px; background-color: #009be5; line-height:42px; padding:0; color: #fff; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; text-align: center; font-family: 'Raleway-Bold'; font-size: 16px; border-radius: 5px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}

.btnCarroVacio:hover{background-color: #009be5;}


.sugeridosCarro .filaProductosVistos .contInfoShowCart {float: left; width: 100%; display: grid;}
.sugeridosCarro .filaProductosVistos .contInfoShowCart div:nth-of-type(1) { grid-row: 2; }
.filaProductosVistos .btnFicha{max-width: 400px; display: block; grid-row: 3;}
.sugeridosCarro .filaProductosVistos .btnGrilla{ height: auto; padding: 0; width: auto; margin:0; text-align: left; color: #5f5f5f; background: #fff; line-height: 20px;}
.sugeridosCarro .filaProductosVistos .porcentajeDescuento{font-size: 8px; padding: 0; height: 15px; line-height: 15px; top: 0; left: 0;}




.contBannerHojalateria{float: left; width: 100%; margin-top: 30px;}
.bannerHojalata1{float: left; width: 50%; position: relative;}
.bannerHojalata2{float: left; width: 50%; position: relative;}
.infoBanner{position: absolute; width: 100%; text-align: center; top: 35%;}
.infoBanner span{float: left; width: 100%; color: #fff; font-size: 24px; text-transform: uppercase; font-family: 'Raleway-Bold';}
.infoBanner a{float: left; width: 100%; color: #fff; font-size: 18px; text-transform: uppercase;}



.cumple{ float: left; width: 31%;}
.cumple:nth-child(2n){ margin: 0 2%;}
.FilaDatosUsuario{margin-bottom: 20px;}



.rangoNormal{background-image: url(tienda/radio.png); background-position: right center; background-repeat: no-repeat;}
.rangoNormal.filtroSeleccionado{background-image: url(tienda/radioCheked.png); }

.marcaNormal{background-image: url(tienda/checkbox.png); background-position: right center; background-repeat: no-repeat;}
.marcaNormal.filtroSeleccionado{background-image: url(tienda/checkboxCheked.png);}

.bannerInterior{float: left; width: 100%; margin-bottom: 10px;}

.calugaInfo{float: left; width: 33%; text-align: center;}
.iconoDespacho{float: left; width: 100%; margin-bottom: 10px; color: #0062c5; font-size: 30px;}
.iconoDespacho i{font-size: 30px;}
.tituloIconoDespacho{float: left; width: 100%; color: #666;}
.btnSimularDespacho{float: left; width: 100%; color: #0062c5; text-decoration: underline;}


.grillaHabitual{float: left; width: calc(25% - 16px); margin: 0 7px; border: solid 1px #eeeeee; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.imgGrillaHabitual{float: left; width: 79px; height: 79px; padding: 5px; border-right: solid 1px #eeeeee;}
.datosGrillaHabitual{float: left; width: calc(100% - 100px); margin-left:10px;}
.nombreH{ float: left; width: 100%; font-size: 14px; color: #5f5f5f; margin-top: 10px;}
.precioH{float: left; width: 100%; font-size: 18px; color: #ed8f3e; font-family: 'Raleway-Bold';}

.btnAgregarJuntos{float: right; width: 24%; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; height: 52px; text-align: center; line-height: 52px; background-color: #1a58b5; color: #fff; font-family: 'Raleway-Bold'; font-size: 16px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.btnAgregarJuntos:hover{background-color: #12499c;}
.m2{font-size: 24px; }
.precioCaja{float: left;width: 100%; font-size: 16px; color: #666;}
.msjValor{font-size: 12px; width: auto!important; color: #999;}

.contCalcM2{float: right; width: 50%; margin-top: 25px;}
.tipsM2{float: left; width: 100%; font-size: 12px; margin-bottom: 8px;}
#cantm2{float: left; height: 34px; border: solid 1px #ededed; width: 120px; text-align: center; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.btnCalcular{float: left; width: calc(100% - 146px); margin-left: 20px; height: 36px; background-color: #1a58b5; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; color: #fff; text-align: center; line-height: 38px;}
.btnCalcular:hover{ background-color: #0f49a0;}

.tituloColor{float: left; width: 100%; font-size: 16px; color: #5f5f5f; margin-bottom: 10px;}

.varianteColor{float: left; width: 24px; height: 24px; border: solid 6px #fff; border-radius: 30px; -moz-border-radius: 30px; -webkit-border-radius: 30px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; margin-right: 5px; }
.varianteColor:hover{border: solid 6px #dadce7;}
.currentColor{border: solid 6px #dadce7;}
.filaVariante{margin-top: 30px;}

.fondoSinResultado{background-color: #fff; padding: 30px 0; text-align: center;}

.sugeridosCarro .nombreFila{padding-right:30px; width: calc(100% - 30px);}
.sugeridosCarro .btn-lista-grilla{top: 0;}
.sugeridosCarro .precioFila{padding-right:30px; width: calc(100% - 30px);}

.filaCantidadAgregar div.selector span{font-size: 14px; color: #9b9a99!important; font-family: 'Raleway-Medium';}

.tipoDespacho{float: left; margin-right: 50px; width: 81px; margin-top: 15px; margin-bottom: 10px;}
.circulo{float: left; width: 75px; height: 75px; border: solid 3px #eeeeee; border-radius: 100px; -moz-border-radius: 100px; -webkit-border-radius: 100px; text-align: center; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; margin-bottom: 10px;}

.tipoDespacho:hover > .circulo{ border: solid 3px #3366cc;}
.tipoDespacho.activo .circulo{ border: solid 3px #3366cc;}


.txtCirculo{float: left; width: 100%; text-align: center; font-family: 'Raleway-Bold'; color: #999; font-size: 14px; margin-top: 20px; line-height: 15px;}
.valorDespacho{float: left; width: 100%; text-align: center; font-size: 16px; color: #666; font-family: 'Raleway-Bold';}
.contCarga{float: left; width: 100%; min-height: 10px; font-size: 14px; color: #999; margin-bottom: 20px;}

.btnTabs{background-color: #f9f6fe; height: 50px; border-bottom: solid 1px #f9f6fe; width: 50%; text-align: center;} 


.contIntBtn{display: inline-block;}
.contIcono{text-align: center; margin-top: 13px; float: left;}
.contIcono i{color: #999;}
.nomtabs{text-align: center; color: #5f5f5f; float: left; text-transform: uppercase; font-size: 14px; margin-left: 10px; margin-top: 17px;}

.btnTabs.btnTabsActivo{background-color: #f4f1fa; border-bottom: solid 1px #00599f;}
.btnTabs.btnTabsActivo .contIcono i{color: #00599f;}
.btnTabs.btnTabsActivo .nomtabs{color: #00599f;}
.contTabsNuevos{margin-bottom: 20px;}

.mensajeDespachoCarro{float: left; width: 100%; font-size: 12px; color: #5f5f5f; margin-bottom: 20px;}


.btnRetiro{margin: 10px 0;}

.btnRetiro a{float: left; margin-right: 20px; width: 180px; height: 48px; border: solid 1px #009be5; text-align: center; line-height: 48px; font-size: 16px; font-family: 'Raleway-Bold'; color: #009be5; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}

.btnRetiro a:hover{background-color: #009be5; color: #fff; }
.btnRetiro a.activo{background-color: #009be5; color: #fff; }

.centrado{text-align: center;}
.iconoFracaso{float: left; width: 100%; text-align: center; margin-top: -25px;}
.iconoFracaso i{font-size: 70px; color: #e10613; border-radius: 50px; border: 4px solid #e10613}


.iconoExito{float: left; width: 100%; text-align: center; margin-top: -30px;}
.iconoExito i{font-size: 70px; color: #00ac00; border-radius: 50px; border: 4px solid #00ac00}


.fondoPopUpDespacho{position: fixed; z-index: 999; background-color: rgba(0,0,0, .6); width: 100%; height: 100%; top: 0; left: 0; display: none;}
.popUpDespacho{width: calc(60% - 200px); margin-left: 20%; border-radius: 5px; background-color: #fff; padding: 20px 100px; min-height: 220px; margin-top: 10%; position: relative;}

.popUpDespacho h2{ float: left; width: 100%; margin-top: 0; color: #1a58b5; font-family: 'Raleway-Bold';}
.popUpDespacho span{ float: left; margin-right: 5px;}
.cerrarPopUpCostoDespacho{position: absolute; top:20px; right: 20px;}
.valoresDespachoPop{border-top: solid 1ox #ccc;}
.valoresDespachoPop span{float: right; font-family: 'Raleway-Bold';}
.valorCosto{font-size: 24px; color: #ed8f3e;}
.nomCosto{font-size: 16px; color: #1a58b5; margin-right: 10px; margin-top: 5px;}




.fondoPopUpTraking{position: fixed; z-index: 999; background-color: rgba(0,0,0, .6); width: 100%; height: 100%; top: 0; left: 0; display: none;}
.centroPopUpTraking{width: 580px; margin-left: calc(50% - 320px); border-radius: 5px; background-color: #fff; padding: 30px; margin-top: 10%; position: relative;}
.cerrarPopUpTraking{position: absolute; top:20px; right: 20px;}
.formPopUp{float: left; width: 100%;}
.centroPopUpTraking h2{ float: left; width: 100%; margin-top: 0; color: #666; font-family: 'Raleway-Bold';}
.btnBuscarPedido{float: right; height: 48px; width: 180px; text-align: center; line-height: 48px; font-family: 'Raleway-Bold'; font-size: 16px; color:#fff; background-color: #27347c; border-radius: 50px; -moz-border-radius: 50px; -webkit-border-radius: 50px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.btnBuscarPedido:hover{background-color: #142061;}

.traking{float: left; width: 100%; display: none; position: relative;}

.pasoTraking {float: left; width: 25%; text-align: center;}
.iconoTraking{float: left; width: 100%;}
.iconoTraking i{ color: #ccc; font-size: 30px;}
.tituloTraking{float: left; width: 100%; margin: 30px 0; color: #ccc; font-size: 12px; }

.pasoTraking.pasoActivo .iconoTraking i {color: #0062c5;}
.pasoTraking.pasoActivo .tituloTraking {color: #5f5f5f; font-family: 'Raleway-Bold';}

.centroPopUpTraking h2.tituloSeguimiento{margin-bottom: 30px; color: #5f5f5f;}

.progreso1{position: absolute; z-index: 99; height: 2px; width: 90px; background-color: #ccc; top: 70px; left: 103px;}
.progreso2{position: absolute; z-index: 99; height: 2px; width: 90px; background-color: #ccc; top: 70px; left: 250px;}
.progreso3{position: absolute; z-index: 99; height: 2px; width: 90px; background-color: #ccc; top: 70px; left: 393px;}

.progreso1.pasoActivo,
.progreso2.pasoActivo,
.progreso3.pasoActivo{background: rgba(99,171,237,1);
background: -moz-linear-gradient(left, rgba(99,171,237,1) 0%, rgba(99,171,237,1) 3%, rgba(0,99,197,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(99,171,237,1)), color-stop(3%, rgba(99,171,237,1)), color-stop(100%, rgba(0,99,197,1)));
background: -webkit-linear-gradient(left, rgba(99,171,237,1) 0%, rgba(99,171,237,1) 3%, rgba(0,99,197,1) 100%);
background: -o-linear-gradient(left, rgba(99,171,237,1) 0%, rgba(99,171,237,1) 3%, rgba(0,99,197,1) 100%);
background: -ms-linear-gradient(left, rgba(99,171,237,1) 0%, rgba(99,171,237,1) 3%, rgba(0,99,197,1) 100%);
background: linear-gradient(to right, rgba(99,171,237,1) 0%, rgba(99,171,237,1) 3%, rgba(0,99,197,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63abed', endColorstr='#0063c5', GradientType=1 );}



.datosHeaderContacto{float: left; height: 70px; line-height: 70px; font-family: 'Raleway-Bold'; font-size: 12px; width: calc(50% - 55px);}
.datosHeaderContacto a{float: left;}
.datosHeaderContacto span{float: left; margin: 0 10px;}

.owl-carousel{float: left;}

.contNews{background-color: #f1f2f5; color: #5f5f5f; padding: 30px 0; margin-top: 30px;}
.tituloNews1{float: left; width: 100%; font-size: 36px; }
.tituloNews2{float: left; width: 100%; font-size: 36px;  font-style: italic;}





.colBanner{float: left; width: 50%;}
.colBannerTextos{float: left; width: 300px; margin-left: 100px;}
.colBannerTextos p{float: left; 100%; color: #666; margin: 0 0 20px 0; line-height: 25px;}
.colBannerTextos a{float: left; font-family: 'Raleway-Bold'; font-size: 14px; text-transform: uppercase;  text-align: center; width: 180px; height: 52px; line-height: 52px; background-color: #273677; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; color: #fff; border-radius: 55px; -moz-border-radius: 55px; -webkit-border-radius: 55px;}
.colBannerTextos a:hover{background-color:#162566;}

.contMarcas{ display: flex; flex-wrap: wrap; }

.contHome50-1{float: left; width: calc(50% - 10px); margin-right: 10px;}
.contHome50-2{float: left; width: calc(50% - 10px); margin-left: 10px;}

.contHome50-1 a{float: left; width: 100%; position: relative;}
.contHome50-2 a{float: left; width: 100%; position: relative;}

.bannerTienda{background-position: center top; background-repeat: no-repeat; height: 400px; margin-top: 30px;}

.tituloTienda{float: left; width: 100%; text-align: center; font-size: 36px; color: #fff; margin-top: 40px; margin-bottom: 30px;}
.tituloTienda span{float: left; width: 100%; }
.tituloTienda1{}
.tituloTienda2{ font-style: italic;}

.grillaTienda{float: left; width: 21%; margin-left: 2%; margin-right: 2%;}
.grillaTienda span{float: left; width: 100%;  text-align: center; color: #fff; font-size: 18px; font-family: 'Raleway-Bold'; margin-bottom: 15px;}
.contBtnTienda{text-align: center;  margin-top: 10px;}
.contBtnTienda a{display: inline-block; width: 175px; height: 48px; border: solid 2px #fff; border-radius: 50px; -moz-border-radius: 50px; -webkit-border-radius: 50px; line-height: 48px; color: #fff; font-family: 'Raleway-Bold'; font-size: 14px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}

.contBtnTienda a:hover{border: solid 2px #ccc; color: #ccc;}



.contImgSomos{width: 580px; float: left; margin-right: 120px;}
.contTxtSomos{float: left; width: calc(100% - 700px);}
.contTxtSomos p{float: left; width: 100%; font-size: 14px; line-height: 24px; color: #666;}
.infoSomos{margin-top: 40px;}
.tituloDestacadoSomos{float: left; width: 100%;font-size: 36px; color: #5f5f5f;  margin-bottom: 20px;}
.tituloDestacadoSomos span{float: left; margin-right: 10px;}
.tituloDestacadoSomos span.italica{ font-style: italic;}





.buscarInterior{float: left; width: 580px; margin-left: calc(50% - 290px); margin-top: 30px;}
.buscarInterior form{float: left; width: 100%; border: solid 1px #1b2560; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; overflow: hidden;}
.buscarInterior .campo_buscador{background-color: #fff;}
.buscarInterior .btn_search{background-color: #fff;}


.contDescripciones{float: left; width: 100%; background-color: #fff; margin: 40px 0; }
.descripcionCont { border-bottom: 2px solid #f1f1f3; }
.tituloFicha{float: left; width: 100%; margin: 0 0 15px 0; font-size: 18px; color: #5f5f5f; }
.contDescripcion{float: left; width: 100%; color: #666;}
.contDescripcion p{float: left; width: 100%; line-height: 21px; font-size: 14px;}
.imgMediosResponsive{float: left; width: 100%;}

.menuTerminos{ border-top: solid 1px #d8d8d8; padding: 20px 0; margin-top: 15px;}
.menuTerminos a{float: left; color: #d8d8d8; margin-right: 20px; font-size: 12px; color: #999; }


.contFracaso{float: left; width: 600px; margin-left: calc(50% - 301px); margin-top: 70px; padding-bottom: 30px; background-color: #f1f1f3; border: 2px solid #0078b1; }

.centroExito{ display: flex; flex-direction: column; justify-content: center; background-color: #f1f1f3; text-align: justify;  width: 590px; margin-left: calc(50% - 270px); margin-top: 50px; padding-bottom: 30px; border: 2px solid #0078b1;}

.filaExito{float: left; width: 100%; margin-bottom: 20px;}

#cerrarBuscadorHeader{float: right; width: 53px; height: 53px; text-align: center; line-height: 53px; display: none;}
#cerrarBuscadorHeader i{line-height: 53px; color: #5f5f5f;}

.btnBorrarFiltros{font-size: 14px; color:#273677; float: right; height: 40px; line-height: 40px; margin-top: 15px;}


/*Fichas productos similares*/
.crecer{ height: 100px; }
.columnaSimilares{float: left; width: 20%;}
.contFoto{float: left; width: 100%; max-height: 220px; border: 1px solid #ccc;}
.contFoto2{float: left; width: 100%; height: 212px;}
.contFoto a{float: left; width: calc(100% - 20px); padding: 10px;}
.contFoto a img{float: left; width: 100%; height: 190px;}
.contNombreSimilar{height: 75px; float: left; width: 100%;}
.contNombreSimilar span{float: left; width: calc(100% - 30px); color: #000; margin: 15px; font-size: 14px; font-family: 'nunito_sansextrabold'; text-transform: uppercase;}
.datosProductosSimilares{float: left; width: calc(100% - 1px); border-top: solid 1px #d8d8d8; border-left: solid 1px #d8d8d8;}
.datosProductosSimilares:last-child{width: calc(100% - 2px); border-right: solid 1px #d8d8d8;}
.filaDatosSimilares{float: left; width: 100%; border-bottom: solid 1px #d8d8d8; min-height: 54px;}
.filaDatosSimilares span{float: left; width: calc(100% - 30px); padding: 15px 15px 15px 15px;}
.titulosSimilares .filaDatosSimilares span{ font-size: 16px; color: #5f5f5f; }
.fondoDestacadoSimilar{background-color: #f1f1f1;}
.titulosSimilares .filaDatosSimilares span.precioNormal {font-family: 'Raleway-Bold'; color:#666; font-size: 15px;}
.titulosSimilares .filaDatosSimilares span.precioOferta {font-family: 'Raleway-Bold'; color:#e10613}
.titulosSimilares .filaDatosSimilares span.stockDisponible {font-family: 'Raleway-Bold'; color:#009be5; font-size: 15px;}
.titulosSimilares .filaDatosSimilares span.stockNoDisponible {font-family: 'Raleway-Bold'; color:#e10613; font-size: 15px;}
.titulosSimilares .filaDatosSimilares p{float: left; width: calc(100% - 30px); padding: 15px; margin: 0;}
.filaResumenCarro{background-color: #f6f6f6; border: solid 1px #1f80d6; margin-top: -1px;}
.iconoFilaResumen span{color:#1f80d6;}


.editarCampoResumen{float: right; color: #1f80d6; font-size: 10px; font-family: 'Raleway-Bold';  margin-top: 20px; margin-right: 20px; text-decoration: underline;}
.iconoFilaResumen{float: left; width: 50px; height: 50px; background-color: #f6f6f6; border-radius: 50px; -moz-border-radius: 50px; -webkit-border-radius: 50px; text-align: center; line-height: 65px;}


/*Fichas productos similares*/






.crearCuentaDesdeExito h2{font-size: 18px; color: #5f5f5f; font-family: 'Raleway-Bold'; margin-bottom: 20px;}
.btnCuentaExito{height: 42px; line-height: 42px; width: 200px; background-color: #009be5; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; color: #fff; border-radius: 5px; text-align: center; display: inline-block; font-family: 'Raleway-Bold'; font-size: 16px; padding: 0 30px; border: none; cursor:pointer; }
.btnCuentaExito:hover{background: #009be5;}

.crearCuentaDesdeExito p{font-family: 'Raleway-Regular'; font-weight: bold; float: left; width: calc(100% - 40px); line-height : 5px; font-size: 16px; padding: 0 20px; margin: 0 0 20px 0;}

.nombreColorLateral{float: left;}
.iconoColorLateral{float: left; margin-left: 10px; width: 20px; height: 20px; margin-top: 5px; border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px;}



#home-map {background: #485567; padding: 45px 0 60px; color: #9ea4aa;}
.relative {position: relative;}
.absolute { position: absolute;}
.container {width: 1180px; margin: 0 auto; max-width: calc(100% - 40px); box-sizing: border-box; outline: none;} 
.map{float: left;}
.map-title{float: left; width: 100%; text-align: center; font-size: 30px; color: #fff;}
.map-title.fs16{font-size: 20px;}
.ubicacion { width: 30px; height: 30px;}
.inline-block { display: inline-block;}
.ubicacion .punto, .ubicacion .punto-explode { width: 7px;  height: 7px;  background: #4caaff; top: calc(50% - 3.5px); left: calc(50% - 3.5px);}

.ubicacion .ubicacion-detalles {background-color: #338eff; line-height: 14px; box-shadow: 0 1px 1px rgb(0 0 0 / 30%); top: -100px; left: 50%; transform: translateX(-50%) translateY(-20px); transition: visibility 300ms, opacity 300ms, transform 500ms ease-out; opacity: 0; visibility: hidden; line-height: 18px; width: 160px;}
.ubicacion:hover .punto-explode { -moz-animation: mapaanim 2000ms linear infinite; -webkit-animation: mapaanim 2000ms linear infinite;}
.ubicacion:hover .ubicacion-detalles {transform: translateX(-50%) translateY(0); opacity: 1; visibility: visible;}
.whitefont {color: #fff;}
.regpad {padding: 10px;}
.rounded {border-radius: 999px;}
.ubicacion-detalles:after {
    content: " ";
    border-top: 8px solid #338eff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    position: absolute;
    bottom: -8px;
    right: calc(50% - 8px);
}



.contFondoBlogger{float: left; width: 100%; height: 300px; background-size: cover; background-position: center center; margin-bottom: 20px;}
.contFondoBlogger p{float: left; width: 100%; margin: 0;}

.contFondoBlogger h3{float: left; width: 100%; text-align: center; color: #fff; font-size: 40px; font-family: 'Raleway-Bold'; margin: 100px 0 20px 0;}
.decripcionBlogger{float: left; width: 60%; margin-left: 20%; text-align: center; color: #fff; font-size: 20px;}


.linkBlog{color:#fff; display: inline-block; text-transform: uppercase; margin-top: 10px;}
.linkBlog span{text-decoration: underline;}





.grillaEntrada{float: left; width: calc(33.3333% - 12px); border: solid 1px #ccc; margin-left: 5px; margin-right: 5px; margin-bottom: 20px;}
.headEntrada{float: left; padding: 15px; width: calc(100% - 30px);}
.thumbsAutor{width: 40px; height: 40px; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; background-position: center center; background-size: cover; margin-right: 15px; float: left;}

.tituloEntradaGrilla{float: left; width: calc(100% - 55px); color: #0b3d8c; font-family: 'Raleway-Bold'; font-size: 20px;}

.imgPortadaGrilla{float: left; width: 100%;}
.contDatosGrillaEntrada{float: left; width: calc(100% - 30px); padding: 15px;}
.bajadaEntradaGrilla{float: left; width: 100%; margin-bottom: 10px;}
.bajadaEntradaGrilla p{float: left; width: 100%; margin: 0;}
.btnGrillaBlog{float: left; color: #00599f; text-transform: uppercase; font-size: 14px; font-family: 'Raleway-Bold'; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.btnGrillaBlog:hover{color: #034273;}

.btnVerTodoBlog{float: right; height: 48px; padding: 0 70px; line-height: 48px; color: #fff; text-transform: uppercase; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; background-color: #00599f; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; font-family: 'Raleway-Bold'; margin-top: 20px;}
.btnVerTodoBlog:hover{background-color: #03477d:}

.grillaSucursales{float: left; width: calc(25% - 20px); margin: 0 10px; position: relative;}
.datosGrillaSucursal{position: absolute; width: 90%; left: 5%; bottom: 20px;}
.direccionSucursalGrilla{float: left; width: 100%; color: #fff; font-size: 14px; font-family: 'latolight';}
.direccionSucursalGrilla span{float: left;}
.direccionSucursalGrilla i{float: left; margin-right: 5px; color: #ff0000;}
.btnGrillaSucursal{float: left; width: 100%; height: 48px; line-height: 48px; background-color: #00599f; color: #fff; text-transform: uppercase; font-size: 16px; font-family: 'Raleway-Bold'; margin-top: 20px; text-align: center; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.btnGrillaSucursal:hover{background-color: #034070;}




.grillaDestacados{float: left; width: 32.3333%; position: relative; margin-bottom: 20px;}
.grillaDestacados:nth-child(2n){margin-left: 1.5%; margin-right: 1.5%; }
.contInfoDestacados{position: absolute; bottom: 20px; left: 0; width: calc(100% - 30px); padding: 15px; background-color: rgba(0,0,0, .6);}
.tituloDestacado{float: left; width: 100%; color: #fff; font-family: 'latolight'; font-size: 14px; text-transform: uppercase;}
.subtituloDestacado{float: left; width: 100%; color: #fff; font-family: 'Raleway-Bold'; text-transform: uppercase;}
.btnDestacados{float: left; color: #fff; font-size: 14px; text-decoration: underline;}





.fila1Blog{margin-bottom: 20px;}
.contMenuBlog{text-align: center; border-bottom: solid 1px #ebebeb; padding-bottom: 15px; margin-bottom: 20px;}
.contMenuBlog a{display: inline-block; padding: 0 20px; font-family: 'Raleway-Bold'; font-size: 16px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}

.contMenuBlog a:hover{ color: #0b3d8c;}
.contMenuBlog a.seleccionada{color: #0b3d8c;}

.grillaDestacadaBlog{float: left; width: calc(70% - 12px); margin-right: 10px; border: solid 1px #ebebeb;}
.imgGrillaDestacada{float: left; width: calc(50% - 10px); margin-right: 10px;}
.imgGrillaDestacada img{float: left; width: 100%;}

.infoGrillaDestacado{float: left; width: calc(50% - 25px); margin-left: 10px;}



.columnaUltimasEntradas{float: left; width: calc(30% - 42px); border: solid 1px #ebebeb; padding: 15px; margin-left: 10px;}

.columnaUltimasEntradas h3{float: left; width: 100%; color: #0b3d8c; font-family: 'Raleway-Bold'; font-size: 20px; margin: 0; padding: 0 0 15px 0; border-bottom: solid 1px #ebebeb;}
.grillaUltimasEntradas{float: left; width: 100%; margin-bottom: 20px;}
.imgUltimasEntradas{float: left; width: calc(50% - 20px); margin-right: 20px;}
.imgUltimasEntradas img{float: left; width: 100%;}
.contTinfoUltimasEntradas{float: left; width: 50%;}
.tituloUltimasEntradas{float: left; width: 100%; color: #0b3d8c; font-family: 'Raleway-Bold'; font-size: 20px;}


.desarrolloEntrada{float: left; width: calc(70% - 12px);}

.desarrolloEntrada p{float: left; width: 100%; font-size: 16px; color: #999; margin: 0 0 20px 0;}
.desarrolloEntrada strong{font-family: 'Raleway-Bold';}
.desarrolloEntrada h2{float: left; width: 100%; color: #0b3d8c; font-family: 'Raleway-Bold'; font-size: 20px;
    margin: 0; padding: 0 0 15px 0;}






.filtrosDesktop {float: left; width: 248px; margin-right: 20px; border: solid 1px #ebebeb; background-color: #fff;}

.filtros {float: left; width: 100%; font-size: 16px;}
.contenedorFiltroLateral {float: left;  width: 100%; }
.tituloFiltro {float: left; width: 100%; font-size: 16px; color: #5f5f5f; font-family: 'Raleway-Bold'; margin-bottom: 10px;}
.listadoMarcas {float: left; width: 100%; list-style-type: none; padding: 0; margin: 0; overflow-y: scroll; max-height: 140px;}
.listadoMarcas li {float: left; width: 100%; margin-bottom: 8px;}
.listadoMarcas li a {float: left; width: calc(100% - 20px); color: #5f5f5f; font-size: 14px; background-image: url(img/radio.png); /*background-position: left 4px;*/  background-repeat: no-repeat; padding: 0 0 4px 20px}
.listadoMarcas li a:hover{color: #5f5f5f;}
.listadoMarcas li a.activo{background-image: url(img/radioCheked.png);}
.listadoMarcas::-webkit-scrollbar {
    width: 7px;
}
.listadoMarcas::-webkit-scrollbar-thumb {
    background: #1b75c5;
    border-radius: 5px;
}

.scroll-rojo::-webkit-scrollbar {
    width: 7px;
}
.scroll-rojo::-webkit-scrollbar-thumb {
    background: #009be5;
    border-radius: 5px;
}

.ofertasLateral { -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;float: left; width: calc(100% - 2px); border: solid 1px #009be5; font-family: 'Raleway-Bold'; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; height: 48px; line-height: 48px; text-align: center; color: #fff; text-transform: uppercase; font-size: 14px; margin-bottom: 10px; background-color: #009be5;}

.ofertasLateral:hover {background-color: #009be5}


.fondoBannerLinea{ height: 180px; background-position: left top; background-size: cover; background-repeat: no-repeat; color: #fff;}
.fondoBannerLinea h3{float: left; width: 100%; text-transform: uppercase; font-size: 34px; font-family: 'Raleway-Bold'; margin: 0 0 0 0;}
.descripcionLinea{float: left; width: 50%; font-size: 14px;}
.descripcionLinea p{float: left; width: 100%; margin: 0 0 10px 0;}





.tituloLetra{float: left; width: 100%; margin: 40px 0 20px 0; font-family: 'Raleway-Bold';}
.botonLetra{float: left; width: calc(33.3333% - 10px); margin-bottom: 5px; font-size: 16px; color: #4a4a4a; padding-left: 10px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.botonLetra:hover{color: #0b3d8c;}

.masP{float: left; width: 240px; height: 48px; text-align: center; line-height: 48px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; background-color: #00599f; color: #fff; font-size: 16px;}

.contLetras{float: left; width: calc(100% - 260px); margin-left: 20px;}
.contLetras a{float: left; font-size: 22px; font-family: 'Raleway-Bold'; color: #666; margin-left: 10px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.contLetras a:hover{color: #00599f;}
.contTituloPrincipal{margin-bottom: 40px;}

.letraMenuDesactivada{color: #ccc!important;}



.tabsGenerico{float: left; width: calc(100% - 40px); padding: 20px; display: none;}

.descripcionesLateral h3{font-family: "Raleway-Bold"; font-size: 16px; color:#0078b1; float: left; width: 100%; margin: 10px 0 10px 0;}
.contDescripcionLateral{ font-family: "Raleway-Regular"; font-size: 14px; color: #7d7d7d; float: left; width: 100%;}
.contDescripcionLateral p{text-align: justify; float: left; width: 100%; margin: 0 0 10px 0;}





.col1-50{float: left; width: calc(50% - 10px); margin-right: 10px;}
.col2-50{float: left; width: calc(50% - 10px); margin-left: 10px;}
.iconosDirecciones a.editarDireccion{text-transform: uppercase; font-size: 10px; font-family: 'Raleway-Bold'; color: #009be5;}
.iconosDirecciones a.deleteDireccion{text-transform: uppercase; font-size: 10px; font-family: 'Raleway-Bold'; color: #a3a3a3;}
.direcciones h2{float: left; width: 100%; margin: 0 0 20px 0;}


.contBloque1Historia{float: left; width: 100%; position: relative;}
.contBloque1Historia img{float: left;}
.datosHistoria{position: absolute; z-index: 99; left: 30px; top: 50px; width: 40%;}
.datosHistoria h3{float: left; width: 100%; font-size: 40px; color: #fff; margin: 0 0 20px 0; font-family: 'Raleway-Bold';}
.datosHistoria p{float: left; width: 100%; font-size: 16px; color: #fff; margin: 0; line-height: 26px;}



.fondoNuevosProductos{background-image: url(img/bannerNuevosProductos.jpg); background-position: top center;
    background-repeat: no-repeat; background-size: cover; min-height: 180px;}


h1.nombreNuevos {float: left; width: 100%; margin-top: 0; font-size: 34px; color: #fff; text-align: center; text-transform: uppercase; margin-top: 90px;}


.grillaSucursalesInterior{float: left; width: 50%; padding: 0; margin-bottom: 30px;}
.grillaSucursalesInterior h2{ font-family: 'Raleway-Bold'; font-size: 18px; }
.grillaSucursalesInterior p{ font-family: 'Raleway-Regular'; font-size: 16px; }
.imgSucursalInterior{float: left; width: 280px;}
.imgSucursalInterior img{float: left; width: 100%;}
.datosGrillaSucursalInterior{float: left; margin-left: 20px; width: calc(100% - 330px); margin-top: 80px;}

.datosGrillaSucursalInterior .nombreDireccion{font-size: 16px; color: #5f5f5f; font-family: 'Raleway-Bold';}
.datosGrillaSucursalInterior .direccionSucursalGrilla{font-size: 16px; color: #5f5f5f;}






.contCentroPagFijas{float: left; width: 600px; margin-left: calc(50% - 300px); color: #5f5f5f; font-size: 16px; line-height: 24px;}
.contCentroPagFijas p{float: left; width: 100%; margin: 0 0 15px 0;}
.contCentroPagFijas .tituloContacto{ font-family: 'Raleway-Bold'; font-size: 26px; color: #0078b1; text-align: center; margin-bottom: 10px;}
.contCentroPagFijas .subtituloContacto{ text-align: center; }
.contCentroPagFijas h4{float: left; width: 100%; color:#0a3c8a; font-family: 'Raleway-Bold'; margin: 0 0 20px 0;}

/*=================================
=            SERVICIOS            =
=================================*/
.contTerminos { display: grid; grid-template-columns: 35% 60%; float: left; }
.contTextosFijosMenu{ padding-top: 15px; float: left; width: calc(100% - 20px); margin-right: 20px;}
.contTextosFijosMenu h5{float: left; width: 100%; color: #5f5f5f;font-size: 16px; margin-bottom: 20px; }
.contTextosFijosMenu a{ float: left; width: 100%; color: #0078b1; font-size: 16px; margin-bottom: 15px; font-family: 'Raleway-Medium'; }

/*=================================
=            SERVICIOS            =
=================================*/
.contServicios{flex-basis:1020px; display: flex; justify-content: center; flex-wrap: wrap; }
.servContenido{ flex-basis: 680px;}
.servFormulario{ flex-basis: 320px; box-sizing: border-box; margin-left: 40px; display: flex; justify-content: center;}
.contServicioForm form{ box-sizing: border-box; max-width: 320px; border: 1px solid #e7e7e7; padding: 30px; }
.servContenido p{ font-family: 'Raleway-Regular'; font-size: 16px; text-align: justify; margin: 30px 0;}
.servContenido img{ width: 100%; height: auto; }
.serviciosPag p{ width: 100%; text-align: justify; font-family: 'Raleway-Regular'; font-size: 16px;}
.tituloServicios{ text-align: left; color: #0078b1; font-family: 'Raleway-Bold'; font-size: 26px; margin: 30px 0px; }
/*=====  End of SERVICIOS  ======*/




/*====================================
=            ENCUENTRANOS            =
====================================*/
.encuentranosCont{ padding-bottom: 40px; }
.tituloEncuentranos{ font-family: 'nunito_sansextrabold'; font-size: 26px; color: #4c4d50; }
.encuentranosCont h2{ font-family: 'Raleway-Bold'; font-size: 18px; color: #4c4d50; }
.encuentranosCont p{ font-family: 'Raleway-Regular'; font-size: 16px; color: #7b7c7d; }
.btnNosotros{ padding: 10px 32px; border: 2px solid #009be5; background-color: #009be5; font-family: 'Raleway-Bold'; font-size: 16px; color: #fff;}
.seccionEncuentranos p{ line-height: 8px; }
/*=====  End of ENCUENTRANOS  ======*/


.datosContactoServ span{float: left; width: 100%;}
.datosContactoServ a{float: left; color: #00599f;}

.contContactoIz{float: left; width: 60%;}
.subtituloContacto { float: left; width: 100%; text-align: left; color: #666; font-size: 16px;}





.servWhatsApp{float: left; font-size: 14px; color: #00599f; background-color: #f4f1fa; border-bottom: solid 1px #00599f; height: 48px; padding: 0 15px; margin-right: 20px; margin-bottom: 20px;}

.servWhatsApp span{float: left; margin-top: 13px; margin-left: 10px;}
.servWhatsApp i{float: left; font-size: 25px; margin-top: 10px;}

.ubicacion-detalles a{color: #fff;}
/*ESTILOS MODIFICACIONES CYBER*/
.logoFooterCcs{float: left; margin-right: 10px;}
.selloFooter{float: left; margin-top: 18px;}
.logoCyberFooter{float: left; width: 100%; margin-top: 20px;}

/*ESTILOS MODIFICACIONES CYBER*/

.cont100Countdown{margin-bottom: 10px; background-repeat: no-repeat; background-position: center top;}
.centroBannerCuentaRegresiva{width: 1200px; margin: auto; height: 240px;}
.contcountdown{float: right; position: relative;width: 267px; margin-top: 20px;}
.contcountdown .countdown{width: 267px;}
.contcountdown .countdown .columnaCountDown{width: 80px;}
.contcountdown .countdown .columnaCountDown .cdn{width: 80px; height: 80px; font-size: 50px; color: #0062c5; line-height: 80px;}
.contcountdown .countdown .columnaCountDown .cdt{background-color: transparent; text-transform: uppercase;}
.btnCountDown{float: left; width: 100%; height: 52px; line-height: 52px; background-color: #0062c5; color: #fff; font-size: 18px; font-family: 'Raleway-Bold'; text-align: center; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin-top: 110px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.btnCountDown:hover{background-color: #044586;}

.buscadorResponsive{display: none;}
.infoBannerResponsive{display: none;}

.imgCountDounMovil{display: none;}
.imgCountDounTablet{display: none;}
.logosResponsive{float: left; width: 100%; display: none;}


.contBuscadorResponsive{display: none;}
.iconoResponsive{display: none;}

/*=======================================
=            MAPA RESPONSIVO            =
=======================================*/
.map-responsive{ margin-right: 20px; overflow:hidden; padding-bottom:56.25%; position:relative; height:0; }
.map-responsive iframe{left:0; top:0; height:100%; width:100%; position:absolute; }
/*=====  End of MAPA RESPONSIVO  ======*/

.sucursalContenedor{
    display: none;
}
.seccionSucursal{ align-items: center; justify-content: center; display:flex; flex-flow: row wrap; width:100%; margin-bottom: 20px; }
.seccionSucursal > .contieneSucursal {box-sizing: content-box; width: 48%; margin: 0 10px 10px 0; background: #f1f1f3; }
.radioSucursal { display: none; }
.infoSucursal { cursor: pointer; }

.infoSucursal { display: block; float: left; padding:15px 15px 0 15px; box-sizing: border-box; position: relative; }
h2.tituloSucursalh2{ font-size: 14px; font-family: 'Raleway-Bold'; }
.infoSucursal > p{ font-size: 13px; font-family: 'Raleway-Regular'; }
.radioSucursalChecked{box-sizing: content-box; color: #009be5;border: 2px solid #009be5; }



/*========================================
=            fILTROS aCORDION            =
========================================*/
.accordion-titulo {
    position: relative;
    display: block;
    font-family: 'Raleway-Bold';
    padding: 5px 0;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 300;
}
.accordion-titulo span.toggle-icon:before {content:"+";}
.accordion-titulo.open span.toggle-icon:before { content:"-"; }
.accordion-titulo span.toggle-icon {position: absolute; top: 2px; right: 0; font-size: 18px; font-weight:bold; }
.accordion-content { display: none; overflow: auto; }

.accordion-titulo-ficha {
    position: relative;display: block; font-family: 'Raleway-Bold'; padding: 5px 0; font-size: 13px;text-transform: uppercase;font-weight: 300;
    text-overflow:ellipsis;display:block;white-space:nowrap;background-position:right 0;padding-right:31px;cursor:pointer; width:calc(100% - 31px)!important; background:url(css/selector.png) right center no-repeat; color: #999;
}
/*.accordion-titulo-ficha span.toggle-icon:before {content:"+";}*/
/*.accordion-titulo-ficha.open span.toggle-icon:before { content:"-"; }*/
.accordion-titulo-ficha span.toggle-icon {position: absolute; top: 2px; right: 0; font-size: 18px; font-weight:bold; }
.accordion-content-ficha { display: none; overflow: auto; }


/*=====  End of fILTROS aCORDION  ======*/
