@charset "UTF-8";
/*TODO Estilos Generales*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.cont100,
.ancho100 {
  width: 100%;
  float: left;
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("font/Raleway-Bold.woff2") format("woff2"),
    url("font/Raleway-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url("font/Raleway-SemiBold.woff2") format("woff2"),
    url("font/Raleway-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("font/Raleway-ExtraBold.woff2") format("woff2"),
    url("font/Raleway-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-Medium";
  src: url("font/Raleway-Medium.woff2") format("woff2"),
    url("font/Raleway-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("font/Raleway-Regular.woff2") format("woff2"),
    url("font/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-Black";
  src: url("font/Raleway-Black.woff2") format("woff2"),
    url("font/Raleway-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

.tituloDestacadoHome {
  float: left;
  width: 100%;
  font-size: 22px;
  font-family: "Raleway-Bold";
  color: #555555;
  padding: 20px 0;
}
.tituloDestacadoHome span {
  float: left;
  width: 100%;
}
.campoGrande2 {
  float: left;
  width: calc(100% - 20px);
  padding: 0 10px;
  border: none;
  border: solid 1px #ededed;
  background: #fff;
  height: 50px;
  font-size: 14px;
  margin: 5px 0;
  color: #8b8b8b;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Raleway-Medium";
}

.contInputTables {
  width: 100%;
  max-width: 280px;
}
.campoGrandeDisable {
  float: left;
  width: 100%;
  padding: 0 10px;
  border: none;
  border: solid 1px #888888;
  background: #fff;
  height: 50px;
  font-size: 14px;
  margin: 5px 0;
  color: #888888;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Raleway-Medium";
}
::placeholder {
  color: #d4d4d4;
}
.cotizacionesDetalle .campoGrandeDisable {
  border-color: #009be5;
}
#uniform-estadosSelect {
  border-color: #009be5;
  border-radius: 15px;
}
#uniform-usuarioSelect {
  border-color: #009be5;
  border-radius: 15px;
}
.contInputTables label {
  margin-bottom: 0;
}
.campoGrande2:active {
  border: solid 1px #1f80d6;
}
.campoGrande2:hover {
  border: solid 1px #1f80d6;
}
/* ? Estilos Generales */

/* TODO Breadcrumbs */
.contBreadCrumbs {
  background-color: #fff;
  border-top: solid 1px #ededed;
  border-bottom: solid 1px #ededed;
}
.breadcrumb {
  float: left;
  width: 90%;
  list-style-type: none;
  padding-top: 5px;
  margin: 10px 0;
  font-size: 12px;
  font-family: "Raleway-Medium";
  padding-left: 0;
}
.breadcrumb li {
  float: left;
  width: auto;
  padding: 0;
  margin: 0;
}
.breadcrumb li a {
  float: left;
  color: #9b9a99;
  font-weight: 500;
}
.breadcrumb li a::after {
  color: #7d7d7d;
  float: right;
  padding: 0 4px;
  content: "/";
  margin-right: 2px;
}
.breadcrumb li.active {
  color: #009be5;
}
/* ? Fin de Breadcrumbs*/
/* TODO Grilla*/
.grilla {
  float: left;
  width: 20%;
  position: relative;
  min-height: 240px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #fff;
  padding: 20px 10px 10px 10px;
  border: solid 1px #ebebeb;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 30px;
}
.ultimosVistos .skuGrilla {
  display: none;
}
.cintaSinStockGrilla {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
  font-size: 12px;
  background-color: #1f80d6;
  height: 35px;
  line-height: 35px;
  z-index: 15;
  text-align: center;
  font-family: "Raleway-Bold";
  display: none;
}

.porcentajeDescuento {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  font-size: 16px;
  background-color: #ff0144;
  height: 25px;
  line-height: 25px;
  z-index: 1;
  text-align: center;
  border-radius: 5px;
  padding: 5px 12px;
  font-family: "Raleway-Regular";
  display: none;
}
.btnFicha {
  display: none;
  margin: 6px 0;
  box-sizing: border-box;
  z-index: 11;
  float: left;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-family: "Raleway-Bold";
  background-color: #1b75c5;
  height: 40px;
  line-height: 40px;
  padding: 0 35px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.imgGrilla {
  float: left;
  width: 100%;
  position: relative;
}

.imgGrilla img {
  float: left;
  width: 100%;
  height: auto;
}
.valorGrilla {
  z-index: 11;
  position: inherit;
  float: left;
  width: 100%;
  padding: 0;
  height: 30px;
  display: none;
}
.valorGrilla span {
  float: left;
  margin-right: 2px;
  color: #1f80d6;
  font-size: 16px;
  line-height: 16px;
  font-family: "Raleway-Black";
}
.valorGrilla span.antes {
  color: #a1a1a1;
  font-size: 12px;
  text-decoration: line-through;
  float: left;
  margin-left: 5px;
  font-family: "Raleway-Black";
}
.descripcionGrilla {
  z-index: 11;
  position: inherit;
  float: left;
  width: 100%;
  padding: 0;
  font-size: 12px;
  color: #999999;
  font-family: "Raleway-Regular";
  text-align: justify;
  display: none;
}

.nombreGrilla {
  position: inherit;
  float: left;
  width: 100%;
  font-size: 12px;
  color: #555555;
  font-family: "Raleway-Bold";
  text-transform: uppercase;
}

/*? FIN de  Grilla*/
/*TODO Body*/

body {
  font-family: "Raleway-Regular";
  font-size: 14px;
  color: #555555;
  background: #fff;
}
a {
  color: #555555;
  text-decoration: none;
}

/*? Fin Body*/

/*TODO Header*/
header {
  display: grid;
  grid-template-columns: 1fr;
  color: #fff;
  font-size: 12px;
  font-family: "Raleway-Medium";
}
/*Fila superior el header*/
.filaSuperiorHeader {
  min-height: 30px;
  background-color: #009be5;
  display: flex;
  align-content: center;
  font-size: 1em;
}
.contenedor_headerSuperior {
  flex-basis: 1180px;
  display: flex;
  margin: 0 auto;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 10px;
}
.contenedor_headerSuperior a {
  color: #fff;
}
.izInfoHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}
.deInfoHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}
/*? Fin Fila superior el header*/

/*Fila Inferior del header Menu y buscador*/
.segundaFilaHeader {
  background-color: #fff;
  font-size: 1em;
}
.contenedor_header {
  max-width: 1180px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.3fr 4fr;
}

.contLogo {
  display: flex;
  align-items: center;
  padding: 0 20px 0 10px;
}
.logo {
  flex: 1 1 auto;
}

.logo img {
  width: 100%;
  height: auto;
}

.contMenuBuscador {
  display: grid;
  grid-template-rows: minmax(40px, 60px) minmax(40px, 55px);
  align-items: center;
  padding: 0 0 0 20px;
}

.filaLogobuscador {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.barraBuscador {
  flex-basis: 580px;
}
.buscador {
  float: left;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: solid 1px #ebebeb;
  height: 50px;
}
.campo_buscador {
  float: left;
  width: calc(100% - 70px);
  padding-left: 20px;
  height: 48px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background: #fff;
  border: none;
}
.campo_buscador::placeholder {
  color: #d4d4d4;
  font-size: 0.9em;
  font-family: "Raleway-Medium";
}

.btn_search {
  float: right;
  width: 40px;
  height: 48px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  text-align: center;
  border: none;
  background-image: url(img/btnBuscar.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #fff;
  cursor: pointer;
}

.iconosHeader {
  display: flex;
  gap: 20px;
  margin-left: 20px;
}

/*============================================
=            Corazones de guardar            =
============================================*/
.like {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #a3a2a1;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  z-index: 11;
  /* padding: 15px; */
  border-radius: 10px;
  /* background-color: #fff; */
}
.like > .fas {
  color: #009be5;
}
.like:hover {
  color: #f1f1f3;
}
.filaProductosVistos > a.like {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #009be5;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  transition: 0.3s all linear;
  -webkit-transition: 0.3s all linear;
  z-index: 13;
}
a.icono-header-right2 {
  position: relative;
}
a.icono-header-right2 span.cantWish {
  position: absolute;
  z-index: 9;
  width: 20px;
  height: 20px;
  background-color: #009be5;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 10px;
  color: #fff;
}
a.icono-header-right2 .icon {
  color: #a3a2a1;
}
a.icono-header-right2 .icon span {
  font-size: 24px;
  color: #a3a2a1;
}
/*=====  End of Corazones de guardar  ======*/
a.icono-header-right {
  position: relative;
}
a.icono-header-right i {
  font-size: 24px;
  color: #a3a2a1;
  cursor: pointer;
}
a.icono-header-right .cantItems {
  position: absolute;
  z-index: 9;
  width: 20px;
  height: 20px;
  background-color: #009be5;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 10px;
  color: #fff;
}

.filaLogo2 {
  display: flex;
  align-items: center;
}

/* Estilos del MENU */

/* Estilos Generales */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10000;
}
nav li {
  line-height: 2.8rem;
  position: relative;
}
.menuFijo li > i {
  position: absolute;
  top: 0;
  right: 5px;
}
nav a {
  text-decoration: none;
  color: #555555;
  font-family: "Raleway-Bold";
  font-size: 12px;
  text-transform: uppercase;
  padding: 0 0.7em;
  display: block;
}
.cuentaMenu {
  color: #222;
  font-weight: 600;
}
.menuFijo ul a {
  /* border-top: 1px solid rgb(228, 227, 227); */
  border-left: 1px solid rgb(228, 227, 227);
  font-family: "Raleway-Medium";
}
.menuFijo ul:last-child {
  border-bottom: 1px solid rgb(228, 227, 227);
}

#elementosCarro {
  display: unset;
}
nav a:hover {
}

.menuFijo ul {
  position: absolute;
}

.menuFijo ul {
  display: none;
}
nav li:hover > ul {
  display: block;
}
.menuA {
  background-color: #009be5;
  color: #ffffff;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.menuA i {
  margin-right: 5px;
}

/* Primer nivel */
.iconosLineas {
  margin-right: 10px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
}
.iconosLineas img {
  max-width: 35px;
  max-height: 35px;
  width: 100%;
  height: auto;
}
.lineasA {
  display: flex;
  flex-flow: wrap;
  align-items: center;
}
.menuFijo {
  display: table;
  width: 100%;
}
.menuFijo a:hover span {
  color: #555555;
}
nav > ul > li {
  float: left;
}
/* Lineas */
.menuFijo ul {
  width: 300px;
  background-color: #fff;
}

nav > ul > li > ul {
  top: 100%;
}
nav > ul > li > ul a:hover {
  background-color: #f1f1f1;
}
/* Categorias  */
.menuFijo > li > ul > li > ul {
  top: 0;
  left: 100%;
  background-color: #f6f6f6;
}
.menuFijo > li > ul > li > ul a:hover {
  color: #009be5;
}
/* subcategorias  */
.menuFijo > li > ul > li > ul > li > ul {
  width: 150px;
  background-color: #f2f1f1;
  top: 0;
  left: 100%;
}

/* FIN de Estilos del MENU */

/*HEADER DEL CARRO 2 */
.contTiltuloHeader2 {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
}
.contTiltuloHeader2 h1 {
  color: #0078b1;
  font-size: 22px;
  font-family: "Raleway-Bold";
  width: 100%;
}

/*? Fin HEADER*/

/* TODO SLIDER*/

/*Letras de slider*/
.slider,
.slide {
  float: left;
  width: 100%;
}

div.desktop > div.cycle-slideshow > a > img {
  max-height: 340px;
}
.movil,
.tablet {
  display: none !important;
}
.desktop {
  display: block;
  position: relative;
}
.cycle-slideshow {
  position: relative;
  z-index: 1;
}

.cycle-overlay {
  font-size: 34px;
  font-family: "Raleway-Black";
  position: absolute;
  top: 25%;
  left: 5%;
  color: #fff;
  z-index: 2;
}
.cycle-overlay2 {
  font-size: 44px;
  font-family: "Raleway-Black";
  position: absolute;
  top: 40%;
  left: 5%;
  color: #fff;
  z-index: 2;
}
.cycle-overlaySub {
  font-family: "Raleway-SemiBold";
  font-size: 20px;
  position: absolute;
  top: 60%;
  left: 5%;
  color: #fff;
  z-index: 2;
}
.example-pager {
  position: absolute;
  bottom: 5%;
  left: 50%;
  font-size: 6px;
  color: #184670;
  z-index: 2;
}
.example-pager span {
  cursor: pointer;
  margin-right: 5px;
  border-radius: 50%;
  border: 3px solid #fff;
}
.example-pager span.cycle-pager-active {
  color: #1363a8;
  background-color: #2dbbff;
}
/*Tablet*/
.cycle-overlay3 {
  font-size: 20px;
  font-family: "Raleway-Black";
  position: absolute;
  top: 50%;
  left: 5%;
  color: #fff;
  z-index: 2;
}
.cycle-overlay4 {
  font-size: 30px;
  font-family: "Raleway-Black";
  position: absolute;
  top: 60%;
  left: 5%;
  color: #fff;
  z-index: 2;
}
.example-pager2 {
  position: absolute;
  bottom: 5%;
  left: 50%;
  font-size: 10px;
  color: #fff;
  z-index: 2;
}
.example-pager2 span {
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #fff;
  margin: 5px;
}
.example-pager2 span.cycle-pager-active {
  background-color: #2dbbff;
}

/*MOVIL*/
.cycle-overlay5 {
  font-size: 10px;
  font-family: "Raleway-Black";
  position: absolute;
  top: 40%;
  left: 5%;
  color: #fff;
  z-index: 2;
}
.cycle-overlay6 {
  font-size: 20px;
  font-family: "Raleway-Black";
  position: absolute;
  top: 50%;
  left: 5%;
  color: #fff;
  z-index: 2;
}
.movilSlider {
  position: absolute;
  bottom: 5%;
  left: 50%;
  font-size: 6px;
  color: #fff;
  z-index: 2;
}
.movilSlider span {
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #fff;
  margin: 2px;
}
.movilSlider span.cycle-pager-active {
  background-color: #2dbbff;
}

/*Fin de Letras de slider*/
/*? Fin de SLIDER*/

/*TODO BANNER1 DEBAJO DE SLIDER*/

/* Servicios debajo del slider */
.contServiciosSlider {
  display: grid;
  max-width: 1180px;
  margin: 20px auto;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}
.serviciosSlider {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.imgServiciosSlider {
  flex: 1 1 auto;
}
.textServiciosSlider {
  flex: 1 1 auto;
}
.textServiciosSlider h6 {
  font-family: "Raleway-ExtraBold";
  font-size: 12px;
  text-transform: uppercase;
  color: #555555;
  min-width: 80px;
}
/* Fin de Servicios debajo del slider */

/*? FIN de  BANNER1 DEBAJO DE SLIDER*/

/* TODO Banner 2 */
.contBanner2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1180px;
  margin: 40px auto;
  gap: 10px;
}
.imagenBanner2-1,
.imagenBanner2-2 {
  width: 100%;
  height: auto;
}
/*? FIN de  BANNER2*/

/* TODO Grilla productos Home*/
.grillasHome .grilla {
  width: 100%;
}
.grillasHome > div.owl-carouselProductos {
  position: relative;
}
.grillasHome > div.owl-carouselProductos > div.owl-nav {
  position: unset;
}
.owl-carouselProductos .owl-prev {
  left: -10px;
  top: 40%;
  padding: 20px;
  background-color: #000;
}
.owl-carouselProductos .owl-next {
  right: -10px;
  top: 40%;
}

/*? FIN de  Grilla productos Home*/

/* TODO Banner3*/

.contBanner3 {
  max-width: 1180px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "tituloBanner3    tituloBanner3    tituloBanner3"
    "banner3-1        banner3-2        banner3-3"
    "banner3-4        banner3-5        banner3-5"
    "banner3-6        banner3-6        banner3-7";
  gap: 20px;
}
.contBanner3 a {
  position: relative;
  display: flex;
  justify-content: center;
}
.contBanner3 img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.tituloBanner3 {
  grid-area: tituloBanner3;
}
.tituloBanner3Img {
  position: absolute;
  bottom: 5%;
  font-family: "Raleway-Black";
  font-size: 22px;
  color: #fff;
  background-color: rgba(61, 177, 232, 0.7);
  width: 90%;
  text-align: center;
  padding: 10px 0;
  border-radius: 22px;
  text-transform: uppercase;
}
.tituloBanner3Img > span {
  color: #fff;
  visibility: visible;
}
.banner3-1 {
  grid-area: banner3-1;
}
.banner3-2 {
  grid-area: banner3-2;
}
.banner3-3 {
  grid-area: banner3-3;
}
.banner3-4 {
  grid-area: banner3-4;
}
.banner3-5 {
  grid-area: banner3-5;
}
.banner3-6 {
  grid-area: banner3-6;
}
.banner3-7 {
  grid-area: banner3-7;
}

/*? FIN de Banner3*/

/* TODO Footer */

.footer {
  background-color: #555555;
  padding-top: 15px;
  color: #fff;
  margin-top: 30px;
  padding-bottom: 30px;
}
.contFooter {
  max-width: 1180px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "col1 col1 col1"
    "col2 col3 col4";
  margin: 0 auto;
  gap: 20px;
}
.contFooter h4 {
  font-family: "Raleway-Bold";
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.contFooter a {
  font-family: "Raleway-Regular";
  font-size: 14px;
  color: #fff;
  display: block;
  line-height: 30px;
}
.contFooter p {
  font-family: "Raleway-Regular";
  font-size: 14px;
  color: #fff;
  display: block;
  line-height: 30px;
}

.colFooter1 {
  grid-area: col1;
  padding-left: 15px;
}
.colFooter2 {
  grid-area: col2;
  padding-left: 15px;
}
.colFooter3 {
  grid-area: col3;
}
.colFooter4 {
  grid-area: col4;
}
.colFooter5 {
  grid-area: col5;
  display: flex;
  flex-direction: column;
}
.footerCompartir {
  display: flex;
  gap: 20px;
  padding-top: 10px;
}
.finalFooter {
  background-color: #555555;
  padding: 5px 0;
  border-top: 1px solid #cccccc;
  color: #fff;
}
.contFinalFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.finalFooter p {
  font-size: 11px;
  line-height: 11px;
}

.eviarNewsLetter {
  display: flex;
  align-items: Center;
}
.inputNews {
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #efefef;
  border-radius: 10px 10px 10px 10px;
  color: #393939;
  font-size: 12px;
  padding: 15px;
  width: 320px;
}
.botonEnviarNews {
  height: 50px;
  box-sizing: border-box;
  margin-left: -15px;
  border: 1px solid #efefef;
  border-radius: 0 10px 10px 0;
  font-family: "Raleway-Bold";
  color: #393939;
  font-size: 15px;
  padding: 15px;
}
.footer div div div a.acol3 {
  font-weight: bold;
  color: #333333;
}
#formNewsletter {
  margin-bottom: 10px;
}

.accordeonFooter {
  float: left;
  width: 100%;
  color: #fff;
  font-size: 16px;
}
.notificacionFooter {
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  background-color: #fff;
  text-align: center;
  display: none;
}
.notificacionFooter .contMensaje {
  float: left;
  width: 100%;
  text-align: center;
}
.notificacionFooter .contMensaje h4 {
  float: left;
  width: 100%;
  color: #5f5f5f;
  font-size: 36px;
  margin: 0 0 20px 0;
  font-family: "Raleway-Bold", serif;
  font-weight: 400;
}
.notificacionFooter .contMensaje p {
  float: left;
  width: 100%;
  color: #666;
  font-size: 18px;
  margin: 0;
}
.notificacionFooter a {
  width: 200px;
  margin-left: calc(50% - 100px);
  float: left;
  height: 48px;
  line-height: 48px;
  background-color: #009be5;
  color: #fff;
  font-size: 16px;
  font-family: "Raleway-Bold";
  text-transform: uppercase;
}

.notificacionFooter a:hover {
  background-color: #414149;
}

/* ? Fin del  footer */

/* TODO  GRILLAS GENERALES */

.filtrosOrden {
  float: right;
  width: 200px;
  margin-top: 15px;
}

h1.nomCategoria {
  font-family: "Raleway-Bold";
  float: left;
  width: auto;
  margin: 10px 0;
  color: #0078b1;
  font-size: 24px;
}
.contFiltrosExtras {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 20px 0;
}
.filtrosIzquierda {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 40px;
}
/* Estilos Generales */
.divCategorias {
  width: 220px;
  border-top: #9b9a99 1px solid;
  border-bottom: #9b9a99 1px solid;
}
.divCategorias:hover {
  border-top: #009be5 1px solid;
  border-bottom: #009be5 1px solid;
}
.divCategorias ul {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10000;
}
.divCategorias li {
  line-height: 2.6rem;
  position: relative;
}
.menuGrilla li > i {
  position: absolute;
  top: 0;
  right: 5px;
}
.divCategorias a {
  text-decoration: none;
  color: #9b9a99;
  font-family: "Raleway-Bold";
  font-size: 12px;
  text-transform: uppercase;
  padding: 0 0.7em;
  display: block;
}
.menuGrilla ul a {
  /* border-top: 1px solid rgb(228, 227, 227); */
  border-left: 1px solid rgb(228, 227, 227);
  font-family: "Raleway-Medium";
}
.menuGrilla ul:last-child {
  border-bottom: 1px solid rgb(228, 227, 227);
}
.menuGrilla ul {
  position: absolute;
}

.menuGrilla ul {
  display: none;
}
.divCategorias li:hover > ul {
  display: block;
}
/* Primer nivel */
.menuGrilla {
  display: table;
  width: 100%;
}
.menuGrilla a:hover span {
  color: #009be5;
}
.divCategorias > ul > li {
  float: left;
  width: 220px;
}
/* Lineas */
.menuGrilla ul {
  width: 220px;
  background-color: #fff;
}

.divCategorias > ul > li > ul {
  top: 100%;
  border-top: 1px solid #009be5;
  max-height: 250px;
  overflow-y: scroll;
}
.divCategorias > ul > li > ul::-webkit-scrollbar {
  width: 7px;
  
}
.divCategorias > ul > li > ul::-webkit-scrollbar-thumb {
  background: #9b9a99;
  border-radius: 5px;
}
.divCategorias > ul > li > ul a:hover {
  background-color: #f1f1f1;
}

/* FIN de Estilos del MENU */

.cantProdCat {
  color: #9b9a99;
  font-size: 14px;
  font-family: "Raleway-Medium";
}
.contNomFiltroActual {
  float: left;
  width: calc(100% - 32px);
  height: 25px;
  padding: 0 5px;
  line-height: 25px;
  font-size: 14px;
  padding-right: 0;
  float: right;
}
.contNomFiltroActual span {
  float: right;
  margin-right: 5px;
}

.fondoLateralFiltro {
  display: none;
}
.contGrillasProductos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.contGrillasProductos .grilla {
  float: left;
  width: 100%;
}
.paginadorGrid {
  grid-column-start: 1;
  grid-column-end: -1;
}

.subtituloBusquedas {
  float: left;
  width: 100%;
  color: #9b9a99;
  margin: 10px 0;
  font-family: "Raleway-Medium";
  font-size: 14px;
  text-align: left;
}

/* ? Fin de GRILLAS GENERALES */

/* TODO Vistos recientemente */
.grillaResponsiveficha {
  display: none;
}
.ultimosVistos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}
.ultimosVistos .grilla {
  width: 100%;
}
.tituloVistosRecien {
  font-size: 26px;
  font-weight: lighter;
  margin-bottom: 10px;
  color: #0078b1;
  font-family: "Raleway-Bold";
}
/* ? Fin de Vistos recientemente */

/*================================
=            CONTACTO            =
================================*/
.contFormServ {
  margin: 0 0 50px 0;
  background-color: #fff;
  padding: 0 15px 15px 15px;
}
.tituloContacto {
  float: left;
  width: 100%;
  text-align: center;
  color: #0078b1;
  font-size: 24px;
  margin: 35px 0 0 0;
  font-family: "Raleway-Bold";
}
.textoContactoEnviado {
  text-align: center;
  width: 100%;
  color: #555555;
  font-size: 20px;
  margin: 35px 0 0 0;
  font-family: "Raleway-Bold";
}
.contFormServ p {
  color: #555555;
  font-size: 14px;
  font-family: "Raleway-Medium";
}
.imgContactoExito {
  width: 100%;
  height: auto;
  max-width: 370px;
}
.btnFormContacto {
  height: 45px;
  line-height: 45px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  background-color: #009be5;
  color: #fff;
  padding: 15px 80px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Raleway-Bold";
  text-transform: uppercase;
  font-size: 14px;
}
.btnFormContacto:hover {
  background-color: #009be5;
}
.btnFormServ {
  display: inline-block;
  height: 45px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  background-color: #009be5;
  padding: 0 50px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Raleway-Bold";
  font-size: 14px;
  text-transform: uppercase;
}
.btnFormServ:hover {
  background-color: #009be5;
}
.btnFormServ2 {
  display: inline-block;
  height: 45px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  background-color: #009be5;
  padding: 0 50px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Raleway-Bold";
  font-size: 14px;
  text-transform: uppercase;
}
.btnFormServ2:hover {
  background-color: #009be5;
}

/*=====  End of CONTACTO  ======*/

/*TODO Productos guardados */
h1.nomCategoria2 {
  margin-top: 30px;
  float: left;
  width: 100%;
  font-family: "Raleway-Bold";
  font-size: 24px;
  color: #0078b1;
  text-align: left;
}
.imgProdGuardadoVacio {
  text-align: center;
  width: 100%;
}
.imgProdGuardadoVacio img {
  width: 100%;
  height: auto;
  max-width: 240px;
}
.favIniciaSesion {
  margin: 30px 0;
}
.contGrillasFav {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}
.contGrillasFav .grilla {
  float: left;
  width: 100%;
}
/*? FIn de productos guardados */

/*=================================
=            NOSOTROS            =
=================================*/
.contNosotros p {
  width: 100%;
  text-align: justify;
  font-family: "Raleway-Medium";
  font-size: 16px;
}
.contNosotros li {
  width: 100%;
  text-align: justify;
  font-family: "Raleway-Medium";
  font-size: 15px;
}
.contNosotros {
  max-width: 780px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "titulo     titulo"
    "nos1       nos1"
    "nos2       nos3"
    "nos4       nos5"
    "nos6       nos6"
    "subtitulo1  subtitulo1"
    "nos7       nos8"
    "subtitulo2  subtitulo2"
    "nos9       nos9"
    "nos10       nos10"
    "subtitulo3  subtitulo3"
    "nos11       nos12"
    "nos13       nos13";
    padding: 10px;
    gap: 30px;
}
.tituloNosotros {
  grid-area: titulo;
  color: #0078b1;
  font-family: "Raleway-Bold";
  font-size: 24px;
  text-align: center;
  margin-top: 30px;
}
.nos1 {
  grid-area: nos1;
}
.nos2 {
  grid-area: nos2;
  display: flex;
  align-items: center;
}
.nos2 img {
  width: 100%;
  height: auto;
}
.nos3 {
  grid-area: nos3;
}
.nos4 {
  grid-area: nos4;
}
.nos5 {
  grid-area: nos5;
  display: flex;
  align-items: center;
}
.nos5 img {
  width: 100%;
  height: auto;
}
.nos6 {
  grid-area: nos6;
}
.nos7 {
  grid-area: nos7;
  display: flex;
  align-items: center;
}
.nos7 img {
  width: 100%;
  height: auto;
}
.nos8 {
  grid-area: nos8;
  display: flex;
  align-items: center;
}
.subtituloNos {
  float: left;
  width: 100%;
  font-size: 16px;
  margin: 10px 0 10px 0;
  color: #0078b1;
  padding-top: 5px;
  font-family: 'Raleway-Bold';
}
.subNos1 {
  grid-area: subtitulo1;
}
.subNos2 {
  grid-area: subtitulo2;
}
.subNos3 {
  grid-area: subtitulo3;
}

.nos9 {
  grid-area: nos9;
}
.nos9 img {
  width: 100%;
  height: auto;
}
.nos10 {
  grid-area: nos10;
}

.nos11 {
  grid-area: nos11;
  display: flex;
  align-items: center;
}
.nos11 img {
  width: 100%;
  height: auto;
}
.nos12 {
  grid-area: nos12;
}
.nos13 {
  grid-area: nos13;
}

/*TODO Iconos debajo de nosotros*/

/* Servicios debajo del slider */
.contIconosNosotros {
  display: flex;
  flex-wrap: wrap;
  /* margin: 20px auto; */
  /* grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); */
  /* grid-template-rows: repeat(2, 1fr); */
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}
.itemIconoNosotros {
  width: 150px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.imgIconoNosotros {
  flex: 1 1 auto;
  width: 100%;
}
.textIconoNosotros {
  flex: 1 1 auto;
}
.textIconoNosotros h6 {
  font-family: "Raleway-ExtraBold";
  font-size: 12px;
  text-transform: uppercase;
  color: #555555;
  min-width: 80px;
}
/* Fin de Servicios debajo del slider */

/*? FIN de  Iconos debajo de nosotros*/
/*=====  End of NOSOTROS  ======*/

.conPoliticas .contNosotros {
  margin: 0;
  float: left;
  grid-template-columns: 1fr;
  grid-template-areas:
    "titulo"
    "nos1"
    "nos2"
    "nos3"
    "nos4"
    "nos5";
  gap: 30px;
}
.conPoliticas .tituloContacto {
  text-align: left;
  text-transform: none;
}
.conPoliticas .contTextosFijos h4 {
  margin: 20px 0 20px 0;
  padding-top: 10px;
  font-size: 16px;
  color: #555555;
  font-family: "Raleway-Medium";
  font-weight: 500;
}
/* TODO CATALOGOS */
.contCatalogos {
  max-width: 1180px;
  margin: 0 auto;
}
.contGrillasCatalogo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}
.tituloPrincipalCatalogo {
  width: 100%;
  text-align: center;
  color: #0078b1;
  font-size: 24px;
  margin: 35px 0;
  font-family: "Raleway-Bold";
}
.grillaCatalogo {
  float: left;
  width: 100%;
  border: solid 1px #ebebeb;
  padding: 20px;
}
.imgCatalogo {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.tituloCatalogo {
  color: #555555;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Raleway-SemiBold";
  float: left;
  width: 100%;
  margin-bottom: 5px;
}
.bajadaCatalogo {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.bajadaCatalogo p {
  float: left;
  width: 100%;
  line-height: 20px;
  margin: 0;
}
.btnCatalogo {
  margin: 6px 0;
  box-sizing: border-box;
  z-index: 11;
  float: left;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-family: "Raleway-Bold";
  background-color: #009be5;
  height: 45px;
  line-height: 45px;
  padding: 0 35px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/*? Fin de CATALOGOS */

/*TODO FICHA */

.contFichaImagenes {
  max-width: 1180px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
  gap: 20px;
  margin-top: 30px;
  padding: 0 20px;
}
/* Imagenes */
.galeriaImagenes {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.galeria {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "principal"
    "varias";
  gap: 20px;
}
.thumbsGaleriaFicha {
  grid-area: varias;
  display: flex;
  gap: 10px;
  flex-flow: wrap;
  justify-content: center;
  overflow-y: scroll;
  max-height: 100px;
}
.thumbsGaleriaFicha::-webkit-scrollbar {
  width: 7px;
  
}
.thumbsGaleriaFicha::-webkit-scrollbar-thumb {
  background: #9b9a99;
  border-radius: 5px;
}

.img-thumbnail {
  float: left;
  width: 80px;
  height: 80px;
  border: solid 1px #efefef;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 50%;
}
.img-thumbnail:hover {
  border: solid 1px #0b3d8c;
}
.img-thumbnail img {
  width: 100%;
  height: auto;
}
.imgPrincipal {
  grid-area: principal;
  border: 1px solid #f1f1f1;
  display: flex;
  justify-content: center;
}
.imgPrincipal img {
  max-width: 320px;
  width: 100%;
  height: auto;
}

/* Informaciones Del producto */
.infoProducto {
  width: 100%;
}
.infoProducto .prodFicha {
  width: 100%;
  color: #0078b1;
  font-size: 24px;
  font-family: "Raleway-Bold";
}
.infoProducto .codigo {
  font-size: 14px;
  color: #9b9a99;
  font-family: "Raleway-Medium";
}
.contLabelSelect {
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
}
.contLabelSelect label {
  font-family: "Raleway-SemiBold";
  font-size: 16px;
  color: #555555;
}
.contLabelSelect div > div.selector {
  height: 45px;
  line-height: 45px;
}
.filaCantidadAgregar {
  float: left;
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contCantMinimaCotizar {
  width: 100%;
}
.contCantMinimaCotizar p {
  font-size: 14px;
  font-family: "Raleway-SemiBold";
  color: #009be5;
  margin: 20px 0;
}
.cantidad {
  float: left;
  width: 15%;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  overflow: hidden;
  border: 1px solid rgb(204, 203, 203);
  max-height: 45px;
}
div.cantidad > div.selector {
  height: 45px;
}

.btnAgregar {
  float: left;
  width: 40%;
  height: 45px;
  background-color: #009be5;
  line-height: 45px;
  padding: 0 20px;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  font-family: "Raleway-Bold";
  font-size: 16px;
  border-radius: 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 10px;
}
.btnAgregar:hover {
  background-color: #009be5;
}
.conTabDes {
  margin: 30px 0;
}
.titulosMenuTabs {
  float: left;
  width: 100%;
  height: 70px;
  background-color: #f0f0f0;
}
.titulosMenuTabs a {
  float: left;
  text-align: center;
  line-height: 70px;
  font-size: 16px;
  color: #666666;
  font-family: "Raleway-Regular";
  margin: 0 0px;
  width: 33.33%;
}
.titulosMenuTabs a.tabActivo {
  color: #1f80d6;
  background-color: #fff;
  border-bottom: 2px solid #009be5;
}
.fixedActivo {
  z-index: 999;
  filter: alpha(opacity=99);
  -moz-opacity: 0.99;
  opacity: 0.99;
  min-height: 110px;
}
.valoresFixed {
  min-height: 110px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
}
.valoresFixed .btnAgregar {
  width: 100%;
}
.contPrecioFixed {
  display: none;
}

/*? Fin de FICHA */

/* TODO POPUP CARRO */

/* CARRO VACIO */
div.carroVacio {
  font-family: "Raleway-Bold";
  margin-bottom: 15px;
}
.iconoCarroVacio {
  float: left;
  width: 100%;
  text-align: center;
  display: none;
}
.iconoCarroVacio img {
  width: 50px;
}
.tituloCarroVacio {
  color: #0078b1;
  text-align: left;
  font-family: "Raleway-Bold";
  font-size: 26px;
  margin: 0;
}
.sugeridosCarro .filaProductosVistos {
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 20px;
}
.sugeridosCarro .filaProductosVistos .imgFila {
  float: left;
  width: 90px;
  height: 90px;
  border: 1px solid #e8eaeb;
  background-color: #fff;
}
.sugeridosCarro .filaProductosVistos .imgFila a img {
  width: 95%;
  height: auto;
  background-color: #fff;
}
.sugeridosCarro .filaProductosVistos .nombreGrilla {
  font-size: 14px;
  line-height: 14px;
  color: #0078b1;
  font-family: "Raleway-Bold";
  text-transform: none;
}
.sugeridosCarro .filaProductosVistos .nombreGrilla a {
  color: #0078b1;
}
.sugeridosCarro .filaProductosVistos .skuGrilla {
  font-size: 10px;
  line-height: 10px;
  color: #0078b1;
  font-family: "Raleway-Medium";
}
.sugeridosCarro .btnFicha {
  background-color: #fff;
  color: #0078b1;
  padding: 0;
  margin: 0;
  line-height: 15px;
  height: 15px;
  text-align: left;
}
.sugeridosCarro .btnFicha span {
  border-bottom: 1px solid #009be5;
  font-size: 14px;
  font-family: "Raleway-SemiBold";
}

/* CARRO CON COMPRA */

.contPop h3 {
  text-align: left;
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0;
  color: #555555;
  font-size: 18px;
  font-family: "Raleway-Bold";
}
.filaProductosPopUp {
  display: grid;
  grid-template-columns: 30% 68%;
  width: 100%;
  padding: 10px;
  border-bottom: solid 1px #ececec;
  margin-bottom: 10px;
  align-items: center;
}
/* .filaProductos {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #ececec;
  position: relative;
  margin-top: 10px;
} */

.imgFilaPopUp {
  float: left;
  max-width: 80px;
  max-height: 80px;
  border: 1px solid #ececec;
  background-color: #ffffff;
  margin-right: 15px;
}
.imgFilaPopUp a {
  padding: 2px;
  width: 100%;
}
.imgFilaPopUp a img {
  width: 95%;
  height: auto;
}
.contInfoShowCartPopUp {
  float: left;
  width: 100%;
  position: relative;
}
.nombreFilaPopUp {
  float: left;
  width: 100%;
  font-size: 12px;
}
.nombreFilaPopUp a {
  float: left;
  width: 100%;
  color: #0078b1;
  font-size: 14px;
  font-family: "Raleway-Bold";
}
.precioFila {
  display: none;
}
.colorPopUp {
  font-size: 12px;
  font-family: "Raleway-Medium";
  color: #9b9a99;
}
.skuGrilla {
  font-size: 10px;
  font-family: "Raleway-Medium";
  color: #9b9a99;
}
.cantPopUp {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-family: "Raleway-Medium";
}
.cantidadCarro {
  max-width: 40px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #cccccc;
  color: #9b9a99;
  border-radius: 5px;
}

.cantPopUp .selectCantidadCarro {
  width: 100%;
  max-width: 40px;
  font-family: "Raleway-Medium";
  font-size: 14px;
  text-align: center;
  color: #9b9a99;
  float: left;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  overflow: hidden;
  border: none;
  max-height: 45px;
}
div.selectCantidadCarro > div.selector {
  height: 45px;
}

.cantPopUp .sinBorde {
  border: none;
}
/* CARRO FINAL COTIZAR */
.contCarroCotizar {
  max-width: 1180px;
  margin: 20px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}
.contCarroCotizacionFinal {
  width: 100%;
}
.filaProductosCotizar {
  display: grid;
  grid-template-columns: 15% 60% 25%;
  width: 100%;
  padding: 10px;
  border-bottom: solid 1px #ececec;
  margin-bottom: 10px;
}

/* .contCantCotizar {
  float: left;
  width: 100%;
  text-align: right;
} */
.contCantCotizar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.contCantCotizar .selectCantidadCarro {
  min-width: 85px;
}
.contCantCotizar .selectCantidadCarro div.selector span {
  color: #9b9a99;
  font-size: 14px;
}
.cantCotizar .cantidadCarro {
  max-width: 85px;
  font-family: "Raleway-Medium";
  font-size: 14px;
  padding: 12px 0;
  text-align: center;
  border: 1px solid #cccccc;
  color: #9b9a99;
  border-radius: 15px;
}
.cantCotizar .selectCantidadCarro {
  width: 100%;
  max-width: 85px;
  font-family: "Raleway-Medium";
  font-size: 14px;
  text-align: center;
  border: 1px solid #cccccc;
  color: #9b9a99;
  float: left;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  overflow: hidden;
  border: 1px solid rgb(204, 203, 203);
  max-height: 45px;
}
div.selectCantidadCarro > div.selector {
  height: 45px;
}

.eliminarCotizar a {
  text-decoration: underline;
  color: #9b9a99;
  font-size: 14px;
  font-family: "Raleway-SemiBold";
}

.contTotalesCotizacion {
  width: 100%;
  max-height: 900px;
  padding: 15px;
  border: 1px solid #cccccc;
  border-radius: 10px;
}
.tituloColumnas {
  width: calc(100% + 30px);
  margin-left: -15px;
  border-bottom: 1px solid #ebebeb;
}
.tituloColumnas h3 {
  font-size: 16px;
  font-family: "Raleway-Bold";
  padding: 0 15px 15px 15px;
  text-align: left;
  color: #555555;
}
.inputCotizar {
  float: left;
  width: 100%;
  border: solid 1px #e4e2e2;
  height: 50px;
  margin: 10px 0;
  padding: 0 10px;
  border-radius: 15px;
  color: #666;
  font-family: "Raleway-Regular";
  font-size: 14px;
}
.inputCotizar:active {
  border: solid 1px #009be5;
}
.inputCotizar:hover {
  border: solid 1px #009be5;
}
.textareaPasoFinal {
  float: left;
  width: calc(100% - 22px);
  border: solid 1px #e4e2e2;
  background: #fff;
  height: 100px;
  margin-bottom: 14px;
  padding: 10px;
  box-sizing: content-box !important;
  border-radius: 15px;
  color: #666;
  font-family: "Raleway-Regular";
  font-size: 14px;
}
.textareaPasoFinal::placeholder {
  font-family: "Raleway-Regular";
  font-size: 14px;
}
.campoGrande3 {
  float: left;
  width: calc(100% - 40px);
  border: solid 1px #e4e2e2;
  background: #fff;
  height: 100px;
  margin-bottom: 14px;
  padding: 10px;
  box-sizing: content-box !important;
  border-radius: 15px;
  color: #666;
  font-family: "Raleway-Medium";
  font-size: 14px;
}

.campoGrande3:hover {
  border: solid 1px #009be5;
}

.btnTerminarCarro {
  float: right;
  width: calc(100% - 30px);
  margin: 15px;
  cursor: pointer;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #009be5;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  clear: right;
  font-family: "Raleway-Bold";
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 15px;
}

.btnTerminarCarro:hover {
  background: #009be5;
}

/*? Fin de POPUP CARRO */

/* TODO VENDEDORAS */

.inicioSesionCarroPopUp {
  border-radius: 10px;
}
.inicioSesionCarroPopUp h3 {
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0;
  color: #0078b1;
  font-size: 20px;
  font-family: "Raleway-Bold";
  text-align: center;
}
.inicioSesionCarroPopUp h5 {
  text-align: center;
  font-size: 14px;
}

.inputInicioSesion {
  float: left;
  width: calc(100% - 2px);
  border: solid 1px #e4e2e2;
  border-radius: 10px;
  height: 50px;
  margin: 15px 0;
  padding: 0 10px;
  box-sizing: content-box !important;
  color: #666;
}

#btnInicioVendedora {
  border-radius: 15px;
  float: left;
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #009be5;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  text-transform: uppercase;
  font-family: "Raleway-Bold";
  font-size: 14px;
}

.menuVendedores {
  float: left;
  width: calc(100% - 20px);
  margin: 30px 20px 30px 0;
  background-color: #fff;
  border: 2px solid #009be5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-flow: wrap;
}

.menuVendedores a {
  display: block;
  color: #5f5f5f;
  font-size: 14px;
  font-family: "Raleway-SemiBold";
  width: 100%;
  padding: 25px 0;
  max-width: 180px;
}
.primeraColMenu {
  width: 100%;
  max-width: 200px;
}
.menuVendedores a:hover {
  background-color: #e9e9e9;
  color: #0078b1;
}
.menuVendedores a.current {
  background-color: #e9e9e9;
  color: #0078b1;
}

.menuVendedores h4 {
  font-size: 16px;
  color: #0078b1;
  font-family: "Raleway-Bold";
}
.menuVendedores h5 {
  font-size: 14px;
  color: #888888;
  font-family: "Raleway-Medium";
}

.explicaVendedor {
  max-width: 750px;
  color: #0078b1;
  font-size: 18px;
  margin: 20px auto;
  font-family: "Raleway-Bold";
}
.explicaVendedor p {
  color: #333333;
  font-size: 14px;
  font-family: "Raleway-Regular";
  text-transform: none;
  text-align: justify;
}
.contInfosVendedor {
  display: flex;
  flex-flow: wrap;
  gap: 30px;
  justify-content: space-evenly;
}
.divInfoVen {
  padding: 15px 50px;
  background-color: #009be5;
  color: #fff;
  border-radius: 15px;
  font-family: "Raleway-Bold";
  font-size: 14px;
  min-width: 200px;
  max-width: 310px;
  text-align: center;
}
.numeroCotizaciones {
  font-size: 20px;
}
.divInfoVen a {
  color: unset;
}
.datosEditarVendedor {
  max-width: 600px;
  margin: 0 auto;
}
#recuperarClaveVendedora {
  margin-top: 20px;
}
.btnFormCompraRapida {
  border-radius: 15px;
  float: left;
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #009be5;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  text-transform: uppercase;
  font-family: "Raleway-Bold";
  font-size: 14px;
}
.btnFormCompraRapida:hover {
  background-color: #009be5;
}

/*? Fin de VENDEDORAS */

/* TODO Pagina Cotización exitosa*/

.contCotExito {
  margin: 40px;
  text-align: center;
}
.titulosCotExito {
  font-size: 24px;
  font-family: "Raleway-Bold";
  color: #0078b1;
  margin-bottom: 30px;
}
.mensajeCotExito {
  font-size: 14px;
  font-family: "Raleway-Medium";
  margin-bottom: 20px;
}
.mensajeCotExito p {
  margin-bottom: 10px;
  color: #555555;
}
.mensajeCotExito span {
  color: #009be5;
}

.btnCotExito {
  width: 100%;
  height: 45px;
  padding: 15px 40px;
  max-width: 280px;
  background-color: #009be5;
  line-height: 45px;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  font-family: "Raleway-Bold";
  font-size: 14px;
  border-radius: 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-transform: uppercase;
}

.btnCotExito:hover {
  background-color: #009be5;
}
.infoCotExito {
  font-size: 14px;
  font-family: "Raleway-Medium";
  margin: 20px;
  color: #555555;
}
.infoCotExito h2 {
  font-size: 16px;
  font-family: "Raleway-SemiBold";
  margin-bottom: 15px;
}
.infoCotExito p {
  margin-bottom: 10px;
}

/*? Fin de pagina cotizacion exitosa*/

/* TODO MI CUENTA */

/* MENU lateral */
.menuMiCuenta {
  float: left;
  width: calc(25% - 20px);
  margin-top: 30px;
  margin-right: 20px;
  border: 2px solid #009be5;
}

.menuMiCuenta a {
  float: left;
  width: 100%;
  padding: 15px 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #888888;
  font-size: 14px;
  font-family: "Raleway-Medium";
  text-align: left;
}
.menuMiCuenta a:hover {
  background-color: #f4f4f4;
}
.menuMiCuenta a.current {
  background-color: #f4f4f4;
}

.menuMiCuenta h4 {
  float: left;
  width: calc(100% - 20px);
  margin: 15px 0 0px 20px;
  font-size: 16px;
  color: #0078b1;
  font-family: "Raleway-SemiBold";
  text-align: left;
}
.menuMiCuenta h5 {
  float: left;
  width: calc(100% - 20px);
  margin: 0 0 15px 20px;
  text-align: left;
  font-size: 12px;
  font-family: "Raleway-Regular";
  color: #999;
}

/* Contenido mi cuenta*/

.contenidoMiCuenta {
  float: left;
  width: 75%;
  min-height: 100px;
  background-color: #fff;
  margin-top: 30px;
}
.titulosCuenta {
  float: left;
  width: 100%;
  text-align: left;
  color: #0078b1;
  font-size: 18px;
  margin: 0px 0 10px 0;
  margin-bottom: 10px;
  font-family: "Raleway-Bold";
}
.titulosCuenta p {
  color: #333333;
  font-size: 14px;
  font-family: "Raleway-Regular";
  text-transform: none;
  margin-top: 20px;
}

.subtituloMiCuenta {
  float: left;
  width: 100%;
  color: #0078b1;
  font-size: 16px;
  margin: 0 0 15px 0;
  text-align: left;
  font-family: "Raleway-Bold";
}

.contAccsesoMiCuenta {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  grid-auto-flow: dense;
  gap: 20px;
}
.btnAccesoDirecto {
  float: left;
  border: solid 1px #ebebeb;
  width: 100%;
  padding: 10px;
}
.iconoDashboard {
  float: left;
  width: 44px;
  line-height: 60px;
  height: 44px;
  background-color: #e9e9e9;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-left: calc(50% - 22px);
  margin-bottom: 10px;
}
.iconoDashboard i {
  color: #009be5;
}
.nombreDashboard {
  float: left;
  width: 100%;
  text-align: center;
  color: #555555;
  font-size: 12px;
  text-align: center;
  font-family: "Raleway-SemiBold";
}
.btnActualizarMicuenta {
  display: inline-block;
  width: 230px;
  color: #fff;
  margin-right: 12%;
  padding: 0;
  background-color: #009be5;
  text-align: center;
  height: 45px;
  line-height: 45px;
  border-radius: 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16px;
  font-family: "Raleway-Bold";
  float: right;
}

/* banner de tips mi cuenta lado derecho*/
.tipsMiCuenta {
  float: right;
  width: 260px;
  padding: 20px;
  text-align: left;
  border-radius: 15px;
  background-color: #f4f4f4;
}
.tipsMiCuenta h3 {
  float: left;
  width: 100%;
  color: #009be5;
  font-size: 16px;
  margin-bottom: 10px;
  font-family: "Raleway-Bold";
}
.tipsMiCuenta p {
  line-height: 17px;
  float: left;
  width: 100%;
  margin: 0;
  font-size: 14px;
  color: #888888;
  font-family: "Raleway-Medium";
}

.whatsAppCuenta {
  float: left;
  width: 100%;
  margin: 20px 0;
  color: #009be5;
  font-size: 16px;
  line-height: 50px;
  font-family: "Raleway-SemiBold";
}

.iconoWhatsApp {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 60px;
  border-radius: 60px;
  border-radius: 60px;
  background-color: #e9e9e9;
  font-family: "Raleway-Bold";
}
.iconoWhatsApp i {
  font-size: 18px;
}
.numeroWhatsApp {
  float: left;
  margin-left: 10px;
}
.iconoWhatsApp {
  float: left;
  text-align: center;
}

/*MIS cotizaciones*/

.ocCot {
  color: #009be5;
  text-decoration: underline;
}
.thumbsProducto {
  float: left;
  width: 80px;
  margin-right: 20px;
  min-height: 30px;
  border: 1px solid #ccc;
}
.infoProdDetalle > span.nombreProdDetalle {
  color: #0078b1;
  font-size: 14px;
  font-family: "Raleway-Bold";
}
.cantidadProdDetalle {
  font-size: 12px;
  font-family: "Raleway-Medium";
}
.colorDetalle {
  font-size: 12px;
  font-family: "Raleway-Medium";
}
.logoDetalle {
  font-size: 12px;
  font-family: "Raleway-Medium";
}
/*? Fin de MI CUENTA */

/*TODO Tablas*/
.dataTables_length label {
  width: unset;
  float: unset;
}
.dataTables_length div.selector {
  width: unset;
  height: unset;
  line-height: unset;
  margin-bottom: 0;
}
.dataTables_filter label {
  width: unset;
  float: unset;
}
.btnDetalleTablas {
  background-color: #009be5;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Raleway-Bold";
  color: #fff;
  border: none;
  padding: 2px 15px;
  border-radius: 5px;
  min-width: 85px;
  line-height: 16px;
  margin: 2px 0;
}
.contBotonTabla{
  line-height: 16px;
}
.btnSinStockTablas {
  background-color: #dd0000;
}
.btnSustitutoGris {
  background-color: #cccccc;
}
.btnNuevo {
  background-color: #1cb335;
}

.tituloEmpresas {
  color: #0078b1;
  font-size: 24px;
  font-family: "Raleway-Bold";
}
.page-item.active .page-link {
  background-color: #009be5;
  border-color: #009be5;
}

.tdDisable {
  color: #d4d4d4;
}
/*Clientes-Vendedor_detalle empresa*/

.contInputsTablas {
  display: flex;
  flex-flow: wrap;
  gap: 20px;
  margin: 20px 0;
  align-items: center;
}

.img-tabla {
  display: inline-block;
  max-width: 35px;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#cotizarProducto .cantidad {
  border: none;
}
.botonesTablas {
  display: flex;
  flex-flow: wrap;
  gap: 20px;
  margin: 20px 0;
  align-items: center;
  justify-content: end;
}
.btn-nuevaCotizacion {
  width: 100%;
  height: 45px;
  background-color: #009be5;
  line-height: 45px;
  padding: 0 20px;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  font-family: "Raleway-Bold";
  font-size: 14px;
  border-radius: 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  text-transform: uppercase;
  min-width: 180px;
}
.btn-nuevaCotizacion:hover {
  background-color: #009be5;
}
.btn-nuevaCotizacion-gris {
  background-color: #888888;
}
.btn-nuevaCotizacion-gris:hover {
  background-color: #666666;
}

tbody tr.trCotizacion {
  height: 55px;
}
.contSelectEmpresaUsuario {
  width: 100%;
}
.contSelectEmpresaUsuario > div.selector {
  width: 96% !important;
  height: 46px;
  border: 1px solid #009be5;
  border-radius: 15px;
}
.contSelectEmpresaUsuario > div.selector span {
  width: 90% !important;
}

.inptEmpresaPopup {
  float: left;
  width: 100%;
  padding: 0 10px;
  border: none;
  border: solid 1px #009be5;
  background: #fff;
  height: 50px;
  font-size: 14px;
  margin-bottom: 20px;
  color: #888888;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Raleway-Medium";
}

/*Agregar producto cotizar */
.buscadorProductoCotizar {
  width: 80%;
  background-color: #fff;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: solid 1px #ebebeb;
  margin: 20px 0;
  min-height: 50px;
}
.contDelBuscador {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap column;
  margin-bottom: 20px;
}
.contDelBuscador .botonTabla {
  width: 60%;
}
.contProductosBuscados {
  margin: 20px 0;
}
.contProductoBuscado {
  display: flex;
  flex-flow: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(204, 203, 203);
  margin-bottom: 10px;
}
.contImgFila {
  width: 25%;
  max-width: 90px;
  min-width: 90px;
}
.contImgFila img {
  border: 1px solid rgb(204, 203, 203);
}
.contInfoAgregar {
  width: 30%;
  max-width: 200px;
  min-width: 150px;
}
.contInfoAgregar .nombreGrilla {
  font-size: 11px;
}
.contInfoAgregar .nombreGrilla a {
  text-decoration: unset;
}
.contBotonAgregar {
  width: 25%;
  min-width: 120px;
}
.contLogoColor {
  width: 20%;
  min-width: 120px;
}
.contLogoColor .contLabelSelect {
  display: flex;
  flex-flow: wrap;
}
.contLogoColor .contLabelSelect label {
  font-size: 10px;
  margin-bottom: 0;
  margin-top: 5px;
}
.contLogoColor .contLabelSelect .logo-producto,
.color-producto {
  height: 30px;
  background: #fff;
  height: 30px;
  border: solid 1px #ededed;
  padding: 0 0 0 12px;
  position: relative;
  width: 101%;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

.cantidadAgregar {
  width: 100%;
  height: 45px;
  max-width: 80px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  overflow: hidden;
  border: 1px solid rgb(204, 203, 203);
}
div.cantidadAgregar > .selectCantidadAgregar {
  height: 45px;
  background: #fff;
  height: 48px;
  border: solid 1px #ededed;
  padding: 0 0 0 12px;
  position: relative;
  width: 101%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* Informaciones de Tablas */
.contInfoTablas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1180px;
  margin: 20px auto;
  gap: 20px;
}
.contenedorCalugaInfo1 {
  width: 80%;
  border: 2px solid #009be5;
  padding: 20px;
  min-height: 110px;
}
.contenedorCalugaInfo1 p {
  color: #888888;
  font-size: 12px;
  font-family: "Raleway-Medium";
  line-height: 14px;
  margin: 0;
}
.calugasInfo1 {
  display: flex;
  flex-flow: wrap column;
  justify-content: start;
  align-items: flex-start;
}
.calugasInfo1 h1 {
  font-size: 14px;
  font-family: "Raleway-SemiBold";
  color: #009be5;
  margin-left: 20px;
}
.calugasInfo2 {
  display: flex;
  flex-flow: wrap column;
  justify-content: start;
  align-items: flex-end;
  padding: 20px 0;
  gap: 20px;
}
.contenedorCalugaInfo2 {
  border: 2px solid #009be5;
  padding: 15px 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: end;
  min-width: 250px;
}
.contenedorCalugaInfo2 .precioNumero {
  font-family: "Raleway-Medium";
  font-size: 14px;
  color: #888888;
  line-height: 14px;
  margin: 0;
  width: 50%;
  text-align: left;
}
.contenedorCalugaInfo2 .precioReferencia {
  font-family: "Raleway-Medium";
  font-size: 14px;
  color: #009be5;
  line-height: 14px;
  margin: 0;
  width: 50%;
  text-align: right;
}
.notaEspecial {
  border: none;
  width: 100%;
  color: #888;
  font-size: 12px;
  font-family: "Raleway-Medium";
  line-height: 14px;
  margin: 0;
}
/*? Fin de Tablas*/
/*TODO Autocompletar*/
.ulListaEmpresas{  
  background-color:#f1f1f1;  
  cursor:pointer; 
  list-style: none;
  position: absolute;
  top: -25px;
  z-index: 10;
  width: 100%;
}  
.liListaEmpresa{  
  padding:5px 10px;  
} 
.liListaEmpresa:hover{  
  background-color: #009be5;
} 
/*? Fin de Autocompletar*/
