@charset "UTF-8";
/* CSS Document */

@media (max-width: 1400px) {	}

@media (max-width: 1250px) {
.owl-banner1 .owl-prev{ left: 15px; bottom: 50px; }
.owl-banner1 .owl-next{ left: 75px; bottom: 50px; }
}
@media (max-width: 1200px) {
    .menuFijo a{font-size: 11px; margin: 0;}

    .carroContDerecha {width: calc(45% - 32px); margin-left: 10px;}
    
    .contImgBloque{width: 50%; margin-left: 0;}
    .txtBloque{width: calc(50% - 30px);}
    .grillaSucursales img{width: 100%; float: left;}
    .map .responsive.block{width: 100%;}
    .centroFilaHeader{width: calc(100% - 40px); margin-left: 20px; margin-right: 20px;}
    .contMenu{width: calc(100% - 40px); padding-left: 20px; padding-right: 20px;}
    .cont100Centro{width: calc(100% - 40px); margin-left: 20px; margin-right: 20px; padding: 0;}
    .contMenu2{width: calc(100% - 40px); margin-left: 20px; margin-right: 20px; padding: 0;}
    /*.carro-header {width: auto;}*/
    .centroBannerCuentaRegresiva{width: calc(100% - 40px); margin-left: 20px; margin-right: 20px;}
    .btnAgregar.btnAgregarFixed{ width: 150px}
    
    .nomIconoCat{height: 35px;}
    
    #btnNewsletter{width: 100px;}
    .campoNewsletter {width: calc(100% - 140px);}
}
@media (max-width: 1150px) {
.contCarro{width: 100%;	margin-right:0;}
.contTotales{width: 100%;	margin-right:0;}
}
@media (max-width: 1090px) {
    .owl-banner1 .owl-prev{ bottom: 20px; }
    .owl-banner1 .owl-next{ bottom: 20px; }
    .seccionSucursal > .contieneSucursal { width: 100%; }
    .cycle-overlay { font-size: 25px; }
    .cycle-overlay2 { font-size: 35px; }

    .contenidoMiCuenta{ width:90%;}
    .menuMiCuenta{ width:calc(100% - 52px); }

    .contMedioPago{ width: 100%; }
    .carroContIzquierda{ padding-right: 10px; width: 48%;}
    .carroContDerecha { margin-left: 10px; width: 48%; }

    .menuFijo a{font-size: 9px; }
    .grillaCatHome{width: calc(25% - 70px); padding: 0 35px;}
    
    .hamburger {margin: 7px 0 0 5px;}
    .datosHeaderContacto{width: calc(50% - 91px);}
    .datosHeaderContacto a,
    .datosHeaderContacto span{display: none;}
    .contMenu{display:none; background-color:#fff; position:absolute; top:28px; z-index:999; left:0; /*height:100%;*/ margin-top:43px;}
    .menu{width: 100%; float: left; position: relative;}
    .menu li {display: block; margin:0;  padding:0; min-height: 50px; height:auto; line-height:50px; float:left; width:100%; border-bottom: solid 1px #f9f9f9; position: unset;}
	.menu li a{float:left; width:calc(90% - 30px); text-align:left; position:relative; padding-left: 0; font-size: 16px; line-height: 16px;}
    .menu li i{float:right; width:10%; height: 50px; text-align: center; line-height: 50px; color: #0b3d8c; cursor: pointer; display: block!important;}
	
    /*Para anular el hover de escritorio*/
    .menu li:hover > ul.sub { display:none;}
    .menu li:hover > a { color: #333;}
	/*Para anular el hover de escritorio*/
    
    .menu li ul{box-shadow: none; min-height: 100vh;}
	.menu li ul.sub{display: none; float: left; top: 0; background: #fff; color: #fff; width: 100%; padding-left: 0; left: 0; position: absolute; z-index: 9;}
    .menu li ul li { width: 100%; padding: 0px; font-size: 16px;}
    
	.menu li ul li a{color:#666; background-image: none; width: calc(90% - 10px); padding-left: 10px;}
    .menu li ul li a i{float:right; width:10%; height: 50px; text-align: center; line-height: 50px; color: #2eaadc; cursor: pointer; display: block!important;}
    
	.menu li ul ul {width: 100%; position: absolute; z-index: 99; left: 0; top: 0; min-height: 100vh;}
	.menu li ul ul li { min-height:30px; line-height:30px;}
    
    .menu li ul li:hover > ul.subSub{ display:none;}


}
    
    
@media (max-width: 1060px) {
    .menuFijo a{margin-right: 3px;}
    .whatsapp{margin-top: 5px;}
    .whatsapp span:last-child{display: none;}
    .whatsapp span i{font-size: 31px;}
    #formCompra{float: left; width: calc(100% - 40px); padding-left: 20px; padding-right: 20px;}
     .contDatosPasoEnvio{width: 100%;}
     .carroContDerecha{ margin-bottom: 20px; }
    
    .porcentajeDescuento { font-size: 12px; border: solid 1px red; height: 30px; line-height: 30px; padding: 0 10px;}
	.headCat h1 {padding: 30px 180px 30px 20px;}
	
	.grilla { width: calc(33% - 20px); padding-bottom:10px;}
    .infoClienteExito{width: calc(100% - 40px); margin: 20px 0 20px 20px; padding-bottom:20px; border-bottom:solid 1px #ccc;}
	.infoClienteExito2{ width: calc(100% - 40px); padding: 0; margin: 20px 0 20px 20px; padding-bottom:20px; border-bottom:solid 1px #ccc; }
    .contTotalesExito {width: calc(30% - 32px);}
    .subCatHome a {width: calc(20% - 40px);}
    h1.nomCategoria{width: 100%;}
	
}
@media (max-width: 940px) {
	/* cambio de menu */
	/**/

    .contBanner3 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "tituloBanner3    tituloBanner3"
                             "banner3-1        banner3-2"
                             "banner3-3        banner3-4"
                             "banner3-5        banner3-5"
                             "banner3-6        banner3-6"
                             "banner3-7        auto";
      }
    .contCarroCotizar {
        grid-template-columns: 1fr;
    }
    .cycle-overlaySub{ font-size: 12px; top: 80%;}
    .contCompraRapida{ flex-direction: column;}
    .carroContIzquierda { width: 90%;}
    .carroContDerecha{ width: 90%; }
    .infoBuscador{ margin-top: 70PX; padding: 10px 190px; }
    .tituloBusqueda{ margin: 0; }
    .grillaSucursalesInterior{ width: 100%;}
    
    .datosHistoria {width: calc(100% - 60px);}
    .marca {width: calc(20% - 20px);}

    .grillaSucursales {width: calc(50% - 20px); margin: 0 10px; margin-bottom: 15px;}
    

    .menuFijo a{margin-right: 0; font-size: 8px;}
    nav li{ line-height: 2.5rem;}
    
    h1.logo{margin-top: 20px; margin-bottom: 0;}
    h1.logo a {width: 130px; height: auto; background-size: 100% 100%; background-image: url(img/logo.png);}/*poner logo en svg*/
    
    .masCategorias{display: none;}
    .imgMediosResponsive{float: left; width: 100%;}
	.iconoBuscador{display:block;}
	.carro-header{ margin-top:0px;}
	.nombreGrilla{font-size:14px;}
    
    .contDireccionesMenu{display: none;}
    .desktop, .movil{ display: none; }
	.tablet{ display: block!important; }
    .subCatHome a {width: calc(25% - 40px);}
    .subCatHome a h4{font-size: 14px;}

    .infoAgregarCarro{width: 100%;}
    .tablaTecnica table{width: 100%;}

    .mapaEncuentranos{ width: 100%; }
    .infoEncuentranos{ width: 100%; }
    /*=================================
    =            Servicios            =
    =================================*/
    .serviciosPag{ display: block; width: 100%; margin: 0; align-items: center; }
    .imagenServicio{ width: 100%; padding: 10px; }
    .textServicios{ width: 100%; }
    .imagenServicio img{ width: 95%; }
    .serviciosPag p{ width: 90%; }
    /*=====  End of Servicios  ======*/
    /*=================================
    =            Nosotros            =
    =================================*/
    .nosotrosPag{ display: block; width: 100%; margin: 0; align-items: center; }
    .nosotrosPag p{ width: 90%; }
    /*=====  End of Nosotros  ======*/

}
@media (max-width: 850px) {
    .lineasDestacadas{
        display: none;
    }
    .contTerminos { grid-template-columns: 100%; }
    .grillaCatHome{width: calc(25% - 70px); padding: 0 30px;}
    
    
	.fixedResponsive{display:block;}
	.fixedResponsive h3, 
	.filatoolTip,
	.btnCompletarCompra{display:none;}
	.fixedResponsive .fixedCarro1 .btnCompletarCompra{display:block;}
	.fixedResponsive .fixedCarro1{z-index: 99; filter: alpha(opacity=99); -moz-opacity: .99; opacity: .99;}
    .cont50Identificacion h3{text-align:center;}
    
    .contTotalesExito {width: calc(100% - 32px); margin-top:0;}
	.contInfoPago .ancho25{ width:50%; margin-bottom:20px;}
	.menuMiCuenta {width: calc(100% - 52px);}
	.cont50Form{width: 100%; padding: 0;}
	#formularioActualizar #btnActualizar{ width:100%; margin-left:0!important; margin-right:0;}
	.encabezado .ancho20{ width:30%;}
    
    
    .cont100Countdown{position: relative; height: 240px;}
    .imgCountDounTablet{display: block; height: 240px; width: 100%; float: left; background-position: center center; background-repeat: no-repeat;}
    .centroBannerCuentaRegresiva{position: absolute; top: 0; z-index: 9; height: 240px;}
    /*.owl-dots{display: none;}*/
    .datosCliente{width: 100%; margin-bottom: 30px;}
    .tipsMiCuenta{width: calc(100% - 40px);}
    .icono-header-right3{position: unset;}
}

@media (max-width: 800px) {
    .contServiciosSlider{ flex-direction: column; }
    .serviciosSlider{ width: 100%; margin-bottom: 20px; }
    .infoClienteExito{ padding: 0 15px 20px 30px; width: calc(100% - 120px); }
    .infoClienteExito2{ padding: 0 15px 20px 30px; width: calc(100% - 120px); }
    
    .marca {width: calc(25% - 20px);}
    
    .radioRegistro{min-width: 150px;}
    .contSimilares{display: none;}
    .buscadorResponsive{display: none;}
    .contRadios{float: left; width: 100%; margin-left: 0;}
    
	.btnAgregarMasProductos{ display:none;}

	.fixedCarro1{z-index: 99; filter: alpha(opacity=99); -moz-opacity: .99; opacity: .99;}
	.fixedCarro1 .btnCompletarCompra{ display:block;}
	.grilla { /*width: calc(50% - 20px);*/ padding-bottom:10px;}
    
    
    /*Envio y pago*/
    .contBotoneraEnvioYPago{display:block;}
	.contDatosCarro{ width:100%;}
	.colForm1 {padding: 15px; width: calc(100% - 32px); margin: 0 0 20px 0;}
	.contCarroPaso3{flot:left; width:100%;}
	.contCarroPaso3 .col2{width: calc(100% - 30px); margin-left: 0; padding: 15px;}
	.contFactura { float: left; width: calc(100% - 30px); margin-top: 0px; margin-bottom:20px; background: #f7f7f7; padding: 0 15px 15px 15px; position: relative; margin-right: 0px; margin-left: 0px; }
	.contPaso3Movil{/*display:none;*/}
	#facturaMovil .ancho50Centro{ width: calc(100% - 20px);}
    /*Envio y pago*/
    
    .campo_buscador{/*width: calc(100% - 63px);*/}
    .escritorio{display:none;}
    
    .logoFooter{width: calc(33% - 10px)!important;}
    .lineaFooter3{width: calc(33% - 30px)!important;}
    .lineaFooter2{width: calc(33% - 10px)!important;}
    .contNewsletterFooter{width: 100%!important; margin-bottom: 30px;}
    /*.grillasFicha .grilla { width: calc(48% - 2px); margin: 0 1%; margin-bottom: 15px;}*/
    /*.owl-dots{display: none;}*/
}

@media (max-width: 760px){
    .contenedorCalugaInfo1, .contenedorCalugaInfo2 {
        width: 100%;
    }
    .lineasDestacadas{
        display: none;
    }
    .contMenuBuscador {
        grid-template-rows: 1fr;
        grid-template-columns: minmax(130px, 130px) 1fr;
    }
    .filaLogo2{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .contFiltrosExtras {
        justify-content: center;
    }

    .owl-banner1 .owl-prev{ bottom: 10px; }
    .owl-banner1 .owl-next{ bottom: 10px; }

    .marca {width: calc(33.3333% - 20px);}
    
    .botonLetra {width: calc(50% - 10px);}
    .grillaCatHome{width: calc(50% - 40px); padding: 0 20px;}
    
    .grillaCatHome:nth-child(7){display: none;}
    .grillaCatHome:nth-child(8){display: none;}
    .grillaCatHome:nth-child(9){display: none;}
    .grillaCatHome:nth-child(10){display: none;}
    .grillaCatHome:nth-child(11){display: none;}
    .grillaCatHome:nth-child(12){display: none;}
    .grillaCatHome:nth-child(13){display: none;}
    .grillaCatHome:nth-child(14){display: none;}
    .grillaCatHome:nth-child(15){display: none;}
    
    
    .filaLogo2 a.buscadorAC{ display: none; }
    /* .filaLogo2 nav ul li a{ display: none;} */
    .filaLogo2 nav{ float: right; margin-top: 5px; }
    h1.logo{margin-left: 20px; margin-top: 0;}
    #buscadorMenuResponsive{ display: block; }
    .contBuscadorResponsive{margin: 10px 0;}
    .buscadorResponsive{display: block;}
    .btn_search{height: 47px;}
    .filaCantidadAgregar{margin-top: 20px;}
    .contMenu2{display: none;}
    .redesHeader{display: none;}
    .btnBorrarFiltros{display: none;}
    .iconoMenu{display: block;}
    .logoFooterIso{display: none;}
    .logosResponsive .logoFooterIso{display: block; display: inline-block; float: none;}
    
   .lateralFiltro{width: 200px;}   
    
    .contColumnaOcultaMovil{display: none; float: left; width: 100%;}
    .contFooter{
        grid-template-columns: 1fr;
        grid-template-areas: "col1"
                             "col2"
                             "col3"
                             "col4";
        margin: 0 auto;
        gap: 20px;
      }
    .colFooter1, .colFooter2, .colFooter3, .colFooter4 ,.colFooter5 {
        padding-left: 15px;
        border-bottom: 1px solid #fff;
    }

    .logosResponsive .logoFooterCcs{display: inline-block; float: left;}
    .logosResponsive .selloFooter{display: inline-block; float: none;}
    .logosResponsive .logoCyberFooter{display: inline-block; float: none; margin-bottom: 20px;}
    .logosResponsive .logoCyberFooter img{width: auto;}
}



@media (max-width: 700px) {

    .barraBuscador{ display: none;}
    .filaLogobuscador{ justify-content: end; margin-left: 0; margin-right: 10px;}

    .contFracaso{ width: 300px; margin-left: calc(50% - 150px); }
    .contBtnFracaso a#volverSitio{ margin: 10px 10px; }

    .contFormServ{ padding: 5px; }
    .tituloCarro{ display: none; }

    .contCentroPagFijas{width: calc(100% - 40px); margin-left: 20px; margin-right: 20px; }
    .contLetras {width: 100%; margin-left: 0px; margin-top: 20px;}
    
    .centroExito{width: calc(100% - 2px); margin-left: 0;}
    #home-map{display: none;}
    
    h1.nomCategoria{font-size: 28px; margin-bottom: 20px;}
    .filtrosDesktop { width: calc(100% - 30px); margin-right: 0; border: none;  padding: 15px;}
    .lateralFiltro{float: left; width: 280px; }
    
    .lateralFiltro{display: block;}
    .datosHeaderContacto{display: none;}
    h1.logo{margin-left: 20px;}
    .centroPopUpTraking { width: calc(94% - 60px); margin-left: 3%; margin-right: 3%; border-radius: 5px; background-color: #fff; padding: 30px; margin-top: 30%;}

	.colResp100{ width:100%;}
	#formNewsletter{ /*padding-left:20px; width: calc(100% - 40px);*/}
	.contRedes{ display:none;}
	#btnNewsletter{top:-10px;}
	.contrespFooter{ display:none;}
	.abrirFooter{display:block;}
	.marginLeft5{ width:80%; margin-left:10%;}
	
	.contValoresFixed{ top: unset; bottom:0;}
	.contImgFixedFicha{ display:none;}
	.infoFixedFicha{ display:none;}
	.valoresFixed .cont50.floatRight{ width:100%;}
	/*.contPrecioFixed{ text-align:left;}*/
	/*.contPop{ width: calc(96% - 40px); margin-left:2%; height: auto; top:5%; left:unset; margin-top:0;}
	.contPop .ancho50.floatLeft{ width:100%; padding-bottom:20px; border-bottom:solid 1px #ccc; }*/
	.contDatosCompra{border-left:0;}
	.tituloRelacionados{font-size:20px;}
	.imgDestacados{ width:calc(100% - 100px); margin-right:0; padding-right:50px; height:auto;}
	.infoDestacado{ width:100%; margin-left:0; margin-top:0;}

	.contNewsletterFooter{width:33%;}
	
	.tituloGuardados{ font-size:18px;}
	.contDirecciones{width: calc(100% - 42px);}
	.encabezado .ancho20{ width:50%; margin-bottom:10px; text-align:left;}
	.encabezado .ancho20.floatRight{ float:left;}
    .tituloFilaAccordeon{padding: 0 10px;  width: calc(100% - 20px);}
    
    .logoFooter{width: 100%!important;margin-bottom: 20px;}
    .lineaFooter3{width: 100%!important; margin-bottom: 20px;}
    .lineaFooter2{width: 100%!important;margin-bottom: 20px;}
    .contNewsletterFooter{width: 100%!important; margin-bottom: 30px;}
    
    .lateralFiltro{width: 60%; background-color: #fff; min-height: 100vh; padding: 20px 15px;}
    .contGrillasProductos {width: 100%;}
    .fondoLateralFiltro{position: absolute; z-index: 999; top: 0; left: 0; width: 100%; min-height: 100vh; background-color: rgba(0,0,0, .6); display: none;}
    .contFIltrosMovil{display: block; float: left; width: 100%; border: solid 1px #f2f2f2; margin-bottom: 15px;}
    .btnFiltrosMovil{display: block; background-color: #f5f5f5; border-bottom: solid 1px #ccc;}
    .filtrosOrden{background-color: #f5f5f5; margin-top: 0; border-left: solid 1px #ccc; border-bottom: solid 1px #ccc;}
    .filtroTalla{display: none;}
    .filtroColor{display: none;}
    
    .filtrosOrden{width: 50%;}
    .contenedorFiltro{height: 55px;}
    .contNomFiltroActual{height: 55px; line-height: 55px;}
    .contNomFiltroActual:first-child{margin-right: 20px;}
    .contNomFiltroActual span{height: 55px;}
    .contContactoIz{width: 100%;}
    .contContactoDe{width: 100%;}
    
    .carroContIzquierda { box-sizing: border-box; padding-right: 0; padding-left: 15px; margin: 0;}
    .carroContDerecha { box-sizing: border-box; padding-right: 0; padding-left: 15px; }
    #contDatosCartVariables{display: none;}   
    .carroDerechaMovil{display: block;}
    .conFilasCarroEnvioYPago{overflow-y: scroll;
    height: auto;}
    
    
    #contDatosCartVariables.contDatosCartVariables{display: block;}
}

@media (max-width: 600px) {

    .contBanner3 {
        grid-template-columns: 1fr;
        grid-template-areas:
        "tituloBanner3"
        "banner3-1"
        "banner3-2"
        "banner3-3"
        "banner3-4"
        "banner3-5"
        "banner3-6"
        "banner3-7";
    }
    .contNosotros {
        grid-template-columns: 1fr;
        grid-template-areas: 
        'titulo'
        'nos1'
        'nos2'
        'nos3'
        'nos4'
        'nos5'
        'nos6'
        'subtitulo1'
        'nos7'
        'nos8'
        'subtitulo2'
        'nos9'
        'nos10'
        'subtitulo3'
        'nos11'
        'nos12'
        'nos13';
        gap: 30px;
    }
    .contFichaImagenes {
        grid-template-columns: repeat(auto-fill,minmax(20rem,1fr));
    }

    .contTiltuloHeader2 h1{
        font-size: 12px;
      }
    .contInfoTablas {
    grid-template-columns: 1fr;
    }
    .contBanner2{ grid-template-columns: 1fr;}
    .cycle-overlaySub{ top: 60%; font-size: 8px;}
    .breadcrumb{font-size: 12px; }
    .contDireccionesCuenta{ flex-direction: column; }
    .servFormulario{ margin-left: 0;}
    .grillasHome>div.owl-bannerMarcas>div.owl-dots{ left: 5%; }
    .owl-banner1 .owl-prev{ bottom: -20px; left: 40%; }
    .owl-banner1 .owl-next{ bottom: -20px; left: 60%;}
    
    .contTextosFijosMenu { width: 100%; margin-right: 0px;}
    
    .imgSucursalInterior{ width: 40%;}
    .datosGrillaSucursalInterior {margin-left: 20px; margin-top: 0; width: calc(60% - 20px);}
    
    .fondoAzul p {width: calc(100% - 40px); padding: 100px 20px;}
    .contBloque1Historia {padding-bottom: 90px; background-color: #000;}
    
    .contImgBloque{width: 100%; margin-left: 0;}
    .txtBloque{width: 100%; margin-left: 0; padding-left: 0; margin-top: 20px;}
    
    .botonLetra {width: 100%; margin-right: 0; margin-left: 0;}
    
  
    .grillaDestacados {width: 100%; margin-bottom: 15px;}
    .grillaDestacados:nth-child(2n) {margin-left: 0;  margin-right: 0;}
    
    .grillaEntrada {width: calc(100% - 2px); border: solid 1px #ccc; margin-left: 0px; margin-right: 0px; margin-bottom: 10px;}
    
    
    .grilla {width: calc(50% - 20px);}
    .contFondoBlogger h3{font-size: 30px; margin: 30px 0 20px 0;}
    .decripcionBlogger{width: 80%; margin-left: 10%;}
    
    .btnInicioSesion{ padding: 0; margin: 12px 0 0 0; background-color: #fff;}
    .btnInicioSesion:hover{background-color: #fff;}
    .iconoResponsive{display: block; color: #224f97;}
    .txtEscritorio{display: none;}
    .grillaTienda{display: none;}
    .bannerTienda{height: auto; padding-bottom: 30px;}
    .colBannerTextos{margin-left: 0; width: 100%;}
    .colBanner2{float: left; width: 50%;}
    
    .contNews .cont50{width: 100%;}
    .tituloNews1{font-size: 26px;}
    .tituloNews2{font-size: 26px;}
    #formNewsletter{margin-top: 20px;}
    #btnNewsletter{width: 25%;}
    
    .imgCountDounTablet{display: none;}
    .imgCountDounMovil{display: block; height: 120px; width: 100%; background-position: center center;}
    .centroBannerCuentaRegresiva{height: 120px;}
    .cont100Countdown{height: 120px;}
    .contcountdown .countdown .columnaCountDown .cdn{width: 40px; height: 40px; font-size: 30px; color: #0062c5; line-height: 40px;}
    .contcountdown .countdown .columnaCountDown .cdt{background-color: transparent; text-transform: uppercase;}
    .btnCountDown{height: 32px; line-height: 32px; font-size: 14px; margin-top: 67px;}
    .contcountdown .countdown{width: 154px;}
    .contcountdown{width: 154px;}
    .contcountdown .countdown .columnaCountDown{width: 40px;}

    .grillaComoComprar{width: 100%;}
    .contTextosFijos{width: 100%;}
    .contDescricionesFicha{width: calc(100% - 60px)}
    .itemHeader span{display: none;}
    .itemHeader span.hDireccion{display: block; width: 200px;}
    
    .filaBanners3-0 {width: 100%; margin-right: 0;}
    .filaBanners3-1 {width: 100%; margin-left: 0px;}
    .filaBanners3-2 {width: 100%; margin-left: 0px;}
	.slide{ /*height:400px;*/ background-size:auto 100%; background-position:center top;}
	.btnOfertasSlide{display: block;}
    .filaTitulos{display:none;}
	.filaProductos .imgFila{ width:40%;}
	.filaProductos .contInfoShowCart,
	.filaProductos .cantFila,
	.filaProductos .totalFila{ width:calc(60% - 20px); margin-left:20px;}
    .filaProductos .precioFila{width: 100%;}
	.botoneraShowCart{ display:none;}
	.contInfoShowCart{ margin-bottom:10px;}
	.eliminarCartPopUp{margin-left: 20px;}
    
    .totalFila{ font-size:24px; text-align:left; margin-top:10px;}
    .totalFila span{ float:left; font-weight:600;}
	.filaProductos .precioFila span{float:left;}
	.unidadMovil{ display:block; margin-left:5px; color:#ccc;}
	.botoneraMovil{ display:block; float:right; width:calc(60% - 20px); margin-left:20px;}
    #contFilasCarro{ border-top: solid 1px #ccc; padding-top:20px;}
    
    .infoClienteExito .ancho33{ width:100%; margin-bottom:20px;}
	.contInfoPago .ancho25 {width: 100%; margin-bottom:0;}
	.btnTerminos{ padding:0; width:100%; text-align:center;}
	.contBotonesCarro a{padding: 0 20px;}
	
	.menuMiCuenta {width: 100%; margin-right:0; border:none; text-align:center;}
	.menuMiCuenta a{width: auto; padding: 10px 15px; border: solid 1px #ccc;  display:inline-block; float:none;}
    
    .menuMiCuenta a.current{background-color: #1a58b5; color: #fff;}
	.contenidoMiCuenta{ width:96%;}
	.acceso1{text-align:left; font-size:24px;}
	.contNuevaDireccion{ width:calc(100% - 90px);}
	.fancybox-content{/*padding: 20px!important; max-width: calc(90% - 40px)!important;*/}
	.contNuevaDireccion .ancho50Centro{width: 100%; margin: 0 0 2px 0;}
	.guardarDireccion{ padding:0; width:100%; margin-left:0; text-align:center;}
	.precioFilaGuardado { float: left; width: calc(60% - 20px); padding-left: 20px; text-align:left;}
    
    .desktop, .tablet{ display: none!important; }
	.movil{ display: block!important; }
   
	.movil{display: block; float: right; width: 100%; /*height:540px;*/ text-align: center; color: #fff; cursor:pointer; line-height: 42px;}
    .nombresCuenta{display: none;}
    .menuUsuarioheader{width: auto;}
    .menuUsuarioheader li ul{display: none!important;}
    .subCatHome a {min-height: 140px;}
    .subCatHome a h4{font-size: 12px;}
    .contCarroCompras{/*margin-top: 10px;*/}
   
    .footer .cont100Centro .lineaFooter3{margin-left: 0; margin-right: 0;}
    .footer .cont100Centro .lineaFooter2{margin-left: 0; margin-right: 0;}
    .footer .cont100Centro .contNewsletterFooter{margin-left: 0; margin-right: 0;}
    .accordeonFooter{cursor: pointer;}


    .contDescripciones { width: calc(100% - 10px); margin: 50px 10px; }
}

@media (max-width: 490px) {
    .iconosHeader{
        margin-left: 5px;
        gap: 5px;
    }
    .filaLogo2 nav {
        margin: 0;
    }
    .menuFijo{
        display: none;
    }
    .contBtnMenuResponsive{float: left; width: 36px; height: 36px; margin-top: 5px; display: block;}
    .menuVendedores a {
        max-width: unset;
      }
      .primeraColMenu {
        max-width: unset;
        padding: 15px 0;
      }
    .contenedor_headerSuperior { font-size: 8px; padding: 2px; }
    .izInfoHeader, .deInfoHeader { gap: 2px; }
    .botonDetalle{ font-size: 11px; }
    .cycle-overlay5 { font-size: 8px; }
    .cycle-overlay6 { font-size: 12px; }

    .titulosMenuTabs a{ font-size: 10px;}
    .filaProductosVistos .imgFila a img{ width: 100px; height: 100px;}
    .filaProductosVistos .imgFila{ width: 100px; height: 100px; }
    .owl-carouselProductos .owl-prev{ top: 35%; }
    .owl-carouselProductos .owl-next{ top: 35%; }
    .imgSucursalInterior{ width: 30%;}
    .datosGrillaSucursalInterior {margin-left: 20px; width: calc(70% - 20px);}
    
    .marca {width: calc(50% - 20px);}
    .colBanner{float: left; width: 100%;}
    .colBanner2{float: left; width: 100%;}
    h1.nomCategoria{font-size: 16px;}
    .contDescripciones .cont50-1{ width: 100%; margin-right: 0; margin-bottom: 20px;}
    .contDescripciones .cont50-2{ width: 100%; margin-left: 0; padding-left: 0;}
    
    .infoBanner span{font-size: 18px;}
    .infoBanner a{font-size: 13px;}
    .btnAgregar {width: calc(100% - 206px);}
    .contCalcM2{width: 100%;}
    .cantidad{width: 130px;}
    .campo_buscador {/*width: calc(100% - 70px); height: 38px; padding-left: 15px;*/}
    .eliminarCart2{top: -15px;}
    .carroContDerecha{background-color: #fff;}
    .tituloProductoResumen{width: 100%;}
    .valorFilaHeader{width: 100%; float: left;}
    .eliminarCartPopUp{float:left; margin-left: 0; width: 100%;}
    .cont100Centro.grillasHome{width: calc(100% - 20px); margin-left: 10px; margin-right: 10px;}
    .contDescargarFicha{width: 90%; float: left; }
    .grilla{min-height: 298px;}
    .campoCantCarroResumen{height: 35px;}
    .btnGrilla{display: none;}
    h1.logo{margin-left: 10px; width: 130px; height: 60px; margin-top: 0px;}
    h1.logo a {padding-top: 0; width: 100%; height: 60px; background-size: 100%; }
    .filaLogo2 a.icono-header-right2{margin-top: -5px;}
    .filaLogo2 a.icono-header-right{margin-top: -5px;}
    .carro-header{margin-top: 7px;}
    .contBtnMenuResponsive{margin-top: 5px;}
    .contDescargarFicha span {float: left; margin-right: 5px;}
    .contDescargarFicha a{float: left;}
    .subCatHome a {width: calc(33% - 40px);}
    .menuMiCuenta a {padding: 5px 5px;}
    .menuMiCuenta a i{display: none;}
    .contPop{width: 80%;}
    .contNomFiltroActual span,
    .btnFiltrosMovil{font-size: 12px;}

    .spinnerCarro{ margin-top: 15px; }

    .contPop h3{ font-size: 14px; }
    .contenedor_header.headerCarro{min-height: 45px;}
    .contTituloResponsive{width: 100%;}
    .contOpcionFactura{width: 100%;}
    .titulosCuenta p{line-height: normal;}
    .filaCarroMovil{width: calc(100% - 10px); padding: 0 5px;}
    .carroDerechaMovil{margin-bottom: 23px;}
    .whatsapp{display: none;}
    .btnAgregar.btnAgregarFixed{width: auto;}
    .contPrecioFixed{width: calc(100% - 185px);}
	.cantidad{ margin-bottom:10px;}
	.contNewsletterFooter{display:none;}
    .fixedCarro1 .btnCompletarCompra {width: 45%;}
	.fixedCarro1 .valoresCarro1Fixed { margin-right: 10px; width: calc(55% - 10px);}
	.contBotonesIdentificacionResponsive{display:block;}
    .cont50Identificacion{ width:calc(100% - 42px); margin:20px; float:left;}
    .contBotonesCarro a{ margin:0 0 10px 0; width:100%; padding:0;}
	.contDatosPago .ancho33{ width:100%; margin-bottom:10px; border-bottom: solid 1px #ccc; padding-bottom:15px;}
    .marca {width: 50%;}
    
    .menuFooterFinal a {margin-right: 0px; width: 100%;}
 
    .itemHeader span.hDireccion{display: none;}
    .contBtnMenuResponsive {margin: 7px 0 7px 3px;}
    .centroFilaHeader,
    .cont100Centro,
    .contMenu2,    
    .centroBannerCuentaRegresiva{width: calc(100% - 20px); margin-left: 10px; margin-right: 10px;}

    .cont100Countdown{height: 120px; overflow: hidden;}
    
    .contMenu{width: calc(100% - 20px); margin-left: 0px; margin-right: 0px; padding-left: 10px; padding-right: 10px; background-color: #fff; margin-top: 41px;}
    .icono-header-right{margin-left: 10px;}
    .icono-header-right a i{font-size: 25px;}
    .icono-header-right a .cantItems{display: none;}
    
    .icono-header-right3{margin-left: 0;}
    .icono-header-right3 a i{font-size: 25px;}
    
    .icono-header-right2{margin-left: 0px;}
    .icono-header-right2 a i{font-size: 25px;}
    .icono-header-right2 a .cantItems{display: none;}
    .contCarroCompras{margin-top: 5px;}
    .iniciales i{font-size: 25px;}
    .contMiCarro{margin-left: 0; margin-top: 5px;}
    .acceso1{text-align: center;}
    .btnFormRegistro{width: 90%; margin: 10px 5%;}
    .menu li{padding-left: 0;}
    
     .grillasFicha .grilla { width: calc(100% - 62px); }

     .btnAgregar { width: calc(100% - 100px); }
     .cantidad { width: 50%; }
     .contDescripciones{ width: calc(100% - 50px); }
     .filaSucursalCarro2{ width: 100%; }
     /*=========================================
     =            Grilla Responsiva            =
     =========================================*/     
     .grillaResponsive{ display: block;  }
     .grillaResponsive .tituloMiCarro{background-color: #f1f1f3;}
     .grillaResponsive .filaProductosVistos .imgFila {width: 30%; height: auto;}
     .grillaResponsive .filaProductosVistos .contInfoShowCart .valorGrilla span.conDescuento{ display: block; }
     .grillaResponsive .filaProductosVistos .contInfoShowCart .valorGrilla span.antes{ font-size: 10px; display: block; }
     .grillaResponsive .filaProductosVistos .contInfoShowCart .valorGrilla{ display: block; }
     .grillaResponsive .filaProductosVistos .contInfoShowCart{ width: 60%; }
     .grillaResponsive .filaProductosVistos .imgFila a img{ width: 100%; height: auto; }
     .grillaNormal{ display: none; }
     .grillaResponsive .filaProductosVistos .nombreGrilla a{color: #252c39; font-family: 'Raleway-Black'; }

     .grillaResponsive{ background-color: #fff; float:left; width:100%; margin-bottom:10px; padding:10px 0; border-bottom:solid 1px #ccc; position: relative;}
     .grillaResponsive > a.imgGrilla {float:left; width:35%; padding: 0 5px; height: auto;  background-color: #fff; }
     .grillaResponsive .imgGrilla img {width:100%; height: auto; background-color: #fff;  }
     .grillaResponsive > a.marcaGrilla{ width: 50%; }
     .grillaResponsive > a.nombreGrilla{ width: 50%; }
     .grillaResponsive > a.valorGrilla{ width: 50%; }
     .grillaResponsive > a.like{ top: 5px; left:5px; }
     .descripcionGrilla{ width: 50%;}
     .grillaResponsive >a.btnFicha { width: 50%; }
     .grillaResponsive >a.btnFicha span.botonDetalle{ margin-left:65px; }
     .agregarFavorito{ font-size: 12px; width: 40%; }
      /*=====  End of Grilla Responsiva  ======*/

      /*===================================
      =            Carro Movil            =
      ===================================*/
     .contBtnValidarMail{ width: 100%; }
     .contCorreoCarro { width: 100%; }
     .contInfoDespacho .cont50-1,.cont50-2{
        width: 100%;
        padding-left: 0;
     }
     .carroContDerecha{ background-color: #f1f1f3; margin-top: 10px; }
      /*=====  End of Carro Movil  ======*/

      /*=========================================
      =            Cuenta de Usuario            =
      =========================================*/
      .menuMiCuenta a{ padding: 20px 20px; width: calc(100% - 40px); border:none; float: left; }
      .menuMiCuenta a.current{ width: calc(100% - 40px); color: #515660; background-color: #f1f1f3; border:none; float: left; }
      .encabezado{ font-size: 10px; }
      .encabezado .ancho25{ font-size: 10px; }
      .encabezado>div>span>strong{ font-size: 10px; }
      .contenidoPedidos > div.ancho70Pedido{ width: 100%; }
      .thumbsProducto{ width: 35%; margin-right: 5px;}
      .infoProdDetalle{ width: 55%; }
      .infoProdDetalle>span.nombreProdDetalle{ font-size: 14px; width: 100%; }
      .btnPedidos{ left: 37%; bottom: -20px; font-size: 10px; line-height: 28px; height:28px; } 
      .btnVolverAPedir{ left: 37%; bottom: 10px; font-size: 10px; line-height: 28px; height:28px; }
      .contPedidosDetalle > div.contBotones > a.btnVolverAPedir{ left: unset; right: 0; bottom: 10px;  }
      .contPedidosDetalle > div.contBotones > a.btnPedidos{ left: unset; right: 0; }
      .contPedidosDetalle > div.ancho70Pedido{ width: 100%; margin-bottom: 20px; }
      .infoProdDetalle span{ font-size: 10px; }
      /*=====  End of Cuenta de Usuario  ======*/

      .filaProductosCotizar {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 15px;
      }
      .contInfoShowCartPopUp{
          grid-row-start: 2;
          grid-row-end: 2;
          grid-column-start: 1;
          grid-column-end: -1;
      }
      .menuVendedores{
          width: 100%;
      }
      
}
