@charset "UTF-8";
/* CSS Document 

BASE tienda
*/

@font-face {
    font-family: 'latolight';
    src: url('font/lato-light-webfont.eot');
    src: url('font/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lato-light-webfont.woff2') format('woff2'),
         url('font/lato-light-webfont.woff') format('woff'),
         url('font/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

#buscadorMenuResponsive{display: none;}
/*.grillaNormal{ display: block; }
.grillaResponsive{ display: none; }*/
.contCentrarFlex{ display: flex; justify-content: center; }


.cont50,
.ancho50{float:left; width:50%;}
.ancho60{float:left; width:60%;}
.ancho45{float:left; width:45%;}
.ancho40{float:left; width:40%;}
.ancho30{float:left; width:30%;}
.ancho20{float:left; width:20%;}
.ancho10{float:left; width:10%;}
.ancho50Centro{float:left; width:calc(50% - 20px); margin:0 10px;}

.ancho70{float:left; width:70%; margin:0 15%;}
.ancho25{float:left; width:25%; min-height:10px;}
.ancho35{float:left; width:35%; min-height:10px;}
.ancho25.conMargen{ width:calc(25% - 15px); margin-left: 10px; margin-right: 10px;}
.ancho33,
.cont33{float:left; width:33%; min-height:10px;}
.maxW100{ max-width: 100px; }
.marginTop20{ margin-top: 20px; }


.cont50-1{ float: left; width: calc(50% - 10px); padding-right: 10px;}
.cont50-2{float: left; width: calc(50% - 10px); padding-left: 10px;}


.rojo{ color:#F00;}
.azul{color:#009be5}
.floatLeft{float:left;}
.floatRight{float:right;}
.bannerGrillas{ height:200px; background:#d1d2d2;}
.cont100Centro{float:left; width:1180px; margin:0 calc(50% - 590px);}
.contenedor_footer{	width:1180px; margin:0 calc(50% - 590px); margin:auto;}
.contenedor_footer p{float:left;}
.contenedor_footer .firma{float:right;}



.campo_vacio{border:solid 1px #e10613!important;}

.carro-header{float:right; /*width:calc(60% - 270px);*/ margin-top:18px; width: 100%;}



.buscadorMenu{position: absolute; width: calc(100% - 40px); background-color: #f1f1f3; z-index: 9999; padding: 30px 30px;  top: 0; display: none;}
.infoBuscador{ position: relative; bottom: -40px; margin-top: 20px; padding: 10px 300px; }
.tituloBusqueda{ font-family: 'Raleway-Black'; color:#5f5f5f; font-size: 12px;}
.textBusqueda{ font-size: 1.2vw; font-family: 'Raleway-Black'; color:#5f5f5f; }


.icono-header-right3 a{position: relative;}
.icono-header-right3 a i {font-size: 37px; color: #666;}
.cerrarBuscador{float:right; position: relative; top: 20px; background: #fff;}

.btnInicioSesion{float: right; height: 36px; line-height: 36px; padding: 0 30px; background-color: #0b3d8c; border-radius: 7px; -moz-border-radius: 7px; -webkit-border-radius: 7px; color: #fff; font-family: 'Raleway-Bold'; font-size: 16px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; margin-top: 8px; margin-left: 20px;}

.btnInicioSesion:hover{background-color: #154b9f; }
    
    
.contMiCarro{float:right; text-align:center; /*margin: 0 10px; height: 40px; background-color: #a0c31c; color: #fff;*/ line-height: 40px; padding: 0 0px; /*border-radius: 60px; -moz-border-radius: 60px; -webkit-border-radius: 60px;*/ font-family: 'Raleway-Bold'; font-size: 14px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; /*width: 180px;*/ margin-left: 20px;}
.contMiCarro:hover{/*background-color: #8ead18;*/}
.separador{float:right; margin:0 5px;}
/*.contMiCarro span{float:left; width:100%;}*/
.contCarroCompras{float:right; /*margin-top: 10px;*/ width: 100%;}



.contMenu{float:left; width:1180px; margin-top:0px;border-bottom: solid 2px #0b3d8c; background-color: #fff; display: none;}
.menu{ float:left; width:100%; margin:0; padding:0 0 0px 0; list-style-type:none;}
.menu li{ float:left; margin:0; padding:0; height:auto; list-style-type:none; line-height:45px; position:relative; }
/*.menu li:first-child{padding-left: 0;}*/
.menu li:first-child a{padding-left: 0;}
.menu li a{color: #737778; font-family: 'Raleway-Bold'; font-size: 12px; height: 45px; padding: 0 15px;}
.menu li:hover > ul.sub { display:block;}
.menu li:hover > a { color: #044f9a;}
.menu li ul{ width:100%; position:absolute; top:42px; background:#fff; padding:0; margin: 0; display: none; z-index: 999; width: 210px; box-shadow: 0 5px 10px #999; -moz-box-shadow: 0 5px 10px #999; -webkit-box-shadow: 0 5px 10px #999;} 
.menu li ul li{ width:100%; float:left; padding: 0; font-size: 14px; margin-bottom: 0;}
.menu li ul li a{color: #666; float: left; width: 100%; padding: 0 15px!important;}
.menu li ul ul{ background-color: #fff;} 
#ececec
.menu li ul li:hover{background-color:#ececec;} 
.menu li ul li:hover > ul.subSub{ display:block;} 
.menu li ul ul{ width:200px; position:absolute; z-index:99; top:0px; left:240px; display:none;} 
.menu li a.btnMenuOfertas{color: #d11345;}
.menu li ul li ul.subSub li a{background-image:none;}



.contMenu2{float:left; width:1200px; margin-top:0px; padding: 0 calc(50% - 600px); border-top: solid 1px #f2f2f2;}
.menu2{ float:left; width:auto; margin:0; padding:0; list-style-type:none;}
.menu2 li{ float:left; margin:0; padding:0 10px; height:48px; list-style-type:none; line-height:40px; position:relative; }
/*.menu li:first-child{padding-left: 0;}*/
.menu2 li a{color: #0062c5; font-family: 'Raleway-Bold'; font-size: 14px;}
.menu2 li:hover > ul.sub { display:block;}
.menu2 li:hover > a { color: #054e98;}
.menu2 li ul{ width:250px; position:absolute; z-index:999; top:40px; background:#fff; display:none; padding:0; box-shadow: 0 0 10px #ccc; margin: 0;} 
.menu2 li ul li{ width:calc(100% - 40px); float:left; border-bottom: solid 1px #f2f2f2; padding: 0 20px; font-size: 14px;}
.menu2 li ul li a{color: #2eaadc; height: 50px; background-image: url(img/flechaMenu.jpg); background-position: 100% center; background-repeat: no-repeat; float: left; width: 100%;}
.menu2 li ul ul{ background-color: #fff;} 
#ececec
.menu2 li ul li:hover{background-color:#ececec;} 
.menu2 li ul li:hover > ul.subSub{ display:block;} 
.menu2 li ul ul{ width:200px; position:absolute; z-index:99; top:0px; left:240px; display:none;} 
.menu2 li a.btnMenuOfertas{color: #e95d0f;}
.menu2 li ul li ul.subSub li a{background-image:none;}
/*
Fin Estilos menu base
*/



/*Selectores de Grillas*/
div.accordion-content > div.selector{ height: 38px; }
div.accordion-content > div.selector > span{ height: 38px; }


/*Fin de selectores de Grilla*/

/*Selectores de carrito de compra*/

div.compraSelect > div.selector{ height: 42px; }
div.compraSelect2 > div.selector{ height: 42px; }
.compraSelect{ position:relative; }
.compraSelect2{ margin:20px auto; position:relative; }
/*Fin de Selectores de carrito de compra*/

div.cumple > div.selector{  height: 42px; border-radius: 5px;}
.cumple{ position:relative; }

/*
orden de grillas
*/
.filtros{float:left; width:100%; font-size: 16px;padding: 15px; box-sizing: border-box; margin-bottom: 15px; border-top: 1px solid #ebebeb;}
.contenedorFiltro{ float:left; width:100%; height:40px; position:relative}
.filtroActual{float: left;}
.filtroActual2{float: left; font-size: 16px; font-family: 'Raleway-Bold'; color: #5f5f5f;}
.contNomFiltroActual span i{color: #666;}

.contenedorFiltro ul{ position:absolute; width:calc(100% - 2px); border-left: solid 1px #ccc; border-right: solid 1px #ccc; list-style-type:none; top:40px; padding:0; margin:0; border-bottom:solid 1px #ccc; background:#fff; display:none; z-index: 999;}

.contenedorFiltro ul.selectTalla{ width:260px; border-left: solid 1px #ccc; border-right: solid 1px #ccc; list-style-type:none; top:40px; padding:0; margin:0; border-bottom:solid 1px #ccc; background:#fff; display:none; z-index: 999;}

.filtrosOrden .contenedorFiltro ul.selectTalla li{ float: left; width: auto; border: solid 1px #ccc; margin: 5px;}

.filtrosOrden .contenedorFiltro ul.selectTalla li a{ float: left; width: 40px; height: 40px; line-height: 40px; padding-left: 0; text-align: center; font-family: 'Raleway-Bold'; color: #666; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}

.filtrosOrden .contenedorFiltro ul.selectTalla li a:hover{color: #fff; background-color: #27347c;}
.filtrosOrden .contenedorFiltro ul.selectTalla li.filtroSeleccionado a{color: #fff; background-color: #27347c;}







.contenedorFiltro ul.selectColor{ width:160px; list-style-type:none; top:40px; padding:0; margin:0; border-bottom:solid 1px #ccc; background:#fff; display:none; z-index: 999;}
.filtrosOrden .contenedorFiltro ul.selectColor li{ float: left; width: auto; margin: 5px;}

.filtrosOrden .contenedorFiltro ul.selectColor li a{ float: left; border: solid 1px #fff; width: 40px; height: 40px; line-height: 40px; padding-left: 0; text-align: center; font-family: 'Raleway-Bold'; color: #666; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; border-radius: 42px; -moz-border-radius: 42px; -webkit-border-radius: 42px;}

.filtrosOrden .contenedorFiltro ul.selectColor li a:hover{color: #fff; border: solid 1px #5f5f5f;}
.filtrosOrden .contenedorFiltro ul.selectColor li.filtroSeleccionado a{color: #fff; border: solid 5px #ccc; width: 32px; height: 32px;}






.contenedorFiltro.contenedorFiltroLateral{height: auto;}
.contenedorFiltro.contenedorFiltroLateral ul{ position:relative; width:calc(100% - 2px);  list-style-type:none; top:unset; padding:0; margin:0; display: block; border: none; z-index: unset;}

.contenedorFiltro ul li{ float:left; width:100%;}
.contenedorFiltro ul li.filtroSeleccionado a{color: #1a58b5; font-family: 'Raleway-Bold'; /*background-image: url(img/done.png); background-position: left center; background-repeat: no-repeat;*/}
.contenedorFiltroLateral label{ font-size: 14px; margin-bottom: 12px;}

.filtrosOrden .contenedorFiltro ul li.filtroSeleccionado a{color: #666; font-family: 'Raleway-Bold'; background-image: none;}
.filtrosOrden .contenedorFiltro ul{box-shadow: 0 0 10px #ccc; border: none; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.filtrosOrden .contenedorFiltro ul li a{height: 50px; line-height: 50px; font-size: 13px;}





.contenedorFiltro ul li a{ float:left; width:calc(100% - 20px); height:30px; line-height:30px; padding-left:20px;}
.contenedorFiltro:hover > ul{display:block;}

.lateralFiltro .filtros{}
/*orden de grillas*/


/*Grillas*/
.etiquetaDctoCantidad{position: absolute; bottom: 10px; left: 20px; color: #5f5f5f; background-color: #ffcc00; height: 25px; line-height: 25px; padding: 0 15px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}

.valorAhorro{ width: 100%; color: #f84a60; font-size: 10px; font-family: 'Raleway-Black';}
.ahorroValor{ width: 100%; }





.grilla .imgFila{float:left; width:100%; height:auto; margin-bottom: 2px; position: relative; padding-top: 10px; /*overflow:hidden;*/}
.grilla .imgFila a{float:left; width:100%;}
.grilla:hover .imgFila a img{ max-height: 180px; max-width: 210px; }

.grilla .contInfoShowCart{float:left; padding: 0 0px; width: 100%; margin-top: 5px;}
.grilla .precioFila{float:left; width:100%;}
.grilla .precioFila span{float:left; width:100%;}
.grilla .precioFila span.antes{color: #999; font-size: 14px; width: 100%;  text-decoration: line-through;}
.grilla .precioFila span.conDescuento{float: left; margin-right: 2px; color: #e10613; font-size: 22px; width: 100%; line-height: 21px; font-family: 'Raleway-Bold'; }

.marcaGrilla{z-index: 11; position: inherit; float: left; width: 100%; color: #7b7c7d; font-family: 'Raleway-Bold'; font-size: 16px; line-height : 25px; }
.grilla:hover{ box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
.owl-carousel .owl-stage{display: flex;}
.item { display: flex; flex: 1 0 auto; height: 100%;}


.grilla .etq-ultimas{ position: absolute; top: 0; left: 0; width: 100%; background: #ccc; text-align: center; }
.grilla .countdown{ position: absolute; top: 0; right: 0; border:1px solid #ccc; z-index: 99;}

.grilla .img-cyber{ position: absolute; top: 59px; left: 15px; z-index: 99;}
.btnGrilla{float: left; width: calc(100% - 40px); color: #fff; background-color: #a0c31c; margin: 10px 20px; height: 40px; line-height: 40px; text-align: center; border-radius: 50px; -moz-border-radius: 50px; -webkit-border-radius: 50px; font-family: 'Raleway-Bold'; font-size: 14px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.btnGrilla:hover{background-color: #8ead18;}


.agregarFavorito{ background-color: #009be5; float: left; width: calc(100% - 4px);  height: 44px; line-height: 44px; text-align: center; font-size: 16px; text-transform: uppercase; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; color: #fff; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; font-family: 'Raleway-Bold';}

.agregarFavorito:hover{ color: #fff; background-color: #009be5;}





/*Paginador*/
.inactive{display:none;}
.paginador{text-align:center; margin-top:20px; margin-bottom: 20px;}
.paginador a{ display:inline-block; height:42px; line-height:42px; width: 42px; text-align:center; padding:0; text-align: center; background-color: #fff; color: #999;}
.paginador a.current{ color:#fff; font-weight:bold; background-color: #1f80d6; border-radius: 50%; }
.paginador a.paginate.anterior{width: 65px;}
.paginador a.paginate.next{width: 65px;}

/*Ficha*/



.infoProducto h5{float: left; width: 100%; font-size: 16px; color: #5f5f5f; margin: 0px; text-transform: uppercase;}

.infoProducto .precio-ficha{float:left; display: flex; width:50%; margin:0; padding:0 0 0 0;}
.contDescargarFicha{float: left; padding: 5px; border-radius: 4px; border: 1px solid #1f80d6; margin-bottom: 10px; }
.contDescargarFicha a{float: left; color: #1f80d6; font-family: 'Raleway-Bold'; text-decoration: underline; font-size: 14px;}
.contDescargarFicha span{float: left; margin-left: 5px;}
.infoProducto .precio-ficha .precioOfertaFicha{float:left; width:100%; margin:0; padding:0; font-size:24px; color: #1f80d6; font-family: 'Raleway-Black';}

.precioInternet{float: left; width: 100%; font-size: 14px; color: #e10613; margin-top: 5px;}

.infoProducto .precio-ficha .precioNormal{float:left; width:100%; margin:0; padding: 8px 0 0 0; color:#a1a1a1; font-size: 14px; text-decoration: line-through;}
.campoCantidad{float: left; width: 100%; text-align: center; border: none; height: 48px; font-family: 'Raleway-Medium'; font-size: 16px; color: #9b9a99;}

.btnCotizar{float:left; width:40%; height:42px; background-color: #009be5; line-height:42px; padding:0 20px; color: #fff; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; text-align: center; font-family: 'Raleway-Bold'; font-size: 16px; border-radius: 5px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; margin-bottom: 10px; margin-right: 10px; }
.btnCotizar:hover{background-color: #009be5;}

.btn-lista-ficha{float:right; width:38px; height:38px; line-height:38px; padding:0; text-align: center; background-color: #ebebeb; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; }

.btn-lista-ficha i{line-height: 38px; font-size: 20px; color: #00599f;}
.tit-descripcion{float:left; width:100%;}
.p-descrip{float:left; width:100%;}


.contValoresFixed{ width:100%; position:fixed; top:0; border-bottom: solid 3px #ccc; background-color:rgba(255,255,255, .9); box-shadow: 0 0 5px #666; -moz-box-shadow: 0 0 5px #666; -webkit-box-shadow: 0 0 5px #666; z-index:-1; filter:alpha(opacity=00);
-moz-opacity:.00; opacity:.00; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}

.contImgFixedFicha{float:left; width:70px; margin-top:5px; margin-right:10px; border: solid 1px #ccc; max-height: 95px; overflow: hidden;}
.infoFixedFicha{float:left; width:calc(100% - 82px); margin-top:25px;}
.infoFixedFicha span{float:left; width:100%; margin-bottom:5px;}
.infoFixedFicha span.codigo{color:#666;}

.btnAgregarFixed{float:right; margin: 5px 0 0 0; width: 175px;}
.contPrecioFixed{ float:right; margin: 5px 5px 0 5px; width:calc(100% - 212px); text-align:right;}
.contPrecioFixed p{margin:0;}
.contPrecioFixed span{ float:right; width:100%;}
.contPrecioFixed span.precioOfertaFicha{ font-size:30px; color: #e10613; font-family: 'Raleway-Bold';}
.contPrecioFixed span.precioNormal{color:#999; font-size: 14px; text-decoration:line-through;}

.contCambioPrecios{ float:left; width:calc(100% - 42px); border:solid 1px #ccc; padding:20px;}
.contCambioPrecios h2{ float:left; width:100%; margin:0 0 20px 0; padding:0; font-size: 24px;
    color: #5f5f5f;
    font-family: 'Raleway-Bold';}
.filaProductoPrecio{float:left; width:100%; margin-bottom:5px;}

/*Spinner*/
.ui-spinner{float:left; width:calc(100% - 2px); border:solid 1px #ccc;}
#spinner{float:left; width:80%; padding:0; margin:0; border:0; text-align:center; height:40px; line-height:40px;}
.ui-spinner-button{float:right; width:20%;} 




/*PopUp agregar al carro*/
.fondoPopUp {position: fixed;top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.3); z-index: 1000;display: none;}
.contPop { position: absolute; width: 400px; height: auto; background-color: #fff; top: 0; right: 0; padding: 20px;}
.cerrar {position: absolute; width: 21px; height: 21px; right: 10px; top: 10px; font-size:24px; }
.contPop h3 {text-align: left; width: 100%; margin: 0 0 20px 0; padding: 0; color: #0078b1; font-size: 26px; font-family: 'Raleway-Bold';}
.contFilasArticulos { margin-top: 20px;}
.contImgFilaArticulo {float: left; width: 90px; border: solid 1px #999;}
.contDatosFilaArt {float: left; width: calc(100% - 108px); margin-left: 15px;}
.contDatosCompra { width: 100%; margin-top: 20px;}
.cantArticulos {font-size: 12px; margin-bottom: 10px; color: #999;}
.filaTotalesPopUp {margin-bottom: 15px;}
.valoresPopUp {text-align: right;}
.lineaAbajo {border-bottom: solid 1px #ccc; padding-bottom: 20px;}

.btnPopUpComprar{float:left; width:100%; height:42px; background-color: #009be5; line-height:42px; padding:0; color: #fff; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; text-align: center; font-family: 'Raleway-Bold'; font-size: 14px; border-radius: 5px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; text-transform: uppercase;}

.btnPopUpComprar:hover{background-color: #009be5;}

.btnPopUpSeguirComprando{float:left; width:100%; height:42px; background-color: #fff; border: 1px solid #009be5; line-height:42px; padding:0; color: #009be5; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; text-align: center; font-family: 'Raleway-Bold'; font-size: 14px; border-radius: 5px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; margin: 10px 0; text-transform: uppercase; }
.valorAntFilaArticulo{color:#999;}
.valorAhoraFilaArticulo{font-size: 24px;}
.contDatosCompra{float:left;}


/* mi carro */
.filaPasos{text-align:center;}
.filaPasos a{ display:inline-block; width:80px; margin:0 10px; color:#999;}
.filaPasos a.activo{color:#5f5f5f;}
.paso{float:left; width:100%; text-align:center; font-size:30px;}
.nomPaso{float:left; width:100%; text-align:center;}
.contCarro{float:left; width:calc(70% - 20px); margin-right:20px; margin-bottom: 20px;}
.contFilasCarro{float:left; width:100%;}
.filaTitulos{ background-color:#ccc; height:30px; line-height:30px; margin-top:30px; margin-bottom:10px;}
.filaProductos{ float:left; width:100%; margin-bottom:10px; padding-bottom:10px; border-bottom: solid 1px #ececec; position: relative; margin-top: 10px;}

.nombreFila{float:left; width:35%;}
.eliminarFila{float:right; width:20px;}
.eliminaShowCart{ float:right; width:100%; font-size:24px; color:#ccc;-webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;
}
.filaProductos .sin-stock{ float: left; width: 100%; text-align: center; background: #f00; color: #fff; }
.eliminaShowCart:hover{color:#5f5f5f;}
.spinnerCarro{float:left; width:70%; border:solid 1px #ccc; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; overflow: hidden; background: #ffffff;}
.campoCantCarroResumen{ float:left; width:calc(100% - 30px); border:none; height:36px; line-height:36px; text-align:center; font-size: 16px; color: #1a58b5;}
.contFlechas{float:right; width:20px; margin-right:5px;}
.contFlechas span{float:right; cursor:pointer; color: #2eaadc; height: 18px; overflow: hidden;}
.contFlechas span i{float:right; cursor:pointer; color: #1a58b5;}
.carroVacio{float:left; width:100%;}
.carroVacio p{float:left; width:100%; margin:20px 0; font-size:24px; text-align:left;}

.contTotales{float:left; width: calc(30% - 20px);}
.contTotales h4{float:left; width:100%; font-size:20px; margin:0;}
.contTotales h5{float:left; width:100%; font-size:14px; margin:0 0 20px 0;}
.valoresResumen{text-align:right;}
.filatoolTip{font-size:10px; color:#999; margin:10px 0;}

.btnCompletarCompra{border: none; border-radius: 5px; float:left; width:100%; height:52px; line-height:52px; background-color:#009be5; text-align:center; color:#fff; margin-bottom:0px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;  font-family: 'Raleway-Bold'; font-size: 14px;}
.btnCompletarCompra:hover{background-color:#009be5;}
.btnAgregarMasProductos{float:left; width:100%; height:40px; line-height:40px; background-color:#ececec; text-align:center; color:#5f5f5f; margin-bottom:10px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; }
.btnAgregarMasProductos:hover{background-color:#999;}
.contInfoShowCart{float:left; width:calc(100% - 102px);}
.contInfoShowCart .nombreFila{float: left; width: 100%; font-size: 16px;  margin-bottom: 0px; line-height: 20px;}
.contInfoShowCart .nombreFila a{color: #5f5f5f;}
.skuShowCart{float:left; width:100%; color:#999; margin-bottom: 5px;}
.botoneraShowCart{float:left; width:100%; font-size:12px; margin-top:10px;}
.botoneraShowCart a{float:left; font-size:12px;}
.botoneraShowCart span{float:left; font-size:12px; margin:0 5px; height: 13px;}
.botoneraShowCart span i{float:left; font-size:12px; margin:5px 5px 0 5px; color: #54b9e2; line-height: 13px;}

#contProductosGuardados{float:left; width:calc(100% - 42px); padding: 0 20px; }
.mensajeGuardados{float:left; width:100%; border-bottom:solid 1px #ececec; font-size:14px; margin-top:20px; padding-bottom:10px; margin-bottom:20px;}
.tituloGuardados{float:left; width:100%; font-size:24px; font-family: 'Raleway-Bold';}
.contCarroGuardado{float:left; width:calc(60% - 20px); padding-left:20px;}
.contCarroGuardado .nombreFila{float:left; width:100%; margin-top:20px; font-size: 16px; color: #666;}
.precioFilaGuardado{text-align: right; font-size:18px; color: #2eaadc; font-family: 'Raleway-Bold';}
.botonesFilaGuardado{float:left; width:100%; font-size:12px;}
.botonesFilaGuardado span{float:left; margin:0 5px;}
.botonesFilaGuardado a{float:left; font-size:12px; width:auto;}
.breveDescripcion{float:left; width:100%; font-size:12px; color:#999;}


.totalFila{float: left; width: 100%; line-height: 17px;}
.totalFila span.tituloSpanCarro{font-size: 12px; color: #999; }
.totalFila span{float: left; width: 100%; font-size: 18px; color: #3366ff; font-family: 'Raleway-Bold';}

.tituloTotal{text-align:right;}
.tituloTotal span{float:right; margin-right:10px;}

.contUltimosVistos{margin-bottom: 20px; float:left; width:calc(100% - 42px); padding:0 20px 20px 20px; background-color: #fff; border: solid 1px #f2f2f2;}
.filaProductosVistos{display: flex; float:left; width:100%; margin-bottom:10px; padding-bottom:10px; position: relative; }

.filaProductosVistos .imgFila {display: flex; align-items: center; float:left; width:130px; height: 130px; border: 1px solid #e8eaeb;  background-color: #fff; }
.filaProductosVistos .imgFila a img {width:130px; height: 130px; background-color: #fff; }

.filaProductosVistos .descripcionGrilla{ display: none; }
.filaProductosVistos .contInfoShowCart .marcaGrilla{z-index: 11; position: relative; font-size: 12px; }
.filaProductosVistos .contInfoShowCart{ float:left; width:100%; padding-left:10px;}
.filaProductosVistos .nombreGrilla{ position: relative; font-size: 19px; line-height: 19px; margin: 0;}
.filaProductosVistos .porcentajeDescuento{ font-size: 8px; display: none;}
.filaProductosVistos .valorGrilla{  }
.filaProductosVistos .like{ display: none; }
.filaProductosVistos .valorGrilla span.conDescuento{ }
.filaProductosVistos .valorGrilla .valorAhorro{ display: none; }
.filaProductosVistos .valorGrilla span{float:left; margin-right:2px; color: #1f80d6; font-size: 19px; line-height: 19px; font-family: 'Raleway-Black';}
.filaProductosVistos .valorGrilla span.antes{color:#a1a1a1; font-size: 11px; text-decoration: line-through; float: left; margin-left: 5px; font-family: 'Raleway-Regular';}
.contUltimosVistos h4{float:left; width:100%; font-size:16px; margin-bottom:10px;}
.contUltimosVistos .btnGrilla{width: 100%; margin: 0; background: #fff; text-align: left; color: #3366ff; text-decoration: underline; font-size: 12px; height: auto; line-height: normal;}
.fixedCarro1{position:fixed; z-index:-1; top:0; width:100%; height:80px; background-color:rgba(255,255,255,.9); left:0; border-top:solid 3px #ccc; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; filter:alpha(opacity=00); -moz-opacity:.00; opacity:.00;}

/*.contUltimosVistos .porcentajeDescuento{display: none;}*/



.fixedActivoCarro1{z-index:99; filter:alpha(opacity=99); -moz-opacity:.99; opacity:.99;}

.fixedCarro1 .btnCompletarCompra{float:right; width:250px; margin-top:20px;}
.fixedCarro1 .valoresCarro1Fixed{ float: right; margin-right:20px; margin-top:20px; width:calc(100% - 270px); text-align:right; font-size:14px;}
.fixedCarro1 .valoresCarro1Fixed span{float:left; width:100%; text-align:right; color: #999;}
.fixedCarro1 .valoresCarro1Fixed span.montoAPagarFixed{color: #e10613; font-size: 24px; font-family: 'Raleway-Bold'; line-height: 18px;}





/*
Identificacion
*/
.cont50Identificacion{width:400px; display:inline-block; min-height:50px; margin:0px 10px 0 0;  }
.identificacionCentrado{text-align:center;}
.cont50Identificacion h3{text-align:left; margin:0; font-size:18px;}
.acceso1{ float:left; width:100%; text-align:center; color:#5f5f5f; font-size:16px; margin: 20px 0 10px 0; font-family: 'Raleway-Bold';}

.acceso2{ float:left; width:100%; text-align:center; color:#666; font-size:14px; font-family: 'Raleway-Bold'; font-weight: 500;}
.acceso3{float:left; text-align: center; width:calc(100% - 32px); padding:0 15px 15px 15px; margin-top:10px; min-height:180px;}
.acceso3 form{ float:left;width:100%;}
#emailRapido,
.campoGrande{float:left; width:calc(100% - 42px); padding:0 20px; border:solid 1px #666; background:#fff; height:50px; font-size:16px; margin-bottom:10px;}


.fancybox-container .campoGrande2{width:100%;}

.btnForm{ border: none; font-size: 16px; font-family: 'Raleway-Bold'; color:#fff; width: 100%;   background-color: #009be5; z-index:2; height: 40px; line-height: 40px;  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; }

.textTareaForm{float:left; width:calc(100% - 20px); padding:10px; border: none; border:solid 1px #ededed; background:#fff; height:60px; font-size:16px; margin-bottom:10px; color: #8b8b8b; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; font-family: 'Raleway-Regular';}
.textTareaForm:hover{border:solid 1px #00599f;}






.acceso3 a.btnFormCompraRapida{float:left;	color:#fff;	padding:0; background-color:#009be5; width:100%; text-align:center; margin:10px 0 0 0; height:42px; line-height:42px; border-radius: 5px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;  font-size: 16px; text-transform: uppercase; font-family: 'Raleway-Bold';}
.acceso3 a.btnFormCompraRapida:hover{background-color:#009be5;}


.acceso3 a.btnFormCompraRapida2{float:left;	color:#009be5;	padding:0; background-color:#fff; width:calc(100% - 2px); text-align:center; margin:10px 0 0 0; height:42px; line-height:42px; border-radius: 5px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;  border: solid 1px #009be5; font-size: 16px; text-transform: uppercase; font-family: 'Raleway-Bold';}
.acceso3 a.btnFormCompraRapida2:hover{background-color:#009be5; color: #fff; border: solid 1px #00599f;}

.linea{float:left; width:100%; border-bottom:solid 1px #ccc; margin:10px 0;}
.acceso3 a.btnRegistro{float:left;	color:#fff;	padding:0; background-color:#999; width:70%; text-transform:uppercase; text-align:center; margin:10px 15% 0 15%; height:auto; line-height:40px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.acceso3 a.btnRegistro:hover{background-color:#9b2534;}


/*loguin*/
.formularioLogin{float:left; width:100%;}
.formularioLogin .acceso3{border:none;}
.btnFormRegistro{ display:inline-block; width:200px; color:#fff; padding:0; background-color:#009be5; text-align:center; margin:10px 15% 0 15%; height:45px; line-height:45px; border-radius: 15px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; font-size: 16px; font-family: 'Raleway-Bold'; }
.btnFormRegistro:hover{background-color:#009be5;}
label{float:left; width:100%; margin-bottom:5px; color:#666; text-align:left;}
.acceso3 a.btnRecuperarClave{float:left; width:100%; height:auto; padding:0; margin:10px 0 10px 0; color:#009be5; text-decoration: underline; text-align: center;background:transparent; font-family: 'Raleway-Bold';}


/*Newsletter*/
#formNewsletter{float:left; width:calc(100% - 2px);}
#formNewsletter label{ float: left; width: 100%; font-family: 'Raleway-Bold'; color: #5f5f5f; text-transform: uppercase;}

/*#btnNewsletter{float:right; width:180px; background:#273677; color:#fff; text-align:center; height:48px; line-height: 48px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; padding: 0; margin: 0; font-family: 'Raleway-Bold'; font-size: 14px; text-transform: uppercase; border-radius: 50px; -moz-border-radius: 50px; -webkit-border-radius: 50px;}
#btnNewsletter:hover{background:#121d4e;}*/
/*.campoNewsletter { float: left; width: calc(100% - 180px); padding: 0 ; border: none; background: #f1f2f5; height: 48px; font-size: 30px; }
*/
/*#btnNewsletter i{font-size: 30px;}
*/
/* Mi cuenta*/

/*
Carro envio y pago
*/
.contDatosCarro{float: left; width:66.6%;}
.colForm1 { float: left; padding:15px; width: calc(49% - 42px); position: relative; border:solid 1px #2a2a2a; margin:0 5px;}

.contCarroPaso3{float: right; width:33.3%}
.col2 {float: left; width: calc(100% - 45px); margin-left: 15px; background:#fafafa; padding:15px;}
#contDatosCompra{float:left; width:100%; margin-top:15px; /*position:relative;*/}
.contFondoGris label {float: left; width: 100%; font-size: 12px; margin-bottom: 4px;}
.contCartCompraRapida{float:left; width:100%;}

a.imgThumbsCartHeader{ width:calc(20% - 2px); float:left; position: relative; background-color: #fff; border: solid 1px #ebebeb;}
.datosProductoCart3{float:left; width:calc(80% - 15px); padding-left:15px;}

.tituloProductoResumen{font-size: 14px; color: #5f5f5f; float:left; width:calc(100% - 25px);}
.tituloProductoResumen a{float: left; width: 100%; font-size: 16px;}
.tituloProductoResumen a:nth-child(2) {color: #2b2b2b; font-size: 14px; font-family: 'Raleway-Black';  }
.valorFilaHeader{float:left; width:100%;}
.valorCarroAntes{float: left; margin-left: 5px; font-size: 11px; color: #999; text-decoration: line-through;}
.valorCarroAhora{float: left;color: #1f80d6; font-family: 'Raleway-Black'; font-size: 16px;}

.cantResumen{float:left; width:100%;}

.filaValor{float:left; width:calc(100% - 30px); margin-bottom:5px; margin-left: 15px;}
.valores{float:left; width:100%; margin-top:20px;}
.montoValor{float:right; width:auto; text-align:right; font-size: 14px; color: #5f5f5f;}
.nombreValor{float:left; width:auto; text-align:left; font-family: 'Raleway-Bold'; font-size: 14px; color: #666;}

.montoTotal{float: right; font-size: 16px; color: #1f80d6; font-family: 'Raleway-Bold';}
.nombreTotal{float: left; font-size: 14px; color: #5f5f5f; font-family: 'Raleway-Bold';}



.datosFinalizacionPago{float:left; width:100%;}
.datosFinalizacionPago h3{float:left; width:100%; padding:0; margin:0 0 10px 0; font-size:14px;}

.comentarios-envio{float:left; width:calc(100% - 32px); border:solid 1px #ededed; padding:15px; color:#5f5f5f; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; font-family: 'Raleway-Regular';}

.selector { margin-bottom:15px;}
#contDatosCartVariables{float:left; width:100%}
.imagenMedioPago{float:left;}
.formasDePago{ float:left; width:100%; padding-top:0px; }
.txtTerminosAcepto .checker{float:left;}
.txtTerminosAcepto {float: left; width: calc(100% - 15px); margin-left: 15px; font-size: 14px; color: #666; margin-top: 10px; text-align: right;}
.txtTerminosAcepto a { width: auto; float: left; height: auto; text-align: left; padding: 0; border-radius: 0; font-size: 12px;}
.mensajeCaluga {float: left; font-size: 12px; width:100%;}
.mensajeCaluga i{float: left; font-size: 12px; width:30px; font-size:24px; color:red;}
.mensajeCaluga span{float:left; width:calc(100% - 30px);}
.incompleto{border: solid 1px #e10613!important;}
.contCampos { float: left; width: 100%; position: relative;}

.campoFantasma { position: absolute; z-index: 9; top: 21px; background: #fff;  width: calc(100% - 22px); border: solid 1px #b7b7b7; border-radius: 4px;  -moz-border-radius: 4px;  -webkit-border-radius: 4px; background: #fff; height: 31px; padding: 0 10px; line-height: 31px; font-size: 12px; display: none; border: none; left: 1px;}
.contCampos label{height: 15px;}
.direccionesGuardadas{float:left; width: 100%; border-bottom:solid 1px #000; margin-bottom:15px;}
.masDir{float:right; color:#F00;}




#formLoginCompraRapida{float:left; width:100%;}

#formLoginCompraRapida a{border-radius: 5px; float:left; width:100%; height:42px; line-height:42px; text-align:center; background:#009be5; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; color: #27347c; color: #fff; }
#formLoginCompraRapida a:hover{ background-color:#009be5;}
#solicitarClave{float: left; width: 100%; text-align: center; color: #3366ff; margin: 10px 0 0 0; font-family: 'Raleway-Bold';}
.solicitarAqui{color: #009be5; margin: 10px 0 0 0; font-family: 'Raleway-Bold';}
.solicitarAqui2{float: left; width: 100%; text-align: center; color: #009be5; margin: 10px 0 0 0; font-family: 'Raleway-Bold';}



.registroPopUp{ border-radius: 5px; float: left; width: calc(100% - 2px); border: solid 1px #27347c; color: #27347c; height: 42px; line-height: 42px; text-align: center;  -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; margin-top: 10px;}

.registroPopUp:hover{color: #fff; background-color: #009be5; }

.tituloSucursalesDespacho{float: left; width: 100%; margin-bottom: 15px;}

.contRadioDireccion{float:left; width:30px;}
.contNombreSucursal{float:left; width:calc(100% - 120px);}
.contNombreSucursal span{float:left; width:100%; color:#666;}
.contNombreSucursal span.nombreSucursal{font-size: 14px; font-weight:bold; margin-bottom:2px;}
.filaSucursalCarro{ margin-bottom:20px; float: left; width: calc(100% - 32px); border: solid 1px #f1f1f3; padding: 13px 15px;}
.direccionSucursal { padding-top: 5px; }
.filaSucursalCarro2{ margin-bottom:1px; float: left; width: calc(100% - 110px); border: solid 1px #ccc; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 15px;}
#volverSucursal{ display: none; }
.valorSucursalOculto{ display: none; }
.contLinkMapa{float: right; width: 70px; text-align: right; padding-top: 5px;}
input[type="radio"]:checked { border: solid 1px #0078b1; }


.fancybox-slide--iframe .fancybox-content {width  : 800px; height : 600px; max-width  : 80%; max-height : 80%; margin: 0;}



.contBotoneraEnvioYPago{ float:left; width:96%; padding:0 2% 20px 2%; display:none;}
.contBotoneraEnvioYPago a{ float:left; width:calc(33% - 4px); border-left:solid 2px #fff; border-right:solid 1px #fff; text-align:center; height:40px; line-height:40px; text-align:center; background:#ccc;}
.contBotoneraEnvioYPago a.activo{background-color:red; color:#fff;}




/*Estáticas*/
.contTextosFijos{float:left; width:100%; margin-left:0px;}
.contTextosFijos h4{float:left; width:100%; font-size:16px; margin:30px 0 10px 0; color: #0078b1; padding-top: 20px; font-family: 'Raleway-Bold'; }
.contTextosFijos p{float:left; width:100%; font-size:14px; margin:0px 0 10px 0; color: #7b7c7d; line-height: 24px;  text-align: justify; font-family: 'Raleway-Regular'; }



/*Exito*/
.titulos_interiores{float:left; width:100%; text-align:center;font-size:30px;}
.top-identificacion{float:left; width:100%; text-align:center; font-size:16px; color:#999; margin-bottom:20px;}
.top-identificacion2{float:left; width:100%; text-align:center; font-size:16px; color:#333333; margin-bottom:20px;}
.contBotonesCarro{text-align:center; margin-bottom:20px; padding-bottom: 20px;}

.contBotonesCarro a{ height:42px; line-height:42px; width: 200px; background-color:#009be5;  border-radius: 5px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; color: #fff;  text-align: center; display: inline-block; font-family: 'Raleway-Bold'; font-size: 16px; padding: 0 30px; }
.contBotonesCarro a:hover{background:#009be5; color: #fff;}

.infoClienteExito{ box-sizing: border-box; margin-top:20px; float: left; width: 100%; padding: 0 40px;}

.infoClienteExito2{ float: left; width: calc(50% - 15px); padding: 0 0px 20px 15px;}
.t-paso4{float:left; width:100%; margin-bottom:3px; color: #009be5; font-size: 14px; font-family: 'Raleway-Bold';}
.t-paso4 i{ margin-right: 20px; }
.t2-paso4{font-family: 'Raleway-Regular'; font-size: 12px;line-height: 18px; float:left; margin-right:10px; margin-left: 35px; color: #8b8b8b; }
.dato-paso4{font-family: 'Raleway-Regular'; font-size: 12px; float:left; color:#8b8b8b;}
.infoClienteExito{ margin-bottom:30px;}
.infoClienteExito .cont100{ margin-bottom:5px;}
.contInfoPago{/*margin-top:30px;*/}
.btnTerminos{float:left; height:40px; padding:0 20px; background-color:#666; color:#fff; line-height:40px;-webkit-transition: all .3s;
-moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.btnTerminos:hover{background-color:#5f5f5f;}

.resumenProductos{ margin:50px 0;}
.resumenProductos h2{ float:left; width:100%; margin:0 0 20px 0; font-size:24px;}
.contTotalesExito{float:left; width:calc(20% - 32px); border: solid 1px #ccc;margin-top:78px; padding:15px;}
.filaValoresExito{float:left; width:100%; margin-bottom:10px; border-bottom:solid 1px #ccc; padding-bottom:5px; }
.filaValoresExito span{float:right; color:#666; float:left;}
.filaValoresExito span.valorValor{ color:#5f5f5f; margin-left:20px; float:right}
a.btnCuentaExito{background-color: #a0c31c; color:#fff; height: 40px; line-height: 40px; border-radius: 50px;}


.contBtnFracaso{text-align:center;}

.contBtnFracaso a{text-align:center; display: inline-block; height:42px; line-height:42px; padding:0 50px; background:#009be5;-webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; color: #fff; font-family: 'Raleway-Bold'; font-size: 16px; margin: 0 10px; border-radius: 5px; }
.contBtnFracaso a#volverSitio{ border: 1px solid #009be5; text-align:center; display: inline-block; height:42px; line-height:42px; padding:0 50px; background:#f1f1f3;-webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; border-radius: 5px; color: #009be5; font-family: 'Raleway-Bold'; font-size: 16px; margin: 0 10px;}

.contBtnFracaso a#volverSitio:hover{ background:#009be5; color: #fff; }
.contBtnFracaso a:hover{background:#009be5; color: #fff;}
.cantFila span{ float:left;}

/*
Mi cuenta
*/
.datosCliente{float: left; width: calc(100% - 300px);}
.datosCliente h3{text-align:left;}
.datosCliente form{float:left; width:100%;}
.datosCliente .cont50Identificacion{width:calc(50% - 10px);}
.cont50Form{float:left; width:calc(50% - 20px); padding:0 10px;}
.direcciones{text-align:left;}
.contDireccionesCuenta{ float: left; display: flex; flex-wrap: wrap; }
.contDirecciones{ flex: 1 1 35%; border: solid 1px #f6f6f6; padding:15px; margin: 0 5px 20px 0px; float:left; min-height:50px; background-color: #f6f6f6;}
.iconosDirecciones a{float: left; margin-left: 0px; margin-top:10px; font-size:14px; font-weight:lighter; color:#3366cc; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; margin-right: 10px;}
.iconosDirecciones a:hover{color:#03519e;}
.contNombresDirecciones{float: left; width: 100%;}
.iconosDirecciones{float: left; width: 100%;}

.nombreDireccion{margin-bottom:5px; float:left; font-size: 14px; color: #009be5; font-family: 'Raleway-Bold';}
.direccionCuentas{font-size: 14px; font-family: 'Raleway-SemiBold';}

.nuevaDireccion{float:right; font-size:14px; height:42px; border-radius: 5px; padding:0 20px; background-color:#009be5; line-height:42px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; color: #fff; font-family: 'Raleway-Bold';}
.nuevaDireccion:hover{ background-color:#009be5;}

#formNuevaDireccion h2{color: #5f5f5f; font-family: 'Raleway-Bold';}
.contNuevaDireccion{ width:600px; box-sizing: content-box!important;}
.guardarDireccion{ height:48px; padding:0 40px; background-color:#009be5; color:#fff; line-height:48px; float:right; margin-left:0px; text-transform:uppercase; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; font-family: 'Raleway-Bold';}
.guardarDireccion:hover{background-color:#009be5;}


.datosGrillaSucursal .nombreDireccion{color: #fff;}
/*
404
*/
.error{	float:left; width:100%; font-size:40px;}
.error span{ font-size:180px;float:left; width:100%; margin-top:-40px;}
.error2{float:left; width:100%; font-size:30px; margin-top:-30px; color:#666;}
.icon404 i{font-size:360px; color:#999; margin-top:40px;}
.icon404{text-align:center;}


/*
Mis pedidos
*/
.detallePedido{ border: 1px solid #f1f1f1; margin-bottom:10px; padding:15px; width:calc(100% - 32px); text-align:left; float:left; color:#666;}
.encabezado{float: left; width:100%; border-bottom:solid 1px #ccc; margin-bottom:20px; padding-bottom:20px; min-height:40px; font-family: 'Raleway-SemiBold'; font-size: 14px; color: #4c4d50;}
.encabezado > div > span > strong{line-height: 20px; font-family: 'Raleway-SemiBold'; font-size: 13px; color: #a1a1a1; }
.contenidoPedidos{ position: relative; }
.tituloPedidoGuardado{float:left; width:100%; margin:0 0 20px 0; font-size:20px; font-family: 'Raleway-Bold';}

.infoProdDetalle{float:left; width:calc(100% - 120px);}
.infoProdDetalle span{float:left; width:100%; margin-bottom:5px;}
.ancho70Pedido{float:left; width:70%;}
.btnComprarAhora{float: left; padding:0 15px; height:30px; line-height:30px; color:#fff; background-color:#999;-webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; border-radius: 40px; -moz-border-radius: 40px; -webkit-border-radius: 40px;}
.btnComprarAhora:hover{background-color:#5f5f5f;}

.btnPedidos{ position: absolute; right: 5px; bottom: 10px; border-radius: 5px; float:left; width:150px; height:38px; margin-bottom:10px; line-height:38px; text-align:center; background:#009be5; color:#fff;-webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; font-size: 12px; font-family: 'Raleway-Bold';}
.btnPedidos:hover{background-color:#009be5;}
.btnVolverAPedir{ position: absolute; right: 5px; bottom: 50px; border-radius: 5px; float:left; width:150px; height:38px; margin-bottom:10px; line-height:38px; text-align:center; background:#009be5; color:#fff;-webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; font-size: 12px; font-family: 'Raleway-Bold';}
.btnVolverAPedir:hover{background-color:#009be5;}
.contBotones{float:right; width:30%;}
.filaProductoComprado{ margin-bottom:20px;}
.btnDetalles{color: #009be5; font-family: 'Raleway-Bold'; font-size: 10px;}
.contDatosPago{margin:0 0 20px 0; border-bottom:solid 1px #ccc; padding-bottom:30px;}
.contDatosPago h3{ font-size:14px; font-family: 'Raleway-SemiBold';}
.contDatosPago > div > div{ font-size:12px; color: #a3a3a3; font-family: 'Raleway-SemiBold';}
.textAlignRight{text-align:right;}
.totalDetallePedido{color:#e10613; font-size: 13px; font-family: 'Raleway-Bold';}
.contenidoMiCuenta .mensajeGuardados,
.contenidoMiCuenta .tituloGuardados{display:none;}
.contenidoMiCuenta .contCarroGuardado{ text-align:left;}



/* Loading */
.cont_loading{ position:fixed; z-index:9999; top:0; left:0; width:100%; height:100%; background-color:rgba(255,255,255,.8); display:none;}
.lds-dual-ring {  display: inline-block; width: 64px; height: 64px; margin-left:-32px; left:50%; top:50%; margin-top:-32px; position:absolute; z-index:9;}
.lds-dual-ring:after {content: " "; display: block; width: 46px; height: 46px; margin: 1px; border-radius: 50%; border: 5px solid #000; border-color: #000 transparent #000 transparent; animation: lds-dual-ring 1.2s linear infinite;}
@keyframes lds-dual-ring {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}


/*heredados*/
*{outline: none;}

/*	ESTILOS CARRO HEADER*/
.resumenCarroHeader{position:absolute;z-index:200;top:0;right:0; width:360px;	padding:15px; background:#fff; box-shadow:0 0 4px #ccc; display:none;}
.headCarroResumen{	padding:10px 0;	border-bottom:solid 1px #ccc;}
.headCarroResumen a{float:left;}
.headCarroResumen a.cerrarMenuCart{float:right;}
.filasProdCart{	padding:10px 0;	border-bottom:solid 1px #ccc;}
.datosProdHeader{float:left; width:50%;}
.datosProdHeader a{	float:left;	width:100%;	text-transform:uppercase; margin-bottom:10px; font-size:14px;}
.qtyHeader{float:left;	width:10%; margin-left:5%;}
.qtyHeader a{width:80%; border:solid 1px #ccc; text-align:center;color:#666;}
.quitarCarro{float:right; background:#f1f1f1; border-radius:100px; -moz-border-radius:100px; -webkit-border-radius:100px; color:#666;}
.totalesCartHeader{padding:10px 0; border-bottom:solid 1px #ccc; font-size:14px; text-align:right; margin-bottom:10px; }
.totalesCartHeader span{}
.btnComprarHeader{float:right; text-transform:uppercase; padding:15px 40px; color:#fff; background:#9b2534; font-size:14px;}
/*	FIN ESTILOS CARRO HEADER*/


/*ESTILOS VALIDACIONES CARRO*/
.contenedorPasos{float:left; width:90%; margin:20px 0 0 5%;}
.col1 {float: left; width: 70%;}
.contFondoGris { float: left; width: calc(100% - 44px); background: #fff; padding: 15px 22px;}
#modificarDatos{}
#modificarDatos2 { position: absolute;  z-index: 99; right: 5px; top: 37px; width: 20px; height: 20px; background: #f7f7f7;}
.acceso3 a { width: 228px; height: 32px; float: left;text-align: center; background: #544f92; display: inline-block; color: #fff; text-decoration: none; padding-top: 10px; }
.tipoBlanco {color: #fff;}
.colForm2 {float: right;}
.selectorTabs { float: left; width: 100%; margin-bottom: 10px; padding-bottom: 10px; border-bottom: solid 1px #fff; display: none;}
.direccionDespachoTabs { float: left;}
.tituloTabsDirecciones {float: left; color: #5f5f5f; font-size: 14px; margin-right: 10px; margin-top: 0px; }
.tabsCompraRapida {float: left; width: 100%; }
.direccionDespacho {float: left; width: 100%; margin-top: 15px; border-bottom: solid 1px #fff; padding-bottom: 10px;}
.direccion {float: left; font-size: 12px; width: 225px;}
#tabsCompra2 {display: none;}
.mensajeCalugaDireccion { background: none; padding-left: 0; width: 100%;}
.opcionFactura { position: relative; float: left; width: 100%; margin-top: 5px; font-size: 12px; text-transform: uppercase; margin-bottom: 20px;}
.tituloRadio {float: left; margin-right: 20px; margin-top: 5px; margin-left: 4px;}
.mensajeFactura {float: left; width: 100%;text-align: left; color: #544f92;}
.relativo { position: relative;}
.form100 {float: left; width: 100%;}
.form50Derecha {float: left; width: 48%; margin-left: 4%;}
.contResumenCompra {float: left; width: 100%; border-top: solid 1px #b7b7b7;}

.compraYAceptaTerminos {position: fixed; width: 96%; border-top: solid 1px #ccc; padding: 10px 2% 20px 2%; background-color:rgba(255,255,255,.9); z-index:9999; left:0; bottom:0;}

.filaTotales{ height: 53px; width: calc(100% - 30px); margin-left: 15px; margin-right: 15px; margin-top: 20px; padding: 0 0; line-height: 53px; border-bottom: solid 1px #d8d8d8; border-top: solid 1px #d8d8d8; }



a.desabilitado {background: #999!important;}
.contImgTranbank { float: left; width: 100%; text-align: right; margin-top: 10px;}
.contPasosValidacion{float:left;	width:100%;}
#uniform-hbt1, #uniform-hbt2, #uniform-hbt3 {float: left;}
.radio{float:left;}
.col2 .tituloColumnas{ margin-left:0; padding-left:0; margin-top:0; padding-top:0;}
.contCamposRetiro{ float: left; width: 100%; margin-top: 20px;}
.contCamposRetiro h3{float: left; width: 100%;}

.countdown{ float: right; position: absolute; z-index: 99; right: 0; top: 0;}
.columnaCountDown{float: left; width:48px; margin-left: 9px;}
.cdn{float: left; width: 46px; text-align: center; border: solid 1px #ededed; font-size: 18px; color: #0062c5; font-family: 'Raleway-Bold'; height: 46px; line-height: 46px; background-color: #fff; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; margin-bottom: 5px;}
.cdt{line-height: 16px; width: 100%; float: left; height: 16px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; color: #fff; text-align: center; background-color: #0062c5;}
.ofertaTerminada{height: 46px; line-height: 46px; padding: 0 20px; background-color: #fff; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; font-size: 18px; color: #0062c5; font-family: 'Raleway-Bold'; border: solid 1px #ededed; text-align: center;}

/*.preciocant{ float: left; width: 100%; padding: 5px; }
.preciocant span{ background: #f00; color: #fff; padding: 5px; margin-left: 10px;}*/

.contPrecioCantidad{float: left; width: 100%; border: solid 1px #f2f2f2; padding: 20px 10px;}
.preciocant{float: left; width: calc(33% - 42px); border: solid 1px #2eaadc; padding: 11px 10px 15px 10px; margin: 0 10px; text-align: center;}
.pc1{float: left; width: 100%; font-size: 14px; color: #999999;  margin-top: -3px;}
.pc2{float: left; width: 100%; font-size: 14px; color: #a0c31c; line-height: 10px; margin-bottom: 5px;}
.pc3{float: left; width: 100%; font-size: 18px; color: #2eaadc; font-family: 'Raleway-Bold'; letter-spacing: -1px;}
.pc4{float: left; width: 100%; font-size: 12px; color: #999999; line-height: 4px;}



.fondoFicha{ background-color: #f1f2f3; }
.infoProducto .marcaFicha{ font-family: 'Raleway-Bold'; font-size: 18px; color: #7b7c7d; }
div .selector select{font-size: 16px; color: #999;}


.bg-popup{
	background: rgba(0,0,0,.2);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: none;
}
.popup-news{
	background: #98b8c0;
	width: 90%;
	max-width: 500px;
	position: fixed;
	z-index: 1000;
	/*height: 400px;*/
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	box-sizing: border-box;
	display: none;
}
.popup-news > .contenido{
	width: 100%;
	height: 100%;
	border: 1px solid #fff;
	box-sizing: border-box;
	padding: 15px;
}
.popup-news .contenido > .close{
	width: 20px;
	height: 20px;
	background: url(img/close.png) no-repeat;
	background-size: contain;
	float: right;
	margin-bottom: 10px;
	cursor: pointer;
}
.popup-news .contenido > p{
	color: #fff;
    font-size: 17px;
    text-align: center;
}
.datos{
	width: 100%;
	text-align: center;
}
.datos > input{
	width: 85%;
	height: 30px;
	margin-bottom: 10px;
	text-align: center;
    font-size: 18px;
    font-weight: lighter;
    color: #98b8c0;
    border: 1px solid #98b8c0;
}
.datos > input::placeholder{
	color: #98b8c0;
}
.datos > a{
	color: #fff;
    font-size: 17px;
    text-decoration: underline;
}
.datos > img{
	width: 34px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}


.menuEscritorio{ width: 48px; height:48px; float:left; margin: 0px;} 
.hamburger-innerEscritorio, .hamburger-innerEscritorio:after, .hamburger-innerEscritorio:before { background-color: #223275; position: absolute; width: 20px; height: 2px; border-radius: 5px; content: ''; transition-timing-function: ease; transition-duration: .2s; transition-property: opacity,-webkit-transform; transition-property: transform,opacity; transition-property: transform,opacity,-webkit-transform;}
.hamburger-innerEscritorio:before {top: 7px;}
.hamburger-innerEscritorio:after { top: 14px;}
.hamburgerEscritorio.open .hamburger-innerEscritorio { -webkit-transform: translate3d(0,10px,0) rotate(45deg); transform: translate3d(0,10px,0) rotate(45deg); background-color:#223275;}
.hamburgerEscritorio.open .hamburger-innerEscritorio:after { -webkit-transform: translate3d(0,-20px,0) rotate(-90deg); transform: translate3d(0,-20px,0) rotate(-90deg); background-color:#223275; top: 20px;}
.hamburgerEscritorio.open .hamburger-innerEscritorio:before { -webkit-transform: translate3d(0,-20px,0) rotate(90deg); transform: translate3d(0,-20px,0) rotate(90deg); opacity: 0; }
.hamburgerEscritorio {min-height: 20px; max-width: 20px; cursor: pointer; float: left; margin: 16px 0 0 14px;}

.contMenuEscritorio{position: absolute; width: calc(100% - 40px); background-color: #fff; z-index: 9999; padding: 20px; border-bottom: solid 2px #0b3d8c; display: none;}
.menuLineas{float: left; margin: 0; padding: 0; list-style-type: none; height: calc(100vh - 220px); overflow: scroll; width: 320px;}

.menuLineas li{float: left; width: 100%; margin-bottom: 7px;}
.menuLineas a{float: left; width: 100%; color:#5f5f5f; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; }

.menuLineas a span{float: left; width: calc(100% - 30px);}
.menuLineas a i{float: right; width: 30px;}
.menuLineas li:hover a{color:#0b3d8c; font-family: 'Raleway-Bold';}
.menuLineas li.activo a{color:#0b3d8c; font-family: 'Raleway-Bold';}


.contCategoriasEscritorio{float: left; margin-left: 20px; width: calc(100% - 340px);}
#nombreLineaMenu{float: left; width: 100%; margin: 0 0 20px 0; color: #0b3d8c; font-size: 20px; font-family: 'Raleway-Bold';}
.grillaCategoriaMenu{float: left; width: calc(20% - 22px); border: solid 1px #ebebeb; margin: 0 10px 10px 10px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.imgCatMenu{float: left; width: 100%; height: 80px; overflow: hidden;}
.imgCatMenu img{float: left; width: 100%;}
.nomCategoriaMenu{float: left; width: calc(100px - 20px); padding: 7px 10px; font-size: 12px; color: #5f5f5f; min-height: 86px;}
.grillaCategoriaMenu:hover{border-color: #0b3d8c;}
.grillaCategoriaMenu:hover a{color: #0b3d8c;}





/*===================================
=            Carro movil            =
===================================*/
.textoCarroMovil{ font-size: 11px; }
/*Para responsive*/
.movil{display: none;}
.iconoBuscador{display: none; width: 40px; height:40px; float:left; font-size:32px; text-align:center; line-height:32px;}
.contBtnMenuResponsive{ background: #009be5; color: #fff; padding: 4px; border-radius: 50%; width: 48px; height:48px; float:left; margin: 0px; display: none;} 
.abrirFooter{ display:none; float: right; color:#fff;}
.hamburger {min-height: 20px; max-width: 20px; cursor:pointer; float: left; margin: 16px 0 0 14px;}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before { background-color: #fff; position: absolute; width: 18px; height: 2px; border-radius: 5px; content: ''; transition-timing-function: ease; transition-duration: .2s; transition-property: opacity,-webkit-transform; transition-property: transform,opacity; transition-property: transform,opacity,-webkit-transform;}
.hamburger-inner:before {top: 7px;}
.hamburger-inner:after { top: 14px;}
.hamburger.open .hamburger-inner { -webkit-transform: translate3d(0,10px,0) rotate(45deg); transform: translate3d(0,10px,0) rotate(45deg); background-color:#0b3d8c;}
.hamburger.open .hamburger-inner:after { -webkit-transform: translate3d(0,-20px,0) rotate(-90deg); transform: translate3d(0,-20px,0) rotate(-90deg); background-color:#0b3d8c; top: 20px;}
.hamburger.open .hamburger-inner:before { -webkit-transform: translate3d(0,-20px,0) rotate(90deg); transform: translate3d(0,-20px,0) rotate(90deg); opacity: 0; }

.fixedResponsive{display:none;}
.unidadMovil{display:none;}
.botoneraMovil{display: none;}
.contBotonesIdentificacionResponsive{display:none; float:left; width:94%; margin:10px 3%;}
.contBotonesIdentificacionResponsive a{ float:left; width:calc(50% - 2px); border-left:solid 1px #fff; border-right:solid 1px #fff; height:40px; line-height:40px; text-transform:uppercase; background:#ccc; color:#fff; letter-spacing:1px;-webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
.contBotonesIdentificacionResponsive a:hover{ background-color:#666;}
.contBotonesIdentificacionResponsive a.active{ background-color:#666;}
.volverMenuMovil{display: none; float: left; width: 100%; height: 50px;}
.volverMenuMovil a{float: left; width: 100%!important; height: 50px; line-height: 50px; color: #ccc!important; background-color: #eff0ff;}
.volverMenuMovil a i{float: left!important; width: auto!important; color: #ccc!important; margin-right: 5px;}
.volverMenuMovil a span{float: left; color: #ccc;}

.btnFiltrosMovil{float: left; width: calc(50% - 17px); height: 55px; border-right: solid 1px #f2f2f2; padding-left: 15px; color: #5f5f5f; display: none; font-size: 16px; line-height: 55px;}
.btnFiltrosMovil i{float: right; height: 55px; color: #5f5f5f; margin-right: 15px; line-height: 55px;}

.carroDerechaMovil{display: none;/* margin-top: 110px;*/ float: left; width: 100%;}
.filaCarroMovil{float: left; width: calc(100% - 40px); height: 52px; color: #000; background-color: #f8f8f8; padding: 0 20px; cursor: pointer;}
.filaCarroMovil span{float: left; margin-left: 5px; margin-right: 5px; line-height: 50px;}
.filaCarroMovil i{float: left; line-height: 50px;}
#contDatosCartVariables2{float: left; width: 100%;}
.filaCarroMovil span.totalesMovil{float: right; color: #e10613;  font-size: 16px; font-family: 'Raleway-Bold';}
.contOcultoCarroResponsive{float: left; width: 100%; display: none; margin-bottom: 30px;}

.edicarCarro{float: left; font-size: 12px; color: #36f; text-decoration: underline; display: none;}
.subtituloPedidoGuardado{float: left; width: 100%; margin: 0 0 0 0; font-family: 'Raleway-Bold'; font-size: 14px;}
.contOpcionFactura{position: relative;}
.volverForm{display: none;}
/*=====  End of Carro movil  ======*/

.contPedidosDetalle { position: relative; }

/*======================================
=            Menu y submenu            =
======================================*/
.menuLineasCategorias{ display: inline-flex; position: absolute; width: calc(100% - 40px); background-color: #f1f1f3; z-index: 9999; padding: 3% 10%; border-top: solid 2px #C6C5C5; }
.textoMenu{ width: 20%; margin-top: 2%; text-align: center; }
.imagenesMenuLineas{ width: 80%; }
.imgMenuLinea{ position: relative; z-index: 1; margin: 0 10px;} 
.imgTextMenuCat{ font-size: 1.2vw; font-family: 'Raleway-Black'; position: absolute; top: -15px; left: 20%; color:#fff; z-index:2; }
.imgTextMenuCat2{ font-size: 0.8vw; font-family: 'Raleway-Black'; position: absolute; top: -15px; left: 20%; color:#fff; z-index:2; }

.tituloLineasCat{ font-size: 1.2vw; font-family: 'Raleway-Black'; color:#5f5f5f; text-transform: uppercase; }
.textoLineasCat{ font-size: 1vw; font-family: 'Raleway-Regular'; color:#5f5f5f; }

/*=====  End of Menu y submenu  ======*/


.marginBotton { margin-bottom: 30px; }
.paddingTop { padding-top: 30px; }

.borderTop { border-top: 1px solid #C3C4C4; }
/*==============================================
=            Terminos y condiciones            =
==============================================*/
.subirTerminos{ color: #009be5; font-family: 'Raleway-Bold'; text-decoration: underline; }

/*=====  End of Terminos y condiciones  ======*/

/*============================================
=            Orden de las flechas            =
============================================*/
.owl-banner1 .owl-prev{  left: 0; bottom: 60px; }
.owl-banner1 .owl-next{ left: 70px; bottom: 60px; }

.grillasHome > div.owl-bannerMarcas { position: relative; padding: 10px 0; }
.grillasHome > div.owl-bannerMarcas > div.owl-dots{ position: absolute; color: #fff;  bottom: -30px; left: 40%; }
.grillasHome > div.owl-bannerMarcas > div.owl-dots > button.owl-dot{ float: left;}
.grillasHome > div.owl-bannerMarcas > div.owl-dots > button.owl-dot > span{ border: 1px solid #009be5; border-radius: 100px; background: #fff; }
.owl-bannerMarcas > div.owl-nav{ position: unset;}
.owl-bannerMarcas .owl-prev{ position: absolute; left: -3%; bottom: 35%; }
 .owl-bannerMarcas .owl-next{ right: -3%; bottom: 35%; }
.grillasHome > div.owl-bannerMarcas > div.owl-dots > button.active > span{ width: 7px; height: 7px; border: 1px solid #009be5; border-radius: 100px; background: #009be5; }


/*=====  End of Orden de las flechas  ======*/

/*========================================
=            Codigo Descuento            =
========================================*/
.tituloCarro{ border-bottom: 1px solid #E4E2E2; margin-bottom: 10px; padding-bottom: 10px; }
.campoPasoFinal { float: left; width: calc(60% - 2px); border: solid 1px #E4E2E2; background: #f6f6f6; height: 50px; margin: 15px 0; padding: 0 10px; box-sizing: content-box!important;  color: #666;}
.aplicarDescuento{ float: left; border: none; width: calc(30% - 12px); height: 50px; margin: 15px 0 15px 10px; box-sizing: content-box!important; background-color: #009be5; color: #fff; font-family: 'Raleway-Bold'; font-size: 14px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; text-align: center; line-height: 40px; text-transform: uppercase; border-radius: 5px;}
.aplicarDescuento:hover{ background: #009be5; }
.contCodigoDescuento > label{ color: #666; float: left; width: calc(100% - 22px); font-family: 'Raleway-Bold'; font-size: 14px; }
.contCodigoDescuento{ position: relative; border-bottom: 1px solid #E4E2E2; margin-bottom: 10px; }
/*.codigoOK{position: absolute; z-index:5; bottom:30px; right:20px; width:20px; height:20px;}*/

/*=====  End of Codigo Descuento  ======*/

/* marcas carrucel */

.marcasImagenes{ margin: 50px 0 20px 0; }
.marcasImagenes .marcaImagen{ border: 1px solid rgb(219, 217, 217); }
/* Fin marcas carrucel */


/* Controladores de Cantidad (Spinners) */
.box_spinnerComp { width: 100%; display: none; grid-template-columns: 30% 35% 30%; height: 25px; margin: 0 0 10px 0; }
.box_spinnerComp .sep_spin { text-align: center; line-height: 25px; }
.box_spinnerComp .sep_spin:first-child,
.box_spinnerComp .sep_spin:last-child { cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-size: 12px; }
.box_spinnerComp .sep_spin:nth-child(2) { border: 1px solid #d7d7d7; border-radius: 50%; font-size: 12px; font-family: 'Raleway-Regular'; background-color: #1f80d6; color: #fff; }

.box_spinner { max-width: 160px; min-width: 160px; width: 35%; display: grid; grid-template-columns: 30% 23% 30%; height: 35px; }
.box_spinner .sep_spin { text-align: center; line-height: 35px;  }
.box_spinner .sep_spin:first-child,
.box_spinner .sep_spin:last-child { cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-size: 16px; }
.box_spinner .sep_spin:nth-child(2) { border: 1px solid #d7d7d7; border-radius: 50%; font-size: 16px; font-family: 'Raleway-Regular'; background-color: #1f80d6; color: #fff; }

.box_spinnerCarro { max-width: 200px; width: 100%; display: grid; grid-template-columns: 30% 30% 30%; height: 35px; }
.box_spinnerCarro .sep_spin { text-align: center; line-height: 35px; max-width: 35px; }
.box_spinnerCarro .sep_spin:first-child,
.box_spinnerCarro .sep_spin:last-child { cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-size: 16px; }
.box_spinnerCarro .sep_spin:nth-child(2) { border: 1px solid #d7d7d7; border-radius: 50%; font-size: 16px; font-family: 'Raleway-Regular'; background-color: #1f80d6; color: #fff; }


/* FIn de Controladores de Cantidad (Spinners) */

/* Breadcrumb */
.contBreadcrumb{ padding: 0 15px; margin-bottom: 5px; display: flex; flex-wrap: wrap; }
.contBreadcrumb p{ font-family: 'Raleway-Regular'; font-size: 12px; display: inline; padding: 1px 2px; border: 1px solid #d3d3d3; margin: 5px 10px 5px 0; color: #333333;}
.borrarFiltroBreadcrumb{ width: 100%; text-decoration: underline; font-size: 12px;}
.tituloFiltroBreadcrumb {padding: 15px 15px 0 15px; box-sizing: border-box; float: left; width: 100%; font-size: 16px; color: #5f5f5f; font-family: 'Raleway-Bold'; margin-bottom: 10px;}
/* Fin de  Breadcrumb */

/* Carro de compras en resumen */

#contFilasCarro{float:left; width:calc(100% - 20px); margin-bottom:20px; background-color: #fff; }
.filaProductosCarro{ display: flex; flex-wrap: wrap; background-color: #f1f1f3; box-sizing: border-box; float:left; width:100%; margin:10px; padding:10px; position: relative; margin-top: 10px; }
.imgFilaCart{box-sizing: border-box; flex: 1 1 20%; float: left; border: solid 1px #f2f2f2; padding-right: 10px; position: relative;}
.imgFilaCart img{ max-width: 180px; }
.contCarroResumen1{ flex: 1 1 20%; box-sizing: border-box; padding-right: 10px; }
.tituloItemCarroResumen{ font-size: 12px; color: #1f80d6; }
.nomProdCarroResumen{ font-size: 16px; color: #333333; }
.precioCarroResumen{ float:left; font-family: 'Raleway-Black'; line-height: 19px;  font-size: 19px; color: #1f80d6; }
.tituloMiCarro2{ text-align: center; width: 100%; font-size: 26px; color: #0078b1; margin: 0; font-family: 'Raleway-Bold'; height: 52px; line-height: 52px;}

#contValoresResumen{float:left; width:calc(100% - 42px);  background-color:#fff; padding:0 20px 20px 20px; margin-bottom:20px; border: solid 1px #f2f2f2;}
#contValoresResumen h3{float:left; width:100%; margin:0; font-size: 12px; color: #999; line-height: 20px;}
#contValoresResumen h3 span{color:#1f80d6; font-size: 26px; font-family: 'Raleway-Bold';}
/*Fin de Carro de compras en resumen */


.headerCarro {
    text-align: center;
  }
  .headerCarro h1.logo {
    float: none;
    display: inline-block;
  }
  
  h1.logo {
    float: left;
    margin: 0 0 0 0;
    padding: 0;
  }
  h1.logo a {
    float: left;
    width: 175px;
    height: 40px;
    margin: 10px 0 10px 0;
    padding: 0;
    overflow: hidden;
    text-indent: -999px;
    background-image: url(img/logo.png);
    background-position: left top;
    background-repeat: no-repeat;
  }
  
  .filaLogo1 {
    float: right;
    width: calc(100% - 200px);
  }
  
  .icono-header-right3 {
    float: left;
    text-align: right;
    margin-left: 15px;
    margin-top: 10px;
    position: relative;
    width: 100%;
  }
  .buscadorPag {
    position: relative;
    width: 60%;
  }
  