@charset "UTF-8";

body {
  background: #fff;
  margin: 0;
  padding: 0;
  font-family: "trebuchet";
  color: #009be5;
  font-size: 14px;
}
.header{
	margin: 0;
	padding: 0;
}
.contenedor {
  /* float:left; */
  width: 700px;
  border-top: solid 5px #009be5;
  margin: auto;
}

h2 {
  float: left;
  width: 100%;
  font-size: 26px;
  margin: 0 0 10px 10px;
  padding: 0;
  font-weight: bold;
  color: #444;
  text-transform: uppercase;
  font-family: "trebuchet";
}
h3 {
  color: #666;
  font-size: 22px;
  float: left;
  width: 100%;
  margin: 0 0 10px 10px;
  padding: 0;
  font-weight: lighter;
  font-family: "trebuchet";
}
h4 {
  font-size: 16px;
  float: left;
  width: 100%;
  margin: 0 0 10px 10px;
  padding: 0;
  font-weight: lighter;
  font-family: "trebuchet";
  color: #666666;
}
h5 {
  font-size: 24px;
  float: left;
  width: 100%;
  margin: 0 0 20px 10px;
  padding: 0;
  font-weight: bold;
  font-family: "trebuchet";
  color: #0078b1;
}
.ocAzul {
  color: #009be5;
  text-decoration: underline;
}
table {
  border-collapse: collapse;
  margin-bottom: 30px;
}
thead tr th {
  height: 60px;
  text-align: left;
}
/* tbody tr {
  background-color: #f4f4f4;
  height: 60px;
} */
tbody td {
  /* background-color: #f4f4f4; */
  height: 60px;
  padding: 4px;
}
tbody tr:nth-child(odd) {
	background-color: #f4f4f4;
	height: 60px;
}
tbody tr:hover {
  background-color: #ddd;
  height: 60px;
}
.img-tabla {
	display: inline-block;
	max-width: 35px;
	height: auto;
	padding: 4px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
  }
.titulo {
  float: left;
  width: 100%;
  height: 50px;
  background: #2474cd;
  line-height: 50px;
  text-align: center;
}
/* Informaciones de Tablas */
.contInfoTablas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1180px;
  margin: 20px auto;
  gap: 20px;
}
.contenedorCalugaInfo1 {
  width: 80%;
  border: 2px solid #009be5;
  padding: 20px;
  min-height: 110px;
}
.contenedorCalugaInfo1 p {
  color: #888888;
  font-size: 12px;
  font-family: 'Raleway-Medium';
  line-height: 14px;
  margin: 0;
}
.calugasInfo1 {
  display: flex;
  flex-flow: wrap column;
  justify-content: start;
  align-items: flex-start;
  width: 50%;
  float: left;
}
.calugasInfo1 h1 {
  font-size: 14px;
  font-family: 'Raleway-SemiBold';
  color: #009be5;
  margin-left: 20px;
}
.calugasInfo2{
  display: flex;
  flex-flow: wrap column;
  justify-content: start;
  align-items: flex-end;
  padding: 20px 0;
  gap: 20px;
  width: 40%;
  float: right;
}
.contenedorCalugaInfo2 {
  border: 2px solid #009be5;
  padding: 15px 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: end;
  min-width: 250px;
}
.contenedorCalugaInfo2 .precioNumero{
  font-family: 'Raleway-Medium';
  font-size: 14px;
  color: #888888;
  line-height: 14px;
  margin: 0;
  width: 50%;
  float: left;
}
.contenedorCalugaInfo2 .precioReferencia{
  font-family: 'Raleway-Medium';
  font-size: 14px;
  color: #009be5;
  line-height: 14px;
  margin: 10px 0;
  width: 50%;
  float: left;
}

.notaEspecial {
  color: #888;
  font-size: 12px;
  font-family: 'Raleway-Medium';
  line-height: 14px;
}