/**
 * FancyUpload Showcase
 *
 * @license		MIT License
 * @author		Harald Kirschner <mail [at] digitarald [dot] de>
 * @copyright	Authors
 */

/* CSS vs. Adblock tabs */

* {
	font-family: Verdana;
	font-size: 12px;
}

.swiff-uploader-box a {
	display: none !important;
}

/* .hover simulates the flash interactions */
a:hover, a.hover {
	color: red;
	text-decoration: none;
}

#demo-status {
	padding: 10px 15px;
	width: 420px;
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
}

#demo-status .progress {
	background: url(assets/progress-bar/progress.gif) no-repeat;
	background-position: +50% 0;
	margin-right: 0.5em;
	vertical-align: middle;
}

#demo-status .progress-text {
	font-size: 0.9em;
	font-weight: bold;
}

#demo-list {
	list-style: none;
	width: 450px;
	margin: 0;
}

#demo-list ul {
	padding: 0;
}

#demo-list li.validation-error {
	padding-left: 44px;
	display: block;
	clear: left;
	line-height: 40px;
	color: #8a1f11;
	cursor: pointer;
	border-bottom: 1px solid #fbc2c4;
	background: #fbe3e4 url(assets/failed.png) no-repeat 4px 4px;
}

#demo-list li.file {
	border-bottom: 1px solid #eee;
	background: url(assets/file.png) no-repeat 4px 4px;
	overflow: auto;
}
#demo-list li.file.file-uploading {
	background-image: url(assets/uploading.png);
	background-color: #D9DDE9;
}
#demo-list li.file.file-success {
	background-image: url(assets/success.png);
}
#demo-list li.file.file-failed {
	background-image: url(assets/failed.png);
}

#demo-list li.file .file-name {
	font-size: 12px;
	margin-left: 44px;
	display: block;
	clear: left;
	line-height: 40px;
	height: 40px;
	font-weight: bold;
}
#demo-list li.file .file-size {
	font-size: 0.9em;
	line-height: 18px;
	float: right;
	margin-top: 2px;
	margin-right: 6px;
}
#demo-list li.file .file-info {
	display: block;
	margin-left: 44px;
	font-size: 12px;
	line-height: 20px;
	clear
}
#demo-list li.file .file-remove {
	clear: right;
	float: right;
	line-height: 18px;
	margin-right: 6px;
	font-size: 12px;
}

table td {
	border-top: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	font-family: Verdana;
	font-size: 10px;
}

table{
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}

.boton3 {
	font-size:10px;
	font-family:Verdana,Helvetica;
	font-weight:bold;
	color:#333;
	background:#ececec;
	border:1px #666 solid;
	width:auto;
	height:19px;
	padding-left: 8px;
	padding-right: 8px;
	text-decoration: none;
}

.boton3:hover {
	color:#CCC;
	background:#333;
	cursor:pointer;
}

.boton2 {
	font-size:10px;
	font-family:Verdana,Helvetica;
	font-weight:bold;
	color:#FFF;
	background:#F00;
	border:1px #666 solid;
	width:auto;
	height:19px;
}

.boton2:hover {
	color:#F00;
	background:#CCC;
	cursor:pointer;
}

.error {
	color:#F00;
	font-weight:bold;
}