#grilla-carro {
  background: none repeat scroll 0 0 #FDFDFD;
  border: 1px solid #EAEAEA;
  float: left;
  margin-left: 61px;
  width: 838px;}
  
#pasos-carro{
	float:left;
	margin-left:295px;
	margin-bottom:18px;}

.paso-carro{
	width:84px;
	height:62px;
	float:left;
	border:1px solid #d3d3d3;
	text-align:center;
	margin-right:8px;
	color: #424141;
	background:#f1f1f1;
	border-radius:4px;
	-moz-box-shadow: inset 0 0 3px #fff;
	-webkit-box-shadow: inset 0 0 3px #fff;
	box-shadow: inset 0 0 3px #fff;}

.paso-carro-current{
	background:#e43934;
	color:#FFF;
	width:84px;
	height:62px;
	float:left;
	border:1px solid #d3d3d3;
	text-align:center;
	margin-right:8px;
	border-radius:4px;
	-moz-box-shadow: inset 0 0 3px #fff;
	-webkit-box-shadow: inset 0 0 3px #fff;
	box-shadow: inset 0 0 3px #fff;}

.numcarro {
  float: left;
  font-size: 18px;
  height: 22px;
  margin-top: 9px;
  width: 100%;}
	
.nombrecarro{
	float:left;
	font-size:14px;
	width:100%;}
	
#titulo-producto, #titulo-descrip{
	width:124px;
	border-right:1px #d6d6d6 solid;
	padding-left:30px}

#titulo-code, #titulo-precio, #titulo-cantidad {
	width:114px;
	border-right:1px #d6d6d6 solid;
	padding-left:20px}

#titulo-total {
	width:93px;
	padding-left:30px}
	
#titulo-producto, #titulo-descrip, #titulo-code, #titulo-precio, #titulo-producto, #titulo-cantidad, #titulo-total{
	font-family: 'PTSansBold';
	float:left;
	height:34px;
	border-bottom:1px #d6d6d6 solid;
	background-color:#f9f9f9;
	font-size:12px;
	color:#616161;
	line-height:34px;}

.fila-carro{
	float:left;
	width:100%;
	border-bottom:1px #d6d6d6 solid;
	height:116px;
	color:#616161;
	font-size:12px;
	line-height:102px;}
	
.caja-carro-producto, .caja-carro-descrip, .caja-carro-codigo, .caja-carro-precio, .caja-carro-cantidad, .caja-carro-total{
	float:left;
	height:116px;}

.caja-carro-producto{
	width:154px; 
	border-right:1px #d6d6d6 solid; 
	margin-right:31px;
}

.caja-carro-descrip{width:123px; border-right:1px #d6d6d6 solid; margin-right:20px;}

.caja-carro-codigo, .caja-carro-precio{
	width:114px;
	border-right:1px #d6d6d6 solid;}
	
.caja-carro-cantidad{
	width:134px;
	border-right:1px #d6d6d6 solid;}
	
.caja-carro-codigo {
  margin-right: 20px;}
  
.caja-carro-cantidad {
  margin-right: 30px;}
	
#caja-carro-total{
	padding-left:30px;
	float:left;}
	
#fila-total-carro1 {
  color: #616161;
  float: left;
  font-size: 12px;
  line-height: 38px;
  width: 838px;
}
	
#caja-total-2 {
  border-left: 1px solid #D6D6D6;
  float: right;
  height: 38px;
  padding-left: 35px;
  width: 88px;
}

#valor-total {
  float: left;
  font-family: 'PTSansBold';
  margin-left: 623px;
  margin-right: 12px;
  margin-right: 13px\0/; /* ie8 hack */
}

.btn-ccomprando, .btn-siguiente{
	font-family: 'PTSansBold';
	text-align:center;
	color:#656565;
	font-size:14px;
	height:29px;
	border:1px solid #a1a1a1;
	line-height:28px;
	text-decoration:none;
	-moz-box-shadow: 0 0 5px #e6e6e6;
-webkit-box-shadow: 0 0 5px #e6e6e6;
box-shadow: 0 0 5px #e6e6e6;
	background-image: linear-gradient(bottom, rgb(243,243,243) 9%, rgb(251,251,251) 78%);
background-image: -o-linear-gradient(bottom, rgb(243,243,243) 9%, rgb(251,251,251) 78%);
background-image: -moz-linear-gradient(bottom, rgb(243,243,243) 9%, rgb(251,251,251) 78%);
background-image: -webkit-linear-gradient(bottom, rgb(243,243,243) 9%, rgb(251,251,251) 78%);
background-image: -ms-linear-gradient(bottom, rgb(243,243,243) 9%, rgb(251,251,251) 78%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.09, rgb(243,243,243)),
	color-stop(0.78, rgb(251,251,251))
);}

.btn-ccomprando{width:188px; float:left}
.btn-siguiente{width:114px; float:right}

.btn-ccomprando:hover, .btn-siguiente:hover {
	color:#E43934;
	}

#nav2-carro {
  float: left;
  margin-left: 62px;
  width: 838px;
  margin-top:20px;
  margin-bottom:100px;
}

.caja-carro-producto img {
  border: 1px solid #D6D6D6;
/*   margin-top: 13px; */
  margin-left:24px;
  line-height: 116px;
  vertical-align: middle;
}

#caja-ingreso-carro {
  background: none repeat scroll 0 0 #F9F9F9;
  border: 1px solid #E7E7E7;
  float: left;
  height: 174px;
  margin-left: 62px;
  width: 836px;
}
	
.titulos-paso2 {
  border-bottom: 1px solid #D3D3D3;
  color: #616161;
  float: left;
  font-size: 18px;
  height: 58px;
  line-height: 59px;
  padding-left: 20px;
  width: 816px;
}

#caja-registro-carro {
	width:836px;
/* 	height:730px; */
	border:1px solid #e7e7e7;
	float:left;
	margin-left:62px;
	margin-top:21px;}

.btn_crear_cuenta{
	margin-top:70px;
}
		
.btnpaso2, .btn_crear_cuenta{
	background:#d44440;
	width:116px;
	height:32px;
	border-radius:3px;
	float:right;
	font-family: 'PTSansBold';
	color:#FFF;
	text-decoration:none;
	text-align:center;
	line-height:32px;
	margin-right:60px;
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
	box-shadow: 0 0 5px #999;}
	
.btnpaso2:hover{
	color:#ccc;}