@charset "UTF-8";
/* CSS Document */

body { margin: 0; padding-top: 0px; /*
background-image:url(../pics/fondo_login.png); background-repeat:repeat;
*/ background-color:#fff; font-weight: lighter; font-size: 12px; font-family: 'HelveticaLTStd-Light';}
*{outline:none;}
#header {background: #fff; width: 100%; height: 50px; display: block; z-index: 11; position: fixed; margin-top: 0px; top:0; border-bottom: solid 1px #ccc;}

#header .center { max-width: none; padding: 10px 2%; float: left; width: 96%;}
#header .logo {margin-top: 6px;	width: 193px; height: 22px; float: left; }
#header .perfil {float: right; width: 200px;}
#header .perfil .box{text-align:right;}
#header .perfil .box p{margin:0;}
.btnHeader2{float:right; height:27px; padding:0 10px; line-height:27px; color:#333; text-decoration:none; border:solid 1px #ccc; margin-left:20px; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; border-radius: 3px;}
.btnHeader2:hover{background-color: #1777B6; border:solid 1px #1777B6; color: #fff;}
.perfil .nombre {color: #333; float: right; width: 250px; margin-left: 15px; font-size:14px; font-family: 'HelveticaLTStd-Bold';}
.perfil .empresa {color: #999; float: right; width: 130px; margin-left: 15px;}
.perfil .box {float:right; width: 130px; margin-right: 15px; margin-top: auto; right: -95px;}
.foto{float:right;}
.cerrarSesion{float: right; width: 27px;}
.cerrarSesion p{float: right; width: 27px; margin: 0; font-size: 24px!important;}
.cerrarSesion p i{font-size: 24px; margin-top: 1px; -webkit-transition: all .3s; -moz-transition: all .3s; 
-o-transition: all .3s; transition: all .3s; color: #1777B6;}
.cerrarSesion p i:hover{color: #10B2CC;}
#back{width:calc(100% - 245px); background-image:url(pics/fondo_login.png); background-repeat:repeat; float:right; margin-top:103px;}
.menuContraido #back{width:calc(100% - 60px);}

#principal {background-color:#fff; padding:0px; height:auto; margin-top: 10px; margin-right: 10px; margin-bottom: 10px; margin-left: 10px;}
.menuContraido #botonera { width: calc(100% - 96px); left:72px;}
#botonera {
	width: calc(100% - 276px);
    height: 30px;
    background-color: #fff;
    border: none;
    margin-top: 0;
    margin-bottom: 10px;
    position: fixed;
    z-index: 99;
    top: 51px;
    left: 235px;
    padding: 11px 21px 11px 20px;
	box-shadow: 0 6px 7px rgba(0,0,0,.1);
}
#botones {
	float: right;
	margin: 5px;
	margin-top:0;
	/*height: 20px;*/
}

#botones_tabla {
	float: right;
	/* height: 20px; */
}

#titulo {
	float:left;
}

#fecha_reloj {
	float:right;
/* 	margin-top: 35px; */
	text-align: right;
	margin: 5px 15px;
}

#nav2 {
	display:inline;
}

#cuadros {
	width: 20%;
	float: left;
}

#graph {
	width: 70%;
	float: left;
	margin-left: 50px;
}

#graph h1 {font-size: 16px; color: #666;}
.claering {clear: both;}
#legend {position: relative; top: 0px; left: 40px;}
#legend2 {	position: relative;	top: 0px; left: 40px;}
#loader {height: 300px; width: 100%; background: url('../pics/loader.gif') center no-repeat;}
#empresa {float: right;}
#cambiar_empresa {
	font-size: 12px;
	color: #666;
	background-color: white;
	width: 400px;
	height: 330px;
	margin: 20px auto;
	padding: 10px;
}
.new_entry {float: right;}
.tips_medidas {
	background:#fff;
	width:300px;
	position:absolute;
	z-index:9;
	top:178px;
	right:36px;
	border-radius:5px;
	border: solid 3px #6d6e71;
	padding:10px;
	color: #666;
}
.tips_medidas p{margin:0;}
.tips_medidas a{
	position:absolute;
	left:-15px;
	top:-15px;
	width:30px;
	height:31px;
	background:url(../pics/cerrar_tips.png) no-repeat;
	outline:none;
	z-index:99;
}


#footer { width:100%; height:40px; text-align:center; background:#333; text-align:center; position:relative; float:left; bottom:0; color:#fff; left:0; padding-top:10px;}
.campo_texto { border:solid 1px #ccc; background:#fff; padding:7px 10px;}
.img_galeria {float:left; width:90%; position:relative; margin-left:5%;}
.img_galeria .eliminar_galeria{ position:absolute; z-index:2; top:-5px; right:-6px; display:none; cursor:pointer; }
.form_editar_en_linea {	position:absolute; top:0; left:0; width:200px!important; border:solid 1px #06F; height:auto; height:100%; background:#fff; display:none; z-index:9; }
.campo_editable_lista {
	float:left;
	width:160px!important;
	padding:0 10px;
	height:100%;
	top:0;
	left:0;
	border:none;
	background:#fff;
	outline:none;
}
.campo_editable_lista:hover {background:#fff!important;}
a.btn_editar_linea {
	float:right;
	width:20px;
	height:100%;
	overflow:hidden;
	text-indent:-999px;
	background:url(../pics/disk-black.png) center center no-repeat;
}
.agregar_nuevo {
	background:#10C2AA url(../pics/icono_nuevo.png) 5px center no-repeat; color:#fff!important; padding-left:35px; height:30px;
	padding-right:10px; border-radius:3px; text-transform:uppercase;-webkit-transition: all .3s; -moz-transition: all .3s;  -o-transition: all .3s; transition: all .3s; border: solid 1px #10C2AA;}
.agregar_nuevo:hover { background:#0ca28e url(../pics/icono_nuevo.png) 5px center no-repeat; color:#fff!important;}
.btn_editar {
	height:33px!important;
	padding:0!important;
	float:left!important;
	border:none;
	cursor:pointer;
	background:transparent;
}
.btn_editar i{ float:left; font-size:18px;}
.btn_editar:hover {background:transparent; }
.btn_editar:hover i{color:#1f74ad;}
a.btn_eliminar {
	/*background:url(../pics/eliminar_2.png) center center no-repeat;*/
	height:18px!important;
	width:18px!important;
	border:none;
	padding:0!important;
	overflow:hidden;
	float:left;
	background:transparent;
}
a.btn_eliminar i{font-size:18px; margin:0;}
a.btn_eliminar:hover i{color:red;}
a.btn_eliminar:hover {
	background:transparent;
	/*background:url(../pics/eliminar_2_hover.png) center center no-repeat;*/
}
#query {
	border:solid 1px #ccc;
	background:#fff;
	height:28px;
	outline:none;
	padding:0 10px;
}
#query:hover {
	border:solid 1px #999;
}
.ver_todo {
	float:left;
	height:28px;
	line-height:28px;
	border:solid 1px #ccc;
	padding:0 15px;
	text-decoration:none;
}
.ver_todo:hover {
	color:#FFF;
	background:#669dd6;
}
.filas_por_pagina {
	line-height:28px;
	margin-left:5px;
}
.page {
	line-height:26px;
}
input.guardar-edit {
	float:right;
	background:url(../pics/guardar-edit.png) 5px center no-repeat #1777B6;
	padding:0 10px 0 35px;
	height:28px; border:solid 1px #1777B6;
	color:#fff; border-radius: 3px; margin-bottom:3px; font-weight:lighter; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s;}
input.guardar-edit:hover {
	background:url(../pics/guardar-edit.png) 5px center no-repeat #0e5a8c; color:#fff;}
a.eliminar-edit {float:right; margin-left:5px;
	background:url(../pics/eliminar-edit.png) 5px center no-repeat #e44242;
	padding:0 10px 0 35px; border:solid 1px #e44242; color:#fff; border-radius: 3px; height:26px; font-weight:lighter;line-height:26px; text-transform:uppercase;-webkit-transition: all .3s; -moz-transition: all .3s; 
-o-transition: all .3s; transition: all .3s;}
a.eliminar-edit:hover {
	background:url(../pics/eliminar-edit.png) 5px center no-repeat #d96d6d;
	color:#fff;
}
.volver-edit {
	float:left;
	margin-right:5px;
	background:url(../pics/volver-edit.png) 5px center no-repeat #f9f9f9;
	padding:0 10px 0 20px; border:solid 1px #ccc;
	color:#333; border-radius: 3px;
	height:28px;
	font-weight:lighter;
	line-height:28px; font-family: 'HelveticaLTStd-Light';
}
.volver-edit:hover {
	background:url(../pics/volver-edit.png) 5px center no-repeat #f9f9f9;
	color:#000;
}
.nuevo-edit {
	float:left;
	margin-right:5px;
	background:url(../pics/icono_nuevo.png) 5px center no-repeat #10C2AA;
	padding:0 10px 0 35px;
	border:solid 1px #10C2AA;
	color:#fff!important; border-radius: 3px;	height:28px; font-weight:lighter;
	line-height:28px; -webkit-transition: all .3s; -moz-transition: all .3s; 
-o-transition: all .3s; transition: all .3s; font-family: 'HelveticaLTStd-Light';}
.nuevo-edit:hover {
	background:url(../pics/icono_nuevo.png) 5px center no-repeat #0ca28e;
}

.preview-edit {
	float:left;
	margin-right:5px;
	background:url(../pics/icono_preview.png) 5px center no-repeat #1777B6;
	padding:0 10px 0 35px;
	border:solid 1px #1777B6;
	color:#fff!important; border-radius: 3px;	height:28px; font-weight:lighter;
	line-height:28px; -webkit-transition: all .3s; -moz-transition: all .3s; 
-o-transition: all .3s; transition: all .3s;}
.preview-edit:hover {
	background:url(../pics/icono_preview.png) 5px center no-repeat #0e5a8c;
}

.descargarXLS {
	float:left;
	margin:15px 0 15px 10px;
	background:url(../pics/icono_download.png) 5px center no-repeat #2c822f;
	padding:0 10px 0 35px;
	border:solid 1px #2c822f;
	color:#fff!important; border-radius: 3px;	height:28px; font-weight:lighter;
	line-height:28px; text-transform:uppercase;-webkit-transition: all .3s; -moz-transition: all .3s; 
-o-transition: all .3s; transition: all .3s;}
.descargarXLS:hover {
	background:url(../pics/icono_download.png) 5px center no-repeat #1c5f1e;
}


.ui-tabs .ui-tabs-nav{background: #fff;}
a.imagenes-edit {
	background:url(../pics/add-images.png) 5px center no-repeat #1777B6;
	float:left; margin-right:5px;
	height:28px; border: solid 1px #1777B6!important;
	border-radius:3px; line-height:28px; padding:0 10px 0 40px;
	font-weight:lighter; color:#fff!important;-webkit-transition: all .3s; -moz-transition: all .3s; 
-o-transition: all .3s; transition: all .3s;

}
a.imagenes-edit:hover {
	background:url(../pics/add-images.png) 5px center no-repeat #4d85ab;
}
.unorderedlisttree {
	list-style:none;
	padding-left:0;
}
.unorderedlisttree li{
	margin-bottom:4px;
} 
.ncam {
	color:#000;
}
input.btn_siguiente {
	width:110px;
	text-align:center;
	height:28px!important;
	background:url(../pics/continuar.png) 90px 8px no-repeat #1682ca;
	overflow:hidden;
	border-radius:5px;
	border:none;
	cursor:pointer;
	text-transform: uppercase;
	font-weight:lighter;
	color:#fff;
	font-size:11px;
	font-family: Verdana,Helvetica;
	padding:0 20px 0 0;
}
input.btn_siguiente:hover {
	background:url(../pics/continuar.png) 90px 8px no-repeat #136BA6!important;
	color:#fff;
}
.td_editable {
	position:relative;
}
.contenido {
	width:600px;
	min-height:100px;
	padding:30px;
}
.titulo_has_many_edit {
	float:left;
	width:100%;
	font-size:18px;
	color:#333;
	font-weight:lighter;
	margin-top:0;
}
.btn_actualizar {
	height:31px;
	border-radius:5px;
	overflow:hidden;
	line-height:31px;
	color:#fff;
	float:left;
	background:#1682ca;
	width:140px;
	text-align:center;
	margin-top:10px;
	text-decoration:none;
	margin-bottom:20px;
}
.btn_actualizar:hover {
	background:#166da7;
}
#edit_has_many {
	float:left;
	width:100%;
}
#camposRenovacion{
	position:absolute;
	z-index:9;
	width:300px;
	right:50px;
	top:50px;
	min-height:100px;
	background:#CCC;
}
.contieneImagen{
	position:relative;
}
img.del{
	position:absolute;
	top:0;
	left:0;
	z-index:99;
	cursor:pointer;
}
.menu-orden{
	width: 100%;
	position: relative;
}
.menu-orden ul{
	background: #1777B6;
	padding: 0;
	overflow: hidden;
	height: 40px;
	line-height: 40px;
	margin: 0;
}
.menu-orden ul li{
	list-style: none;
	float: left;
}
.menu-orden ul li a{
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 0 20px;
}
.menu-orden ul li a:hover{
	background: #58a1d2;
}
.menu-orden .submenu{
	display: none;
	background: #3a7faf;
	position: absolute;
	height: auto;
	width: 100%;
	left: 0;
	padding-bottom: 20px;
	z-index: 2;
}
.menu-orden .submenu li{
	display: block;
	float: left;
	width: 25%;
	font-weight: bold;
}
.menu-orden .submenu li a:hover{
	background: none;
}
.menu-orden ul li:hover > .submenu{
	display: block;
}
.menu-orden .submenu .subsubmenu{
	height: auto;
	background: transparent;
}
.menu-orden .submenu .subsubmenu li{
	float: left;
	width: 100%;
	padding: 5px 0;
	line-height: normal;
	font-weight: lighter;
}
.menu-orden .submenu .subsubmenu li a{
	padding: 0 20px;
	display: block;
}
.menu-orden .submenu .subsubmenu li a:hover{
	background: none !important;
}
.btn-list{
	position: absolute;
	right: 16px;
	top: 12px;
	background: url(../pics/rview.png) no-repeat;
	height: 20px;
	width: 20px;
	cursor: pointer;
}
.btn-list-columns{
	background: url(../pics/cview.png) no-repeat;
}

.r-order .row{
	width: calc(50% - 30px);
	height: 37px;
	padding-left: 50px;
}
.r-order .row img{
	display: none;
}
.cont-order{
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	counter-reset: item;
}
.cont-order .row:before{
	content: counter(item);
    counter-increment: item;
    background: #4692c6;
    padding: 5px;
    position: absolute;
    color: #fff;
    border-radius: 4px;
    z-index: 1;
    left: 5px;
}
.cont-order .row{
	border: 1px solid #ccc;
    padding: 5px;
    list-style: none;
    width: calc(15.9% - 30px);
    margin-bottom: 12px;
    float: left;
    height: 182px;
    margin-right: 12px;
    border-radius: 3px;
    border-bottom: 2px solid #ccc;
    cursor: all-scroll;
    position: relative;
    box-sizing: border-box;
}
.cont-order .row:hover{	border: 1px solid #4692c6; border-bottom: 2px solid #4692c6;}
.cont-order .row img{width: 100%;}
#guardar-orden{	background: #65b2e6; padding: 5px 20px; display: block; color: #fff; width: 120px; text-align: center; margin-bottom: 10px; border: 1px solid #666; border-radius: 4px; text-decoration: none; font-size: 14px;}
a.btnPreview {float: left; cursor: pointer;}
a.btnPreview i{font-size: 18px!important;}
a.btnPreview:hover i {color:#488ebd!important;}

.fondo{ width: calc(25% - 35px); height: 150px; background: red; }
ol.cont-order li div.img{ float:left; width:100%; height:121px; overflow:hidden; }
.nombreOrden{ float:left; width:calc(100% - 20px); text-align:center; padding:5px 10px; height:40px;}
.cont100{float:left; width:100%;}
.cont50{float:left; width:50%;}
.filaCampo{margin: 0 0 20px 0;}
.label{float:left; width:100%; margin-bottom:5px;}
.titulosConf{float:left; width:100%; margin:0 0 20px 0; font-size: 16px; color: #333;}

.separador{ border-bottom: solid 1px #ccc; margin-bottom:20px;}
.contAdicional .mce-tinymce {width:90%!important; float:left;}
.contAdicional .mce-menubar {display:none!important;}
.bordeCorreo{border-bottom:solid 1px #e8e8e8; padding-bottom:10px;}
.textarea{float:left; width:calc(90% - 32px); border:solid 1px #ccc; padding:15px; height:80px;}

.filaBloques{float: left; width: 100%; color: #fff; padding-bottom: 20px;}
.bloqueInfo{float: left; width: calc(20% - 50px); margin: 0 10px; background: #ccc; padding: 15px; min-height: 95px; border-radius: 6px;-webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; }
.bloqueInfo:hover{filter:alpha(opacity=60); -moz-opacity:.60; opacity:.60;}

.bloqueInfo h3{float: left; width: 100%; margin: 0 0 10px 0; font-size: 14px; color: #fff;}
.bloqueInfo span{float: left; width: 100%; margin: 0 0 10px 0; font-size: 26px; color: #fff; font-weight: 800;}
.ma{float: left; width: 100%; color: #fff;}
.maa{float: left; width: 100%; color: #fff;}
.dashboard2{margin-top: 40px;}
.filaDashboard{float: left; width: 100%; margin-top: 20px}
.columnaIzquierda{float: left; width: calc(25% - 10px); margin-left: 0px;}
.columnaDerecha{float: left; width: calc(75% - 20px); margin-left: 20px;}
.columna100{float: left; width: calc(100% - 20px); margin-left: 10px; padding: 0;}
.filaTitulos{float: left; width: 100%;}
.filaTitulos a{float: left; padding: 10px 15px; margin-right: 10px; background: #ccc; color: #fff;}

.contTabsDashboard{float: left; width: 100%; margin-bottom: 20px;}
.tabActivoDashboard{float: left; width: 100%; background: #fff;}
.filaTitulosInterior{float: left; width: 100%; padding: 10px 0; background: #1777B6; font-family: 'HelveticaLTStd-Bold'; }
.filaTitulosInterior2{float: left; width: 100%; padding: 10px 0; background: #10B2CC;}
.filaDatos{float: left; width: 100%; padding: 0; border-bottom: solid 1px #EFEFEF; line-height: 31px;}
.filaDatos2{float: left; width: 100%; padding: 0; border-bottom: solid 1px #EFEFEF; line-height: 31px;}

.filaTitulosInterior .col1{float: left; width: calc(25% - 20px); margin-left: 20px; color: #fff;}
.filaTitulosInterior .col2{float: left; width: 10%; color: #fff;}
.filaTitulosInterior .col3{float: left; width: 10%;color: #fff;}
.filaTitulosInterior .col4{float: left; width: 10%; color: #fff;}
.filaTitulosInterior .col5{float: left; width: 10%; color: #fff;}
.filaTitulosInterior .col6{float: left; width: 15%; color: #fff;}
.filaTitulosInterior .col7{float: left; width: 15%; color: #fff;}
.filaTitulosInterior .col8{float: left; width: 5%; color: #fff;}

.filaDatos .col1{float: left; width: calc(25% - 20px); margin-left: 20px;}
.filaDatos .col2{float: left; width: 10%;}
.filaDatos .col3{float: left; width: 10%;}
.filaDatos .col4{float: left; width: 10%;}
.filaDatos .col5{float: left; width: 10%}
.filaDatos .col6{float: left; width: 15%}
.filaDatos .col7{float: left; width: 15%}
.filaDatos .col8{float: left; width: 5%}

.filaTitulosInterior2 .col1{float: left; width: calc(40% - 20px); margin-left: 20px; color: #fff!important;}
.filaTitulosInterior2 .col2{float: left; width: 15%; color: #fff!important;}
.filaTitulosInterior2 .col3{float: left; width: 15%; color: #fff!important;}
.filaTitulosInterior2 .col4{float: left; width: 20%; color: #fff!important;}
.filaTitulosInterior2 .col5{float: left; width: 5%; color: #fff!important;}


.filaDatos2 .col1{float: left; width: calc(40% - 20px); margin-left: 20px;}
.filaDatos2 .col2{float: left; width: 15%;}
.filaDatos2 .col3{float: left; width: 15%;}
.filaDatos2 .col4{float: left; width: 20%;}
.filaDatos2 .col5{float: left; width: 5%}
.previewOjo{float: right; margin-right: 20px;}

.tipsLaterales{float: left; width: calc(100% -2px); background: #fff; border: solid 1px #EBEBEB; margin-bottom: 20px;}
.tipsLaterales h5{float: left; width: calc(100% - 20px); color: #fff; background-color: #1777B6; margin: 0; padding: 10px 10px; font-size: 12px; font-weight: lighter;}
.tipsLaterales a{float: left; width: calc(100% - 20px); padding: 8px 10px; border-bottom: solid 1px #EBEBEB; color: #333;}
.tipsLaterales a.lateralActivo{ background-color: #10C2AA; color: #fff;}

.graficoDashboard{float: left; width: 100%; margin-bottom: 20px;}

.graficoDashboard .total-por-anio h3{margin-top: 0;}
.graficoDashboard .total-por-anio h1{margin-top: 0;}
.graficoDashboard .total-por-anio{ width: 100%; margin-bottom: 10px;}
.graficoDashboard .total-por-anio .box{width: 25%;}
.graficoDashboard .div-g{width:100%;}

.tituloDashboard{float: left; width: calc(100% - 10px); margin: 0 0 20px 10px;}

.fila{float: left; width: 100%;}

.pagado{color: #fff; background: #0ca28e; padding: 3px 10px; border-radius: 5px; }

.pago_pendiente{color: #fff; background: #2eaadc; padding: 3px 10px; border-radius: 5px; }

.rechazado{color: #fff; background: red; padding: 3px 10px; border-radius: 5px; }
.abandonado{color: #fff; background: #999; padding: 3px 10px; border-radius: 5px; }
.cantMenu{float: right; background: cornflowerblue; color: #fff; border-radius: 4px; padding: 3px}

.contGrafico{float: left; width: 100%; height: 300px;}
.highcharts-container {width: 100%!important; height: auto!important;}
svg.highcharts-root {width: 100%!important;}
.highcharts-credits{display: none;}

.ancho100{float: left; width: 100%;}
.tituloDash{float:left; width:100%; padding:0; font-size: 34px; margin: 0 0 20px 0; font-family: 'HelveticaLTStd-Light'; color: #000;}
a.activoTab{background-color:#1777B6; font-family: 'HelveticaLTStd-Bold';}
.nomMenu{color:#ccc;}
.tituloTotalVemntas{margin-bottom: 40px; font-size: 24px;}
input.btnConfAdmin{float: left; font-size: 12px; background-color: #1777B6; color: #fff; border: none; height: 30px; padding: 0 30px; border-radius: 4px; font-family: 'HelveticaLTStd-Light'; line-height: 30px; -webkit-transition: all .3s; -moz-transition: all .3s; 
-o-transition: all .3s; transition: all .3s; cursor: pointer;}

input.btnConfAdmin:hover{ background-color: #105f92;}
#titulo h3{font-size: 30px; font-weight: lighter; color: #000; font-family: 'HelveticaLTStd-Light'; margin-top: 0px;}
#titulo h3 i{color:#10B2CC; margin-top: 0;}

#add_fields h2{font-size: 24px; color: #000; margin-top: 0; font-family: 'HelveticaLTStd-Light';}
.contDatosTips{float: left; margin-bottom: 10px;}
.contLog{float: left; width: 100%;}
.filaLog{float: left; width: 100%; margin-bottom: 5px; border-bottom: solid 1px #F4F4F4;}
.filaLog span{margin-right: 3px;}
.filaLog .fechaLog{color: #0D7427; font-family: 'HelveticaLTStd-Bold';}
.filaLog .accion{ color: #2E2598; font-family: 'HelveticaLTStd-Bold';}
.tituloLogs{float: left; width: 100%; margin: 0 0 10px 0; font-size: 14px; color: #000;}
li.currentSub a{color: #1fb5ad!important;}
.verde{color:#10C2AA;}
.rojo{color:#c21010;}

ul.submenuList{float: left; margin: 0; padding: 0; width: 100%; list-style-type: none;}
ul.submenuList li{float: left; margin: 0; padding: 0; width: 100%; position: relative;}
ul.submenuList a{float: left; width: 100%;}
ul.submenuList a i{font-size: 18px;}
ul.submenuList li:hover > ul{display: block;}
ul.submenuList li ul{position: absolute; z-index: 2; right: 20px; top: 10px; background-color: #fff; float: left; margin: 0; padding: 5px 10px; width: 30px; display: none; list-style-type: none; border: solid 1px #333;}
ul.submenuList li ul::before{ content:""; width:0px; height:0px; border-bottom:8px solid transparent; border-top:8px solid transparent; border-left:8px solid #333; font-size:0px; line-height:0px; right: -8px; top: 0; position: absolute;}
.iconoMenu{font-size: 20px; color: #333;}
ul.submenuList ul li{text-align: center;}


.contEnvioNotificacion{float: left; width: 100%;}
#reenvioNotificacion{float: left; width: 90%; margin-left: 5%; margin-top: 30px;}
.contEnvioNotificacion h2{float: left; width: 100%; padding: 0; margin: 0 0 10px 0; font-size: 30px; color: #000; font-family: 'HelveticaLTStd-Light';}
.contEnvioNotificacion h4{float: left; width: 100%; padding: 0; margin: 0 0 30px 0; font-size: 14px; color: #000; font-family: 'HelveticaLTStd-Light';}
.campoNotificacion{float: left; width:calc(100% - 42px)!important; border: solid 1px #ccc; height: 45px; padding: 0 20px; margin-bottom: 10px; }
.btnEnvioNotificacion{float: left; height: 40px; line-height: 40px; background-color: #10C2AA; color: #fff; padding: 0 20px; border-radius: 3px; text-decoration: none; margin-bottom: 30px;}
.btnEnvioNotificacion:hover{background-color: #0ca28e;}

#mensajeRespuesta{float:left; width:calc(100% - 10px);}

a.btnBotonera{float: right; padding: 0 10px; margin-right: 5px; background-color: #1777B6; height: 28px; color: #fff; border-radius: 3px; margin-bottom: 3px; font-weight: lighter; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s;     transition: all .3s;}
a.btnBotonera i{color: #fff;}
a.btnBotonera:hover{background-color:#0e5a8c;}

input:disabled {
	color: #999!important;
	background-image: url(../pics/lock-solid.svg);
	background-position: 95% center;
	background-repeat: no-repeat;
	background-size: 4%;
}
.sp-colorize-container{height: 28px; z-index: 99; position: absolute;}
.sp-colorize{height: 28px;}




#tab-valores h3{font-size: 14px; font-family: 'HelveticaLTStd-Bold';}
.ui-widget-content a.btnModificarListasPrecios{float: left; width: 150px; text-align: center; color: #fff; height: 29px; line-height: 29px; border-radius: 3px; cursor: pointer; background-color: #1777B6; color: #fff; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; margin-bottom: 15px;}
.ui-widget-content a.btnModificarListasPrecios:hover{background-color: #1169A6;}
