@charset "UTF-8";

body            {background:#FCFCFC;  margin:0; padding:0; font-family: 'HelveticaLTStd-Light'; color:#545353; }

/* ---------  contenedor total --------- */
.wrap           { width:100%; height:100%; position:absolute;}
.center         { margin:auto; max-width:1366px; height:auto; display:block; }

/* login y envoltorio login */
.login { background-color:rgba(255,255,255,1);
	text-align:center; 
	width:35%; 
	padding: 30px;
	border-radius: 10px;
	margin:auto;  
	position: absolute;
	right: 50px; 
	top: 30px;  
	
	overflow:hidden; 
}
.tituloLogin{float: left; width: 100%; font-size: 35px; text-align: left; margin:  0 0 10px 0; font-family: 'HelveticaLTStd-Bold'; color: #000;}
.subtituloLogin{float: left; width: 100%; text-align: left; margin:  0 0 30px 0;}
.formLogin{float: left; width: 100%;}

.logo { float: left; margin-left: 50px; margin-top: 50vh;}
.login form               {  }
.login form input         { width:calc(100% - 2px); height:50px; margin-bottom:17px; border-bottom:1px solid #C8C8C8; color:#656565; -padding:0 0px; font-size:24px; background: #fff; margin-top: 25px;}
.login form .user         { background-color:white; }
.login form .pass         { background-color:white; }

.login form .accede       { background:#3646FF; color:white; border:none; text-align:center; padding:0 30px; height: 40px; cursor:pointer; font-family: 'HelveticaLTStd-Bold'; font-size: 16px; margin-top: 0; margin-bottom: 30px; width: auto; float: right; -webkit-transition: all .3s; -moz-transition: all .3s; -o-transition: all .3s; transition: all .3s; border-radius: 20px; cursor: pointer;}
.login form .accede + div { display:block; margin:auto; height:35px; overflow:hidden; width:100%; }
.login form .accede:hover { background:#4F5EFF; }
.login form .check        { background:url(../pics/checkbox.fw.png) no-repeat; width:24px; height:24px; float:left; margin:0; }
.login form .check + p    { font-size:12px; width:167px; float:left !important ; color:#666; line-height:14px;  }


.login  div.checker{ float:left;  margin-left: 83px;}

.login .footer2            { background:url(../pics/borde-top-login-footer.gif) repeat-x !important; width:100%;   margin: 13px 0 0 0; padding-top:10px !important; float: left; text-align: center;}
.login .footer .para      { font-size:13px; line-height:17px; color:#666; }
.login .de                { font-size:13px; line-height:15px; color:#252525 !important; margin-top:7px !important; width:100%; text-align:center; }
div.tabla span, p            { float:left; font-size:12px; width: 100%; }
#fwp{
	z-index:999;
}
.boton2 {
	float:left;
	width:40%!important;
	text-align:center;
	margin-right:10%!important;
	padding:0!important;
	margin:0!important;
}
.msj_recuperar {
	float:left;
	width:290px;
	margin-left:20px;
	margin-bottom:10px;
	color:#666;
	text-align:left;
}
.cancelar {
	height:38px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	line-height:38px;
	margin-left:23px!important;
}
#error {
	color:#F00;
	font-weight:bold;
	font-size:12px;
}
.ui-button-text {
	font-size:12px;
}
.ncam {color: #06F;}




